<?php
$_helper = $this->helper('catalog/output');
$characteristics=$this->getAdditionalData();
$_product = $this->getProduct();
?>
<div class="characteristics">
    <?php foreach ($characteristics as $attr):?>
        <div class="characteristic">
            <?php

            /*
            echo '<pre>$attr';
            print_r($attr);
            echo '</pre>';*/

            echo $attr['label'];?>:&nbsp;
            <?php
            if ($attr['url']!=''):
            ?><a href="<?php echo $attr['url'];?>" class="characteristic-value"><?php echo $_helper->productAttribute($_product, $attr['value'], $attr['code']); ?></a>
                <?php else: ?>
                <span><?php echo $_helper->productAttribute($_product, $attr['value'], $attr['code']); ?></span>
            <?php endif;?>
        </div>
    <?php endforeach;?>
    <!--<div class="characteristic">
        Тип двигателя:&nbsp;<span class="characteristic-value">Бензиновый</span>
    </div>
    <div class="characteristic">
        Напряжение:&nbsp;<span class="characteristic-value">220 В</span>
    </div>-->
    <a class="characteristic-more btn-border btn-blue--border" href="#specifications">Все характеристики</a>
</div>