
<?php
$_helper = $this->helper('catalog/output');
$characteristics=$this->getAdditionalData();
$_product = $this->getProduct();
if(count($characteristics)>0):
?>
<div class="products-tab--container">
    <div class="box box-info">
        <div class="box-head">
            <div class="box-head--title">
                Обратите внимание
            </div>
            <div class="product-name">

            </div>
        </div>
        <div class="box-inner">
            <?php foreach ($characteristics as $feature):
               ?>

            <div class="container">
                <div class="box-inner--info">
                    <div class="box-inner--info_text">
                        <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/product/info.svg" alt="info-img" />
                        <?php echo $feature['label'];?>
                        <?php if ($feature['tooltip']!=''):?>
                        <div class="box-inner--info_text__more">
                            ?
                            <div class="tringle"><div></div></div>
                            <span>
                                                    <?php echo $feature['tooltip'];?>
                                                </span>
                        </div>
                    <?php endif;?>
                    </div>
                    <div class="box-inner--info_text box-inner--info_text__blue">
                        <?php echo $feature['value'];?>

                    </div>
                </div>
            </div>
            <?php endforeach;?>


        </div>
    </div>
</div>
<?php endif;?>