<?php
$layout=Mage::app()->getLayout();
$products=$this->getProducts();
$category=$this->getCategory();
if (count($products)>0):
    $list_w = $list_h = 350;
?>
<style>

</style>
<div class="pin-products">

    <?php if ($category):?>
        <h2 class="title title-deal">Самые продаваемые <?=mb_strtolower($category->getName());?></h2>
    <?php else: ?>
        <h2 class="title title-deal">Самые продаваемые товары</h2>
    <?php endif;?>

    <?php $i=1;
    foreach ($products as $product):


        $prod = Mage::getModel('catalog/product')->load($product->getId());
        $url = $product->getProductUrl();
        $is_available = $product->isAvailable();
        $features = Mage::helper('ukrsnab/data')->getFeatures($product);
        $image = Mage::helper('catalog/image')->init($product, 'image')->resize($list_w, $list_h);

        ?>
    <div class="cart cart-pin">

        <?php switch($i){
            case '4':
            case '1':
                ?>
                <div class="cartp-pin--border" style="background: #36A041"></div>
            <?php
                break;
            case '5':
            case '2':
                ?>
                <div class="cartp-pin--border" style="background: #FF0000"></div>
            <?php
            break;
            case '6':
            case '3':
                ?>
                <div class="cartp-pin--border" style="background: #FF9900"></div>
            <?php
            break;
        }?>

        <!--<div class="cart-favorite">
            <img src="img/cart-favorite.svg" alt="favorite-img" />
        </div>
-->
        <a class="cart-inner" href="<?php echo $url;?>">

            <div class="cart-img">
                <img src="<?php echo $image;?>"  class="cwslazyloader" data-src="<?php echo $image;?>" alt="cart-img" />
            </div>
<!--            --><?php //echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?><!--img/loading.gif-->

            <!--<div class="cart-tags">
                <div class="cart-tag" style="background: #FF9900">
                    Акция
                </div>
                <div class="cart-tag" style="background: #365FA0">
                    уценка
                </div>
            </div>-->
            <?php
            $labelsBlock = $layout->createBlock('labels/catalog_product','product_labels',
            ['template'=>'databunch/labels/catalog/product.phtml']);
            //$labelsBlock = $this->getChild('product_labels'); ?>
            <?php if ($labelsBlock): ?>
                <?php echo $labelsBlock->setProduct($product)->toHtml(); ?>
            <?php endif; ?>


            <div class="cart-title">
                <?php echo $product->getName(); ?>
            </div>

            <div class="cart-price">
                <?php echo $this->getPriceHtml($product, true) ?>

            </div>


        </a>

        <div class="cart-more">
            <div class="cart-more--header">
                <?php
                if ($is_available):
                    ?>
                    <div class="availability" style="color: #36A041">Есть на складе
                    </div>
                <?php else: ?>
                    <div class="availability" style="color: #FF0000">Нет в наличии
                    </div>
                <?php endif; ?>
                <div class="cart-id">
                    Код:&nbsp;<span class="cart-id--value"><?php echo $product->getSku(); ?></span>
                </div>
            </div>

            <?php
            $entityType = 4;
//            $_product = Mage::getModel('catalog/product')
//                ->setStoreId(Mage::app()->getStore()->getId())
//                ->load($product->getId());


            foreach ($features as $feature) {
                $feature=trim($feature);
                if ($feature != '') {

                    //

                    if (!is_array($prod->getAttributeText($feature))) $value= trim($prod->getAttributeText($feature));
                    if ($value == '') {

                        $value = trim($prod->getData($feature));
                    }

//                    $value= $product->getAttributeText($feature);
//                    if ($value == '') {
//
//                        $value = $product->getData($feature);
//                    }
                    if ($value != '') {


                        $attributeLabel = Mage::getModel('eav/entity_attribute')
                            ->loadByCode($entityType, $feature);

                        if ($attributeLabel) {
                            $label = $attributeLabel->getFrontendLabel();

                            if ($value != '') {

                                //$value= $prod->getAttributeText($feature);
                                $class = 'characteristic';
                                ?>
                                <div class="<?php echo $class; ?>">
                                    <?php echo $label; ?>:&nbsp;<span
                                        class="characteristic-value"><?php echo $value; ?></span>
                                </div>
                                <?php
                            }
                        }
                    }
                }

            } ?>
            <?php
            $url_add_cart = $this->getAddToCartUrl($product);
            $url_add_cart = str_replace('checkout', 'cartcheckout', $url_add_cart);
            ?>
            <a href="<?php echo $url_add_cart; ?>" class="btn btn-blue">Купить</a>
        </div>
    </div>
    <?php $i++;
    endforeach;?>

</div>
<?php endif;?>