<?php $city = $this->getCitypharma();
$count_pharms=$this->getCountPharms();

?>
<a class="pre-w-l-title-2" href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i>Сеть из <?php echo $count_pharms; ?> аптек</a>
<ul class="pre-w-l-list-2">
    <?php foreach ($city as $c) {
        $url = '/storelocations/'.$c['code'];
        ?>
        <li>
            <a href="<?php echo $url; ?>"><?php echo $c['name']; ?></a>
        </li>
        <?php
    }
    ?>

</ul>