<?php

?>

<?php
$cities = Mage::helper('storelocator')->getCities();
$current_city = Mage::helper('storelocator/data')->getCurrentCity();
$currentUrl = $this->getData('current_url');

if ($currentUrl == '') $currentUrl = Mage::helper('core/url')->getCurrentUrl();


?>
<div class="locationcity">
    <div class="currentcity">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        <span class="namecitycurrent">
            <?php echo $current_city['name']; ?></span>
    </div>

    <div class="choosecity hide">
        <input id="autocompete_city_header" data-current-url="<?php echo $currentUrl; ?>" placeholder="Введите город"/>
        <div class="content_autocomplete_city">
            <ul>
                <?php foreach ($cities as $city): ?>
                    <li><a data-current-url="<?php echo $currentUrl; ?>"
                           data-code="<?php echo $city->getCityCode();//CityCode();?>"
                           data-name="<?php echo $city->getCityName(); ?>"
                           href="javascript:void(0)"><?php echo $city->getCityName(); ?></a></li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>


