<?php

$current_city = Mage::helper('storelocator/data')->getCurrentCity();

$city_name=$current_city['name'];
if ($city_name=='Default city')
    $city_name='Киев';
$currentUrl = $this->getData('current_url');
if ($currentUrl == '') $currentUrl = Mage::helper('core/url')->getCurrentUrl();
?>


<a class="callback" href="#" onclick="ringostatAPI.openCallbackForm()" >Вам перезвонить?</a>

<div class="location">
    <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/location.svg" alt="location" />
    Ваш город:
    <a class="callback location-city" href="">
        <?php echo $city_name;?>
    </a>
</div>



