
<?php
$main_phone=Mage::helper('storelocator/data')->getPhonemain();
$phones=Mage::helper('storelocator/data')->getPhones();
$currentphone='';$currentcode='';

$helper = Mage::helper('ukrsnab/data');

$working_hours=$helper->getWorkinghours();
//$is_mobile = $helper->isMobile();
/*if ($is_mobile):?>


<ul class="phone_in_modal">
    <?php $i=0;foreach ($phones as $phone):
        $i++;
        ?>
        <li><a href="tel:<?php echo $phone->getPhone();?>">

                <span class="<?php echo $phone->getCode()?>"></span>
                <?php echo $phone->getPhone();?>
            </a>
        </li>
    <?php endforeach;?>

</ul>
<?php else: ?>



<?php endif; */ ?>


<?php

$phone_arenda=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_arenda');
$phone_remont=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_remont');
$phone_prodasha_lulek=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_prodasha_lulek');
$phone_prodasha=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_prodasha');
$phone_buhgalteria=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_buhgalteria');


   $remont_ringostat=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/remont_ringostat');
        $arenda_ringostat=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/arenda_ringostat');
        $prodasha_lulek_ringostat=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/prodasha_lulek_ringostat');
        $prodasha_ringostat=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/prodasha_ringostat');
        $buhgalteria_ringostat=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/buhgalteria_ringostat');



$main_ringostat=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/main_ringostat');

if ($main_phone!=''){
?>
<div class="number number-main">
    <img class="number-icon" src="<?php echo $helper->getSkinUrl();?>img/phone.svg" alt="number-icon"/>
    <div class="<?php echo $main_ringostat;?>">
        <a href="tel:<?php echo $main_phone;?>"><?php echo $main_phone;?></a></div>
</div>
<?php } ?>

<div class="numbers--inner">

    <?php if ($working_hours!=''):?>
    <div class="short-description short-description--main"><?php echo $working_hours;?></div>
    <?php endif;?>

    <?php /*if ($phone_arenda!=''):?>
    <div class="number">
        <div class="<?php echo $arenda_ringostat;?>"><a href="tel:<?php echo $phone_arenda;?>"><?php echo $phone_arenda;?></a></div>
        <div class="short-description">отдел проката<?php //echo $working_hours;?></div>
    </div>
    <?php endif;?>

    <?php if ($phone_prodasha!=''):?>
    <div class="number">
        <div class="<?php echo $prodasha_ringostat;?>"><a href="tel:<?php echo $phone_prodasha;?>"><?php echo $phone_prodasha;?></a></div>
        <div class="short-description">отдел продаж<?php //echo $working_hours;?></div>
    </div>
    <?php endif;?>

    <?php if ($phone_prodasha_lulek!=''):?>
    <div class="number">
        <div class="<?php echo $prodasha_lulek_ringostat;?>"><a href="tel:<?php echo $phone_prodasha_lulek;?>"><?php echo $phone_prodasha_lulek;?></a></div>
        <div class="short-description">отдел продаж люлек<?php //echo $working_hours;?></div>
    </div>
    <?php endif;?>


    <?php if ($phone_remont!=''):?>
    <div class="number">
        <div class="<?php echo $remont_ringostat;?>"><a href="tel:<?php echo $phone_remont;?>"><?php echo $phone_remont;?></a></div>
        <div class="short-description">отдел ремонта<?php //echo $working_hours;?></div>
    </div>
    <?php endif;?>

    <?php if ($phone_buhgalteria!=''):?>
    <div class="number">
        <div class="<?php echo $buhgalteria_ringostat;?>"><a href="tel:<?php echo $phone_buhgalteria;?>"><?php echo $phone_buhgalteria;?></a></div>
        <div class="short-description">бухгалтерия<?php //echo $working_hours;?></div>
    </div>
    <?php endif;*/?>


    <?php /*if (isset($phones['phone_kievstar'])):?>
    <div class="number">
        <img class="number-icon" src="<?php echo $helper->getSkinUrl();?>img/v-p.svg" alt="number-icon" />
        <a href="tel:+38067 753-04-38"><?php echo $phones['phone_kievstar'];?></a>
        <?php if ($working_hours!=''):?><div class="short-description"><?php echo $working_hours;?><!--с 9:00 до 19:00 Бесплатно по Украине--></div><?php endif;?>
    </div>
    <?php endif;?>
    <?php if (isset($phones['phone_life'])):?>
    <div class="number">
        <img class="number-icon" src="<?php echo $helper->getSkinUrl();?>img/k-s.svg" alt="number-icon" />
        <a href="tel:+38067 753-04-38"><?php echo $phones['phone_life'];?></a>
        <div class="short-description"></div>
    </div>
    <?php endif;?>

    <?php if (isset($phones['phone_vodafon'])):?>
    <div class="number">
        <img class="number-icon" src="<?php echo $helper->getSkinUrl();?>img/l-e.svg" alt="number-icon" />
        <a href="tel:+38067 753-04-38"><?php echo $phones['phone_vodafon'];?></a>
        <div class="short-description"></div>
    </div>
    <?php endif;*/?>


</div>

<img class="numbers-arrow" src="<?php echo $helper->getSkinUrl();?>img/arrow.svg" />





