<?php
$phones=Mage::helper('storelocator/data')->getPhones();
$currentphone='';
?>
<ul class="list">
    <?php $i=0;foreach ($phones as $phone):
        $i++;
        if ($i==1)$currentphone=$phone->getPhone();?>
        <li>
            <img src="<?php echo Mage::getDesign()->getSkinUrl();?>images/d-icon-<?php echo $phone->getCode()?>.png" alt="Икокна" />
            <span itemprop="telephone"><a href="tel:<?php echo $phone->getPhone();?>"><?php echo $phone->getPhone();?></a></span>
        </li>
    <?php endforeach;?>
</ul>