<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Fpccrawler
 */
?>
<ul class="messages">
    <li class="notice-msg">
        <ul>
            <li>
                <span>Find the explained stats in the <a href="https://amasty.com/docs/doku.php?id=magento_1%3Afull_page_cache&utm_source=extension&utm_medium=link&utm_campaign=fpc-userguide-pagescrawl#pages_crawled" target="_blank">user guide</a>.</span>
            </li>
        </ul>
    </li>
</ul>
<?php if ($this->getCrawled()): ?>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages': ['corechart']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Pages');
            data.addRows([
                <?php
                    foreach($this->getCrawled() as $item) {
                        echo "[ '". strftime('%G/%m/%d',$item['day'])."', ". $item['count']."], \r\n";
                    }
                ?>
            ]);
            // Set chart options
            var options = {
                'title': 'Pages crawled',
                'width': 1000,
                'height': 563,
                pointSize: 5,
                curveType: 'function'
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('amfpccrawler_chart_crawled'));
            chart.draw(data, options);
        }
    </script>
    <div id="amfpccrawler_chart_crawled"></div>
<?php else: ?>
    <div id="amfpccrawler_chart_crawled">There are no stats available for now.</div>
<?php endif; ?>
