<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Fpccrawler
 */
?>
<?php if (!$this->getForAdminNotice()): ?>
<ul class="messages">
    <li class="notice-msg">
        <ul>
            <li>
                <span>Find the explained stats in the <a href="https://amasty.com/docs/doku.php?id=magento_1%3Afull_page_cache&utm_source=extension&utm_medium=link&utm_campaign=fpc-userguide-queueproc#queue_processing" target="_blank">user guide</a>.</span>
            </li>
        </ul>
    </li>
</ul>
<?php endif; ?>
<?php if ($data = $this->getProcessing()): ?>
    <?php if ($this->getForAdminNotice()): ?>
        <b>Current queue approximate processing time is <?php echo date("i", $data['queueProcessingTime']); ?> minutes</b>.
        Click here for <a href="<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/amfpccrawler_stats') ?>">detailed info</a>.
    <?php else: ?>
        <div class="amfpccrawler processing">
            <div>
                <b>Approximate queue time processing:</b><br/>
                <b> - all queue</b>: <b><?php echo date("H:i:s", $data['queueProcessingTime']); ?></b><br/>
                <b> - one cron job</b>: <b><?php echo date("H:i:s", $data['cronProcessingTime']); ?></b><br/>

                <div class="stats" style="padding-top: 10px;">
                    <ul>
                        <li>Queue URLs count: <b><?php echo $data['queueRowsCount']; ?></b> links</li>
                        <li>Average processing time per URL: <b><?php echo round($data['avgProcessingTime'], 1); ?></b> seconds</li>
                        <li>Number of options for each URL retrieve: <b><?php echo $data['urlOptionsCount']; ?></b> variants</li>
                    </ul>
                </div>
            </div>
        </div>
    <?php endif; ?>
<?php else: ?>
    <div id="amfpccrawler_chart_time">There are no stats available for now.</div>
<?php endif; ?>
