<?php
$category=$this->getCategory();
if ($category){
?>
<section class="repair-page">
    <div class="wrapper wrapper-repair--page">
        <div class="repair-page">
            <div class="page-description">
                <?php
                echo $category->getDescription();
                ?>
                <!--Для проведения небольших обьемов строительных работ и в других случаях когда строительное оборудование
                необходимо на небольшие сроки мы предлагаем Вам воспользоваться услугами отдела проката строительного
                оборудования компании "Укрснаб"-->
            </div>
            <div class="rent-advatages">
                <div class="rent-advatages--title">
                    Преимущества аренды у нас:
                </div>
                <div class="rent-advatages--items">
                    <div class="rent-advatages--item">
                        <div class="box">
                            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-c.svg"  class="rent-advantages--connect" alt="conntect-img" />
                            <div class="rent-advatages--item__img">
                                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-1.svg" alt="advantages-img" />
                            </div>
                            <div class="rent-advatages--item__desc">Минимальный залог</div>
                        </div>
                    </div>
                    <div class="rent-advatages--item">
                        <div class="box">
                            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-c.svg"  class="rent-advantages--connect" alt="conntect-img" />
                            <div class="rent-advatages--item__img">
                                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-2.svg" alt="advantages-img" />
                            </div>
                            <div class="rent-advatages--item__desc">Круглосуточная техническая поддержка</div>
                        </div>
                    </div>
                    <div class="rent-advatages--item">
                        <div class="box">
                            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-c.svg"  class="rent-advantages--connect" alt="conntect-img" />
                            <div class="rent-advatages--item__img">
                                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-3.svg" alt="advantages-img" />
                            </div>
                            <div class="rent-advatages--item__desc">Доставка по Киеву и Киевской области</div>
                        </div>
                    </div>
                    <div class="rent-advatages--item">
                        <div class="box">
                            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-c.svg"  class="rent-advantages--connect" alt="conntect-img" />
                            <div class="rent-advatages--item__img">
                                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-4.svg" alt="advantages-img" />
                            </div>
                            <div class="rent-advatages--item__desc">Монтаж и установка специалистами компании</div>
                        </div>
                    </div>
                    <div class="rent-advatages--item">
                        <div class="box">
                            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-c.svg"  class="rent-advantages--connect" alt="conntect-img" />
                            <div class="rent-advatages--item__img">
                                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/rent/r-adv-5.svg" alt="advantages-img" />
                            </div>
                            <div class="rent-advatages--item__desc">Минимальный пакет документов</div>
                        </div>
                    </div>
                </div>
                <a href="#" onclick="ringostatAPI.openCallbackForm()" class="btn btn-blue">Заказать звонок по аренде</a>
            </div>
            <div class="repair-items">

                <?php $_imgSize = 210; ?>
                <?php

                $list_of_products=$this->getList();
                foreach ($list_of_products as $product):
                   ?>



                <div class="repair-item">
                    <div class="repair-item--container">
                        <div class="repair-item--inner">
                            <div class="repair-item--iner__image img-box">
                                <a href="<?php echo $product->getProductUrl() ?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize($_imgSize); ?>" alt="repair-item-image" />
                                </a>
                                <!--img/product/viewer-img.png-->
                            </div>
                            <div class="repair-item--inner__title">
                                <a href="<?php echo $product->getProductUrl() ?>"><?php echo $product->getName();?><!--Ремонт и обслуживание глубинных вибраторов-->
                                </a>
                            </div>
                            <a href="#" onclick="ringostatAPI.openCallbackForm()" class="callback callback-orange repair-item--iner__callback">
                                Заказать звонок
                            </a>
                        </div>
                    </div>
                </div>
                <?php endforeach;?>

            </div>
        </div>
    </div>
</section>

<?php } ?>

