<ol>
    <?php foreach ($this->getItems() as $_item): ?>
        <li>sdcdsvasdv
            <?php if ($_item->getCount() > 0): ?>
                <a class="no-ajax" href="<?php echo $this->urlEscape($_item->getUrl()) ?>">
                    <?php echo $_item->getLabel() ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <span>
                <?php echo $_item->getLabel(); ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
            </span>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
