<?php
/**
 * To use in product listing or product view media call
 * echo $this->getChild('product_labels')->setProduct($product)->toHtml();
 * from catalog/product/list.phtml 
 * or 
 * from catalog/product/view/media.phtml
 * 
 * To use in another page add this template at page layout
 */
?>

<?php if ( $this->isSale() || $this->isAction()|| $this->isNew() || $this->isFeatured() ): ?>
	<?php $locationClass = $this->getLocationClass(); ?>
    <div class="cart-tags">
<?php endif; ?>

<?php if ($this->isSale()): ?>
    <?php $saleStyle = "background:" . $this->getSaleBackgroundColor() . "; color:" . $this->getSaleTextColor() . ";" ?>
    <div class="cart-tag" style="<?php echo $saleStyle ?>">
        <?php echo $this->getSaleText() ?>
    </div>
<?php endif; ?>

<?php if ($this->isNew()): ?>
	<?php $newStyle = "background:" . $this->getNewBackgroundColor() . "; color:" . $this->getNewTextColor() . ";" ?>
	 <div class="cart-tag" style="<?php echo $newStyle ?>"><?php echo $this->getNewText() ?></div>
<?php endif; ?>

<?php if ($this->isFeatured()): ?>
    <?php /* featured product */ ?>
    <?php $featuredStyle = "background:" . $this->getFeaturedBackgroundColor() . "; color:" . $this->getFeaturedTextColor() . ";" ?>

    <div class="cart-tag" style="<?php echo $featuredStyle ?>"><?php echo $this->getFeaturedText() ?></div>
<?php endif; ?>


<?php if ($this->isAction()): ?>
    <?php $actionStyle = "background:" . $this->getActionBackgroundColor() . "; color:" . $this->getActionTextColor() . ";" ?>

    <div class="cart-tag" style="<?php echo $actionStyle ?>"><?php echo $this->getActionText() ?></div>
<?php endif; ?>

<?php if ( $this->isSale() || $this->isAction()|| $this->isNew() || $this->isFeatured() ): ?>
	</div>
<?php endif; ?>