.wrapper.wrapper-page--info h1 {
    font-size: 24px
}

.oneclick-buy .oneclick-buy--input {
    margin-bottom: 0 !important
}

.category-page--main {
    margin-bottom: 60px
}

.footer-nav .footer-nav--item .footer-nav--item_link:before {
    left: 0;
    background-image: url(../img/footer-nav-arrow.svg)
}

.catalog-item--head_img svg path {
    stroke: #fff !important
}

@media screen and (min-width: 768px), all {
    .catalog-item--inner {
        height: 280px !important
    }

    .wrapper.wrapper-catalog .catalog-item--inner {
        height: auto !important
    }
}

.arenda-grid .post-thumbnail {
    float: left;
    width: 30%;
    margin: 0 20px 20px 0
}

.arenda-grid .page-grid--main {
    max-width: 100%
}

.arenda-grid .page-grid--main ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: 20px
}

@media screen and (min-width: 1360px), all {
    .arenda-grid .page-grid--main {
        max-width: 100%
    }
}

@media screen and (max-width: 1060px) {
    .arenda-grid .post-thumbnail {
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .repair-item--more {
        height: 174px
    }

    .repair-item--more ul {
        height: 100px
    }
}

.arenda_contact_block .wrapper-products--tab {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px
}

.arenda_contact_block .wrapper-products--tab .products-tab--container {
    display: block;
    padding: 20px 0
}

.arenda_contact_block .wrapper-products--tab .products-tab--container .contacts-page--numbers {
    width: 100%;
    left: unset
}

.arenda_contact_block .wrapper-products--tab .products-tab--container .contacts-page--numbers .box {
    border-bottom: none;
    -ms-flex-align: left;
    align-items: unset;
    text-align: left;
    border-right: 1px solid #e5e5e5
}

.arenda_contact_block .cart-price .cart-price--main {
    margin-bottom: 0
}

.arenda_contact_block .contacts-page--numbers .box .contacts-page--numbers__item_phone {
    margin-bottom: 0
}

.arenda_contact_block .contacts-page--numbers .box .page-description {
    margin-bottom: 5px
}

.arenda_contact_block .cart-price .cart-price--main {
    font-size: 24px;
    line-height: 1.1
}

.arenda_contact_block .cart-price .cart-price--main .cart-price--val {
    line-height: 1.1
}

.arenda_contact_block .cart-price {
    margin-top: 5px
}

.arenda_contact_block .btn-buy--sticky {
    margin: 0
}

.arenda_contact_block .wrapper-products--tab .products-tab--container .contacts-page--numbers .contacts-page--numbers__item.no_border .box {
    border-right: none
}

.post-content p, .repair-page .page-description p, .wrapper-page--info.category-description h2, .wrapper-page--info.category-description p {
    margin-bottom: 15px;
    line-height: 1.5
}

.wrapper-page--info.category-description {
    margin: 30px 0
}

.wrapper-page--info span {
    font-weight: 500
}

@media screen and (min-width: 1200px) {
    .wrapper-blog--page .blog-page--item {
        padding: 0 15px;
        width: 33%
    }
}

.wrapper-hero--catalog {
    z-index: 9999999
}

.related-posts .related-post {
    margin-bottom: 10px
}

.related-posts .related-post a {
    cursor: pointer
}

.related-posts .related-post a:hover {
    text-decoration: underline
}

.wrapper-post--page .page-title {
    padding: 0 15px
}

.search-form .search-result {
    top: 0
}

.wrapper-hero {
    height: auto
}

.catalog-menu--category {
    height: 43px;
    height: 36px
}

.oneclick-buy.oneclick-buy--bsket {
    margin-bottom: 30px
}

.basket-page {
    padding-bottom: 30px
}

.cms-prodasha-storitelnoy-lulki .wrapper.wrapper-page--info {
    display: flex
}

.sticky-header .container-top--contacts {
    margin-right: 25px
}

.capability .capability-item {
    margin-bottom: 0
}

.capability .wrapper.wrapper-capability {
    padding: 40px 0
}

.numbers--inner .short-description {
    width: 100%
}

.contacts-page--numbers .box a {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    color: #444
}

.category-prokat .contacts-page--numbers .box a.btn-buy--sticky.btn.btn-blue, .category-remont .contacts-page--numbers .box a.btn-buy--sticky.btn.btn-blue {
    font-size: 18px;
    color: #fff;
    font-weight: 500
}

.numbers {
    font-size: 16px;
    width: 210px
}

.numbers .numbers--inner {
    width: 275px
}

.footer-contacts .numbers {
    font-size: 16px;
    width: 190px
}

.footer-contacts .numbers .numbers--inner {
    width: 245px
}

@media screen and (min-width: 1360px) {
    .cart {
        width: 20%
    }
}

@media screen and (min-width: 850px) {
    .cart {
        width: 20%
    }
}

@media screen and (max-width: 520px) {
    .products-tab .cart {
        width: 100% !important
    }
}

.deal-items .cart-title {
    height: 48px
}

.wrapper-cat--tabs .container {
    padding: 30px 20px
}

@media screen and (min-width: 1360px) {
    .wrapper-cat--tabs .container {
        width: 20%
    }
}

.wrapper-product--page .product-page--main .products-tab--container {
    margin-bottom: 50px
}

.catalog-menu--category_subcategories, .sticky-header .container-sticky--header .catalog-menu--category_subcategories {
    height: 440px;
    height: 625px;
    height: 699px;
}

.catalog-menu--category_subcategories .box-chunk {
    width: 50%
}

@media screen and (min-width: 768px) {
    .wrapper--sticky--header__product .numbers {
        width: 210px
    }
}

.hidden {
    display: none
}

.cart_topmenu .cart {
    width: 100%;
    border: 1px solid #e5e5e5;
    height: auto
}

.cart_topmenu .cart .cart-inner {
    height: auto;
    padding: 0
}

.cart_topmenu .cart .cart-img {
    height: 150px;
    width: 150px
}

.cart_topmenu .cart .cart-more {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bordeR: none;
    padding: 20px 30px
}

.cart_topmenu .cart .cart-tags {
    height: 26px
}

.cart_topmenu .cart .cart-more .cart-more--header {
    margin-bottom: 0
}

.cart_topmenu .cart .cart-more:before {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
    height: auto
}

.hero-items--slider_inner .item-inner {
    padding: 0
}

.wrapper-hero .hero-items--slider {
    height: auto;
    height: 420px !important
}

.owl-nav.disabled {
    display: none
}

@media screen and (min-width: 768px) {
    .catalog-item .catalog-item--list {
        height: 170px;
        overflow-y: hidden
    }
}

.catalog-menu--category_subcategories .subcategory-category .title {
    margin-bottom: 5px
}

.catalog-menu--category_subcategories .subcategory {
    margin-bottom: 10px
}

.catalog-menu--category_subcategories {
    overflow-y: hidden
}

.numbers .number a {
    font-size: 16px
}

.wrapper-page--info {
    padding: 15px
}

@media screen and (max-width: 768px) {
    .sidebar-item--delivery_container {
        margin-top: 40px
    }
}

.products-tab .deal-items .cart {
    width: 33.33%
}

@media screen and (max-width: 768px) {
    .capability .capability-item {
        margin-bottom: 15px
    }

    .deal-items .cart {
        transition: all .5s ease;
        width: 50%
    }

    .deal-items .cart {
        height: 220px;
        height: 390px;
        border: none;
        padding: 5px
    }

    .deal-items .cart .cart-inner {
        padding: 10px;
        border: 1px solid #e5e5e5;
        flex-direction: column
    }
}

.border-box--input, .border-box--text {
    color: #333
}

.catalog-menu--category_subcategories .subcategory-category {
    padding: 0 0 0 30px;
    padding: 0 0 0 20px
}

.catalog-menu--category_subcategories .subcategory-category .title {
    font-size: 14px
}

.catalog-menu--category_subcategories .subcategory-category--page {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px
}

.catalog-menu--category {
    height: 36px !important
}

.catalog-menu--category:first-child {
    height: 44px !important
}

.catalog-menu--category_subcategories {
    height: 662px;
    height: 699px;
    padding: 20px 0 20px
}

.deal.deal-homepage {
    padding-top: 30px
}

.cart-img {
    width: 100%;
    height: 200px
}

.wrapper-product--page .product-page--main .box .box-inner--info_text__blue {
    width: 50%
}

.wrapper-product--page .product-page--main .box .box-inner--info_text {
    width: 50%
}

.ajax_update-container {
    width: 80%;
    display: flex
}

.ajax_update-container .cart {
    width: 25%
}

.cart-img img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%
}

.wrapper-product--page .viewer .viewer-large .viewer-large--image img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%
}

.onestepcheckout-index-success .wrapper-grid {
    padding-top: 30px
}

@media screen and (min-width: 768px) {
    .wrapper-category--page .pin-products .cart {
        width: 25%
    }
}

@media screen and (max-width: 768px) {
    .wrapper-cat--tabs, .wrapper-cat--tabs .title {
        display: block
    }

    .deal-items .cart {
        height: 390px
    }

    .deal-items .cart .cart-title {
        height: 48px
    }

    .cart-more--header {
        display: block;
        margin-bottom: 0
    }

    .cart-more, .cart-more:before {
        position: initial !important
    }

    .btn.buy_product_list {
        position: absolute;
        bottom: 10px
    }

    .wrapper-category--page .category-main--products_list .cart {
        position: relative
    }

    .cart-more .btn {
        margin-top: 5px;
        width: calc(100% - 20px)
    }

    .cart .characteristic, .cart .manufacturer, .cart .weight {
        line-height: 16px;
        font-size: 11px
    }

    .deal-items .cart .cart-tags {
        height: auto
    }

    .deal-items .cart .cart-tags .cart-tag {
        font-size: 8px
    }

    .deal-items .cart .cart-img img {
        width: 100%
    }

    .cart-img img {
        width: auto;
        max-width: 100%;
        height: auto
    }

    .wrapper-category--page .category-page--main .cart {
        height: 400px
    }

    .cart-more {
        position: relative;
        top: unset;
        padding: 0;
        left: unset;
        right: unset;
        border: none;
        padding: 5px
    }

    .wrapper-category--page .category-page--main .cart-title {
        height: 53px;
        height: 56px;
        overflow: hidden
    }

    .wrapper-category--page .category-main--products_list .cart {
        border: 1px solid #e5e5e5;
        border-bottom: none;
        border-left: none
    }

    .wrapper-category--page .category-main--products_list .cart:nth-child(even) {
        border-right: none
    }

    .wrapper-category--page .category-page--main .cart-inner {
        border: none;
        height: auto
    }

    .deal-items .cart .cart-img {
        width: 100%;
        height: auto
    }

    .wrapper-product--page .viewer .viewer-large, .wrapper-product--page .viewer .viewer-large .viewer-large--image {
        height: auto
    }

    .catalog-menu--category_subcategories {
        display: none
    }

    .popup-menu--item__catalog_items {
        background: 0 0
    }

    .wrapper-product--page .product-page--main .box .box-inner--info_text__blue {
        width: auto
    }

    .wrapper-product--page .product-page--main .box .box-inner--info_text {
        width: auto
    }
}

@media screen and (max-width: 480px) {
    .catalog-menu--category_thumbnails {
        display: none
    }

    .catalog-menu--category_subcategories {
        position: relative;
        top: unset;
        left: unset;
        display: block;
        right: unset;
        height: auto;
        padding: 0;
        margin-top: 15px;
        border: none;
        background: 0 0;
        display: none
    }

    .catalog-menu--category_subcategories .box {
        display: block;
        width: 100%
    }

    .catalog-menu--category_subcategories .box .box-chunk {
        display: block;
        width: 100%;
        padding-left: 43px
    }

    .catalog-menu--category_subcategories .box .box-chunk .subcategory {
        display: block;
        width: 100%;
        margin-bottom: 10px
    }

    .catalog-menu--category_subcategories .subcategory:last-child {
        margin-bottom: 10px
    }

    .catalog-menu--category_subcategories .box .box-chunk .subcategory .subcategory-category {
        display: block;
        width: 100%;
        padding: 0
    }

    .catalog-menu--category .category-icon, .catalog-menu--category a.catalog-menu--category_name {
        display: inline-flex;
        vertical-align: middle
    }

    .catalog-menu--category_subcategories .box .box-chunk .subcategory .subcategory-category .subcategory-category--page {
        display: none
    }

    .catalog-menu--category_subcategories.active_menu {
        opacity: 1;
        display: block
    }

    .catalog-menu--category {
        padding: 0;
        display: block;
        width: 300px;
        margin-bottom: 10px
    }

    .catalog-menu--category .category-icon {
        width: 26px
    }

    .catalog-menu--category, .catalog-menu--category:first-child {
        height: auto !important
    }

    .wrapper--sticky--header__product .numbers {
        font-size: 14px;
        width: 160px
    }

    .numbers .number a {
        font-size: 13px
    }
}

.wrapper-hero--items {
    overflow: hidden
}

.load_products_category_home.active {
    color: #365fa0;
    border-bottom: 1px solid #e5e5e5
}

.loading {
    background: #fff url(../img/ajax-loader.gif) 50% 50% no-repeat;
    opacity: .4;
    z-index: 99999
}

@media screen and (min-width: 1366px) {
    .catalog-menu--category_subcategories {
        right: 0
    }
}

body .popup-menu--item__catalog_head:after {
    top: 0
}

body .catalog-menu--category_subcategories {
    transition: none !important
}

.hero .catalog-menu--category {
    margin-bottom: 1px
}

.hero .catalog-menu--category:last-child {
    margin-bottom: 0
}

.box-inner--text {
    line-height: 1.5
}

.box-inner--text p {
    margin: 20px 0
}

.wrapper-category--page .categort-page--main_menu {
    padding: 0 20px
}

.please_waiting {
    opacity: .5;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center
}

.cms-prodasha-storitelnoy-lulki .wrapper.wrapper-page--info {
    width: 100%;
    display: block
}

.cms-prodasha-storitelnoy-lulki .wrapper.wrapper-page--info > div {
    width: 100%
}

.cms-prodasha-storitelnoy-lulki .wrapper.wrapper-page--info img {
    width: auto;
    max-width: 100%
}

.rating-widget .rating-stars ul > li.star.hover > label.fa, .rating-widget .rating-stars ul > li.star.selected > label.fa {
    color: #f90
}

.rating-widget .rating-stars ul > li.star > label.fa {
    color: #c4c4c4
}

.rating-widget label, .rating-widget li {
    height: 15px;
    width: 15px
}

.rating-widget label:before {
    font-size: 15px;
    height: 15px;
    width: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.loggin-form--input__username:before, .rating-widget label:before {
    display: inline-block;
    font-family: icomoon;
    font-size: inherit;
    color: inherit;
    font-style: normal;
    line-height: inherit
}

.page-nav.page-category-new .wrapper.wrapper-category--page {
    flex-direction: row-reverse
}

.page-category-new .categort-page--main_menu .sort.sorter {
    padding-right: 30px
}

.page-category-new .wrapper.wrapper-page-nav {
    padding: 0 0 30px 0;
    flex-direction: row
}

.page-category-new .page-title {
    display: inline-flex;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: left
}

.categort-page--main_menu .wrapper-page-nav {
    padding: 0 0 30px 0;
    flex-direction: row
}

.rating-widget label:before {
    content: ""
}

.wrapper-blog--page .post-content p span {
    color: #444 !important
}

.wrapper-category--page .pin-products {
    border: 1px solid #e5e5e5
}

.checkout-cart-index .search, .onestepcheckout-index-index .search {
    display: none
}

.checkout-cart-index .category-bar, .onestepcheckout-index-index .category-bar {
    display: none
}

.wrapper-product--page .product-page--main .box .box-inner--item {
    padding-bottom: 7px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px
}

.wrapper-product--page .product-page--main .box .box-inner--item:nth-child(odd) {
    background: #e5e5e5
}

@media screen and (min-width: 768px) {
    .wrapper-category--page .category-main--products_list .cart {
        width: 20%
    }

    .wrapper-category--page .category-page--main .cart, .wrapper-category--page .pin-products .cart {
        height: 360px
    }

    .wrapper-category--page .category-page--main .cart-inner {
        padding: 20px 20px 20px
    }
}

.wrapper.wrapper-page-nav {
    padding-top: 0
}

@media screen and (max-width: 768px) {
    .page-nav.page-category-new .wrapper.wrapper-category--page {
        display: flex;
        flex-direction: column
    }

    .page-category-new .page-title {
        padding: 15px
    }

    .page-category-new .wrapper.wrapper-page-nav {
        padding: 0 0 30px 0;
        flex-direction: column
    }

    .page-category-new .wrapper-category--page .categort-page--main_menu {
        padding: 0 10px
    }
}

.wrapper-product--page .viewer .viewer-small {
    margin-bottom: 0
}

.wrapper-category--page .category-page--main .cart, .wrapper-category--page .pin-products .cart {
    height: 360px
}

.wrapper-category--page .category-page--main .cart-inner {
    padding: 20px 20px 20px
}

.wrapper-category--page .pin-products .cart .cart-more:before {

    height:calc(100% + 380px)!important;
}

.pin-products .title-deal {
    padding-top: 15px;
    margin-bottom: 15px
}

.wrapper-category--page .pin-products {
    border: 4px solid #f90;
    margin-top: 0
}

/*.cart-more:before{content:"";bottom:0;left:0;width:100%;box-shadow:0 0 5px rgba(0,0,0,.25);*/
    /*height:calc(100% + 360px)!important;*/
    /*height:-moz-calc(100% + 360px)!important;*/
    /*height:-webkit-calc(100% + 360px)!important;*/
/*}*/
/*.cart-more:before {*/
    /*height:calc(100% + 360px)!important;*/
/*}*/

.owl-prev {
    background: url(../img/rounded-left.svg) top left no-repeat !important;
    background-size: 50% 50% !important;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 35px
}

.owl-next {
    background: url(../img/rounded-right.svg) top right no-repeat !important;
    background-size: 50% 50% !important;
    height: 50px;
    width: 50px;
    top: 35px;
    position: absolute;
    right: 10px
}

.breadcrumbs {
    margin-top: 15px !important;
    margin-bottom: 5px !important
}

.wrapper-category--page .category-main--products_list__large .cart {
    width: 100% !important;
    height: 260px !important
}

.sort-text {
    padding-top: 6px
}

.categort-page--main_menu .view {
    margin-left: 30px
}

.wrapper.wrapper-category--page .categort-page--main_menu {
    width: 100%
}

.page-category-new .wrapper.wrapper-page-nav {
    padding: 0 0 10px !important
}

.page-category-new .page-title {
    padding: 10px 0 !important;
    margin-bottom: 0
}

.filter-bar {
    margin-bottom: 15px
}

@media screen and (max-width: 680px) {
    .wrapper-category--bar {
        padding: 175px 10px 0
    }
}

.cart-more--header {
    display: block;
    margin-bottom: 0
}

.cart-more {
    padding: 20px;
    padding: 5px
}

.wrapper-header {
    padding: 20px 0 30px
}

@media screen and (min-width: 1200px) {
    .wrapper.wrapper-header .container-bottom {
        margin-top: 14px
    }
}

@media screen and (min-width: 768px) {
    .filter-bar--list_link {
        margin-bottom: 10px !important
    }

    .filter-bar--title {
        padding: 10px 15px !important
    }

    .filter-bar--list {
        padding-top: 10px !important
    }

    .wrapper-category--page .category-main--products_list {
        margin-top: 0 !important
    }

    .deal-items .cart {
        height: 380px
    }
}

.catalog-menu--category_name {
    padding-right: 0
}

@media screen and (min-width: 768px) {
    .wrapper-hero .hero-items--tables .hero-items--table {
        width: 50%;
        height: 200px;
        padding: 15px
    }
}

.wrapper-hero .hero-items--tables {
    height: auto;
    margin-top: 5px
}

#topNubex {
    position: fixed;
    right: 45px;
    bottom: 45px;
    width: 100px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-family: verdana;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px
}

.wrapper-footer {
    padding: 30px 0 0 0
}

.rate_text, .rate_text span {
    font-size: 12px;
    color: #c4c4c4
}

.rate_footer {
    float: left;
    height: 70px;
    padding: 0 10px 15px 10px
}

.rate_footer:not(:checked) > input {
    position: absolute;
    top: -9999px
}

.rate_footer:not(:checked) > label {
    float: right;
    width: 1em;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 5px;
    font-size: 22px;
    color: #ccc
}

.rate_footer:not(:checked) > label:before {
    content: '★ '
}

.rate_footer > input:checked ~ label {
    color: #ffc700
}

.rate_footer.can_vote:not(:checked) > label:hover, .rate_footer.can_vote:not(:checked) > label:hover ~ label {
    color: #deb217;
    color: #f90
}

.rate_footer > input:checked + label:hover, .rate_footer > input:checked + label:hover ~ label, .rate_footer > input:checked ~ label:hover, .rate_footer > input:checked ~ label:hover ~ label, .rate_footer > label:hover ~ input:checked ~ label {
    color: #f90
}

.category-page {
    padding-bottom: 30px
}

.catalog-menu, .catalog-menu--categories.catalog-menu--categories_show, .catalog-menu--title, .container.container-sticky--header, .wrapper-category--bar .container .catalog-menu--title {
    z-index: 9999999
}

.wrapper-hero--catalog {
    z-index: 9999
}

.catalog-menu--title, .wrapper-category--bar .container .catalog-menu--title {
    background: #fff
}

.sticky-header .container-sticky--header .catalog-menu--title {
    background: #f90
}

header {
    z-index: 999999 !important
}

header.zindexHeader {
    z-index: 999999999 !important
}

@media screen and (max-width: 768px) {
    .catalog-menu, .catalog-menu--categories.catalog-menu--categories_show, .catalog-menu--title, .container.container-sticky--header, .wrapper-category--bar .container .catalog-menu--title {
        z-index: 9 !important
    }

    .wrapper-hero--catalog {
        z-index: 9 !important
    }

    .sort.sorter li {
        display: none !important
    }

    .catalog-menu--title {
        background: #f90 !important
    }

    .wrapper-hero--catalog {
        z-index: 10 !important
    }

    header {
        z-index: 20 !important
    }

    footer.footer {
        padding: 20px !important
    }

    .cart-more {
        padding: 5px !important
    }
}

.catalog-menu--category_name {
    padding-right: 0
}

@media screen and (min-width: 768px) {
    .deal-items .cart {
        height: 380px
    }
}

.wrapper-hero .hero-items--tables .hero-items--table {
    width: 50%;
    height: 200px;
    padding: 15px
}

@media screen and (max-width: 768px) {
    .wrapper-hero .hero-items--tables .hero-items--table {
        width: 100%;
        background-size: 100% 100%;
        height: 150px
    }

    .hero-items--slider_inner .item-inner {
        height: auto !important
    }

    .wrapper-hero .hero-items--slider {
        height: auto !important
    }
}

section.page-info .wrapper-page--info {
    font-size: 14px !important
}

.ul_img_page li {
    max-width: 15%;
    text-align: center;
    display: inline-grid;
    border: 1px solid #ccc;
    height: 220px;
    box-shadow: 1px 1px 5px #ccc;
    margin: 10px;
    text-align: center;
    padding: 5px;
    height: 220px
}

.ul_img_page li > p {
    padding-bottom: 15px
}

@media screen and (max-width: 768px) {
    .ul_img_page li {
        max-width: 45%;
        margin: 5px;
        border: 1px solid #ccc;
        height: 220px;
        box-shadow: 1px 1px 5px #ccc
    }

    .ul_img_page li > p {
        padding-bottom: 10px
    }
}

.box-inner--text iframe {
    width: 100% !important
}
table.listproducts_spinner_category{
    margin:20px 0px;
}

table.listproducts_spinner_category tr td{
    padding:10px;
    background:#e5e5e594;
}
table.listproducts_spinner_category tr.headspinner_category td{
     font-weight:700;
 }
.label_attribute{
    font-size: 14px;
    margin-left: 30px;
}

.catalog-menu, .catalog-menu--categories.catalog-menu--categories_show, .catalog-menu--title, .container.container-sticky--header, .wrapper-category--bar .container .catalog-menu--title{
    z-index:999;
}

.wrapper-category--page .category-page--main .cart.dbclick
{
    overflow: visible!important;
    /*padding:0px!important;*/
}

.wrapper-category--page .category-page--main .cart.dbclick .cart-more {
    pointer-events: all;
    opacity: 1;
}

.wrapper-category--page .category-page--main .cart.dbclick .cart-more:before {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    height:calc(100% + 358px)!important;

    position: absolute!important;
    pointer-events: none!important;
}

.wrapper-category--page .category-page--main .cart.dbclick .cart-more .cart-more--box{
    display:block!important;
}

.wrapper-category--page .category-page--main .cart.dbclick .cart-more {
    position: absolute;
    pointer-events: none;
}

.wrapper-category--page .category-page--main .cart.dbclick .cart-more {
    top: 100%!important;
    transition: all .5s ease!important;
    background: #fff!important;
    font-size: 12px!important;
    padding: 5px!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    left: -1px!important;
    right: -1px!important;
    border: 1px solid #e5e5e5!important;
    border-top:none!important;
    /*margin-top:45px;*/
}
.wrapper-category--page .category-page--main .cart.dbclick {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    /*padding: 0;*/
}
.wrapper-category--page .category-page--main .cart-inner{
    padding-left:10px;
    padding-right:10px;
}
.cart-more  .cart-more--header
{
    display:none;
}

.wrapper-category--page .category-page--main .cart-inner {
    padding:10px;
}

.cart-large--box .cart-more--header
{
    display:flex;
    margin-top:15px;

}
.mobile_buy{
    display:none;
    width:100%;
}
@media screen and (max-width: 768px) {

    .mobile_buy{
        display:block;


    }
    .mobile_buy a{
        width: calc(100% - 10px);
    }
    .cart-more--header{
        display:flex;

    }
    .cart-more--header .availability, .cart-more--header .cart-id
    {
        font-size:11px;
    }
    .wrapper-category--page .category-page--main .cart .cart-more
    {
        opacity:0;
    }
    .wrapper-category--page .category-page--main .cart-inner {
        padding: 0px;
    }

    .wrapper-category--page .category-page--main .cart-title {
        line-height: 1.4;
    }

    .cart-large--box .cart-more--header {
        display: none;
    }

    .cart.dbclick .cart-more .cart-more--header {
        display: block;
    }

    .cart.dbclick .cart-more .buy_product_list
    {
        display:none;
    }
    .wrapper-category--page .category-page--main .cart.dbclick .cart-more
    {
        opacity:1;
    }
    .cart.dbclick  .cart-more .btn {
margin-top:0px;
        top: 0px;
        width: calc(100% - 10px);
    }
    /*.cart.dbclick  .cart-more{*/
        /*margin-top:-55px;*/
    /*}*/
    .cart.dbclick  .cart-more, .cart.dbclick .cart-more:before {
        position: absolute !important
    }

    .cart.dbclick  .cart-more  .cart-more--box
    {
        margin-top:10px;
    }
}

@media screen and (min-width: 1060px)
{
    .wrapper-category--page .category-page--main{
        max-width: 1320px;
        max-width: 1560px;
    }
    .wrapper{
        max-width: 1560px;
    }
    .wrapper-category--page .pin-products .cart{
        width: 20%;
    }
    .page-title{
        max-width: 1540px;
    }

    .wrapper.wrapper-header .container .container-bottom {
        padding: 0px 0px!important;

    }


    .wrapper-category--page .category-page--main {
        padding-left: 15px!important;
        max-width: 1560px!important;
    }


    .filter-bar--open .filter-bar--list{
        display: inline-block!important;
        width: 100%!important;
    }
    .filter-bar--list_link {
        float: left;
        display: inline-block;
        padding-right: 15px;
        min-width: 50%;
    }
    .filter-block-proizvoditiel .filter-bar--list_link{
        min-width: 100%;
    }
}

.wrapper-category--page .category-page--main .cart-tags{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-grid;
    width: auto;
}
.cart-tags .cart-tag{
    opacity: 0.8    ;
}


.cart-large--box .cart-more--header .availability,
.cart-large--box .cart-more--header .cart-id
{
    font-size: 12px;
}
.wrapper-category--page .category-page--main .cart-img{
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
}

.catalog-menu--category_subcategories {
    max-width: 1225px;
}