<?php
/**
 * @category    Fishpig
 * @package     Fishpig_AttributeSplash
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */

error_reporting(E_ALL | E_STRICT);
ini_set('display_errors', 1);
$connection = Mage::getSingleton('core/resource')->getConnection('core_read');

$select_category_pages = $connection->select()
    ->from('attributesplash_page_category', ['page_id', 'category_id']);
$page_cat = [];
foreach ($connection->fetchAll($select_category_pages) as $cat_page) {
    if ($cat_page['category_id'] != '' && $cat_page['page_id'] != '') {
        if (!isset($page_cat[$cat_page['page_id']])) $page_cat[$cat_page['page_id']] = [];
        if (!in_array($cat_page['category_id'], $page_cat[$cat_page['page_id']]))
            $page_cat[$cat_page['page_id']][] = $cat_page['category_id'];//$cat_page['category_id']
    }
}
?>

<?php if ($splashGroup = $this->getSplashGroup()): ?>
    <?php $splashPages = $this->getSplashPages() ?>
    <div class="page-title category-title">
        <h1 style="font-size:24px;"><?php echo $this->escapeHtml($splashGroup->getName()) ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php
    $page = Mage::app()->getRequest()->getParam('p');
    if (!$page && ($page != 1)) {
        if ($splashGroup->getShortDescription()): ?>
            <div class="category-description std"><?php echo $splashGroup->getShortDescription() ?></div>
        <?php endif;
    } ?>
    <?php if ($this->isContentMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>
    <?php elseif ($this->isMixedMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>
    <?php endif; ?>

    <style>



        div.column {

            float: left;
            margin: 0px 0px 0px 0px;

            width:20%;
            padding-left: 30px;
            width: 33%;
        }
        .ul_brands,.ul_brands li{
            list-style:none;
        }
        .ul_brands > li {
            clear: both;
            float: left;
            width: 100%;
            padding-top: 30px;
        }

        .ul_brands > li:first-child {
            padding-top: 0px;
        }

        .ul_brands > li  h2 {
            font-size: 18px;
            font-weight: 700;
            margin: 20px 0;
            font-size: 20px;
            font-weight: 700;
            color: #585c63;
            padding-bottom: 10px;
        }

        .ul_brands > li  ul  li,
        .ul_brands > li  ul  li h3 {
            text-align: left;

        }

        .ul_brands > li .letter_brand {
            width: 200px;

            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            /*float: left;*/
            color: #4a90df;
            width: 20%;
            padding-right: 30px;
            display:table-cell;

            border-right: 2px solid #4a90df;
            vertical-align: middle;
            text-align: center;
        }

        .ul_brands > li ul.splash-group-grid {
            float: left;
            width: 80%;
            display:table-cell;
        }
        .ul_brands > li ul.splash-group-grid div.column li{
            margin-bottom:10px;
        }

        .div_block_categories_brands ul li a, .ul_brands > li  ul li h3 a {
            font-size: 14px;
            color: #78818e;
            height: auto;

            width: auto;
            display: table-cell;
            vertical-align: middle;
            /*display:block;float:left;*/
            text-align: left;
            line-height:1.5;
        }
        .ul_brands > li  ul li h3 a {
            text-decoration:none;

        }
        .ul_brands > li  ul li h3 a:hover {
            text-decoration:underline;
        }
        .splash-group-grid li.item {
            width:30%
        }
        .splash-groups{
            width:100%;
        }
/*
        div.div_block_wrapper_brands {
            float: left;
            width: 930px;
            padding: 20px;
            background: #fff;
            -webkit-border-radius: 5px;
            -webkit-border-top-left-radius: 0;
            -moz-border-radius: 5px;
            -moz-border-radius-topleft: 0;
            border-radius: 5px;
            border-top-left-radius: 0;
            margin-right: 20px;
        }*/

    </style>

    <?php if ($this->isProductMode() || $this->isMixedMode()):

        /*echo '<pre>$page_cat';
        print_r($page_cat);
    echo '</pre>';*/
        $category_ids = [];
        $brands = $categories = [];


        foreach ($splashPages as $splashPage):
            $data = $splashPage->getData();

            if (isset($page_cat[$data['page_id']]))
                $category_ids = $page_cat[$data['page_id']];
            else $category_ids[] = $data['category_id'];

            foreach ($category_ids as $category_id) {
                if ($category_id != '') {
                    if (!isset($brands[$category_id])) {
                        $cat = Mage::getModel('catalog/category')->load($category_id);//$data['category_id']);
                        if ($cat) {
                            if ($cat->getIncludeInMenu() == 1) {
                                $brands[$category_id] = [];
                                $brands[$category_id]['pages'] = [];
                                $brands[$category_id]['id'] = $category_id;//$data['category_id'];
                                $brands[$category_id]['name'] = $cat->getName();

                                $categories[$category_id] = $cat->getName();
                            }
                        }
                    }


                    if (isset($brands[$category_id])) {
                        $brands[$category_id]['pages'][] = $splashPage;
                    }
                }
            }

        endforeach;

        /*echo '<pre>';
        print_r($brands);
        echo '</pre>';*/
        ?>
    <section class="category-page">
        <div class="wrapper wrapper-category--page">
        <div class="splash-groups">
            <div class="div_block_wrapper_brands" style="">
                <?php $_columnCount = $this->getColumnCount() ?>
                <?php $_collectionSize = $splashPages->count() ?>
                <?php $i = 0;

                ?>
                <ul class="ul_brands">
                    <?php
                    foreach ($brands as $_category):
                        $name_category = $_category['name'];

                        $pages = $_category['pages'];


                        $results_array = [];
                        foreach ($pages as $res) {
                            $first_letter = mb_substr($res->getName(), 0, 1);
                            $image = '';
                            if ($res->getThumbnail()):
                                $image = $this->helper('attributeSplash/image')->init($res, 'thumbnail')->keepFrame(false)->constrainOnly(true)->resize(150, 150);
                            endif;

                            $res_data = [
                                // 'url_key'=>$res->getUrlKey(),
                                'url' => $res->getUrl(),
                                'name' => $res->getName(),
                                'image' => $image
                            ];
                            $results_array[$first_letter][] = $res_data;
                        }

                        ksort($results_array);

                        $result_ar = [];
                        foreach ($results_array as $key => $res) {

                            $result_ar[$key] = $this->customMultiSort($res, 'name');
                        }

                        /*echo '<pre>$result_ar';
                        print_r($result_ar);
                        echo '</pre>';*/

                        ?>
                        <li id="splash-group-grid<?php echo $_category['id']; ?>">
                            <h2 class="anchor"
                                id="anchor<?php echo $_category['id']; ?>"><?php echo $name_category; ?></h2>

                            <?php
                            foreach ($result_ar as $key => $array_letter):
                                ?>
                                <div style="display:table;clear:both;float:left; width:100%;margin-bottom:50px;">
                                    <div class="letter_brand"><h3><?php echo $key; ?></h3></div>
                                    <ul class="splash-group-grid splash-group-grid-">
                                        <?php
                                        $pages = $array_letter;
                                        foreach ($pages as $splashPage):

                                            ?>
                                            <?php //if ($i++ % $_columnCount == 0):
                                            ?>

                                            <?php //endif
                                            ?>
                                            <li class="item">
                                                <div class="inner">

                                                    <?php if ($splashPage['image'] != ''): ?>
                                                        <a href="<?php echo $splashPage['url']; ?>"
                                                           title="<?php echo $splashPage['name']; ?>"
                                                           class="product-image">
                                                            <img src="<?php echo $splashPage['image']; ?>"
                                                                 alt="<?php echo $splashPage['name']; ?>"/>
                                                        </a>
                                                    <?php else: ?>
                                                    <h3 class="product-name">
                                                        <a class="item_brand" href="<?php echo $splashPage['url']; ?>"
                                                           title="<?php echo $splashPage['name']; ?>">
                                                            <span><?php echo $this->escapeHtml($splashPage['name']); ?></span>
                                                        </a>
                                                    </h3>
                                                    <?php endif; ?>
                                                </div>
                                            </li>
                                        <?php endforeach ?>
                                    </ul>
                                </div>
                            <?php endforeach ?>

                        </li>
                    <?php endforeach ?>
                </ul>
                <script type="text/javascript">decorateGeneric($$('ul.splash-group-grid'), ['odd', 'even', 'first', 'last'])</script>
                <?php if ($this->hasPagerBlock()): ?>
                    <?php echo $this->getPagerHtml() ?>
                <?php endif; ?>
            </div>
        </div>
        </div>
    </section>
    <?php endif; ?>
<?php endif; ?>