<?php
/**
 * @category    Fishpig
 * @package     Fishpig_AttributeSplash
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if ($splashPage = $this->getSplashPage()): ?>

    <?php //echo $this->getChildHtml('outputh1') ?>
    <?php echo $this->getChildHtml('catalog.content.top') ?>
    <?php //echo $this->getChildHtml('toolbar_only') ?>

    <?php /* ?><div class="page-title category-title splash-title">
		<h1><?php echo $this->escapeHtml($splashPage->getName()) ?></h1>
	</div>
 <?php */

    /*echo '<pre>current';
    print_r(Mage::registry('current_category'));
    echo '</pre>';*/

    ?>

    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>


    <?php if($this->isContentMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>
    <?php elseif($this->isMixedMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>
        <div class="cat_products">
            <?php echo $this->getProductListHtml() ?>
        </div>
    <?php else: ?>
        <div class="cat_products">
            <?php echo $this->getProductListHtml() ?>
        </div>
    <?php endif; ?>
    <?php
    $page=Mage::app()->getRequest()->getParam('p');
    if (!$page&&($page!=1)) {
        if ($description = $splashPage->getDescription()): ?>

            <?php if ($splashPage->getImage()): ?>
        <p class="splash-image">
            <?php if ($splashPage->getImageUrl()): ?>
            <a href="<?php echo $splashPage->getImageUrl() ?>" title="<?php echo $this->escapeHtml($splashPage->getName()) ?>">
                <?php endif; ?>
                <img src="<?php echo $this->helper('attributeSplash/image')->init($splashPage, 'image')->resize(null, null) ?>" alt="<?php echo $this->escapeHtml($splashPage->getName()) ?>"/>
                <?php if ($splashPage->getImageUrl()): ?>
            </a>
        <?php endif; ?>
        </p>
    <?php endif; ?>
            <div class="category-description std"><?php echo $description ?></div>
        <?php endif;
    }?>
<?php else:?>

    <?php //echo $this->getChildHtml('outputh1') ?>
    <?php echo $this->getChildHtml('catalog.content.top') ?>
    <?php
    /*
        echo '<pre>';
        print_r(Mage::registry('current_category'));
        echo '</pre>';*/ ?>
    <?php echo $this->getProductListHtml(); /* ?>
        <div class="cat_products">
            <?php echo $this->getProductListHtml() ?>
        </div>

    <div class="pager_only_bot">
        <?php echo $this->getChildHtml('pager_only'); ?>
    </div>
<?php */ endif; ?>