<?php $_menu = $this->getHtml('level-top', 'm-m-dropdown-content') ?>


<?php if ($_menu): ?>


    <?php


    $children = $_menu->getChildren();
    $parentLevel = $_menu->getLevel();
    $childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

    $counter = 1;
    $childrenCount = $children->count();

    $parentPositionClass = $_menu->getPositionClass();
    $itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';
    $i = 1;
    ?>



<?php
$i++;
foreach ($children as $child) {
//$svg = $child->getTextSvgIcon();
    ?>


    <div class="catalog-menu--category">
        <img class="category-icon"
             src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/category/category-img-1.svg"
             alt="category-img"/>


        <a class="catalog-menu--category_name"
           href="<?php echo $child->getUrl(); ?>"><?php echo $child->getName(); ?></a>

        <img class="category-arrow" src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/arrow.svg"
             alt="category-img"/>

        <div class="catalog-menu--category_subcategories">
            <div class="box">

                <?php
                if ($child->hasChildren()) {
                    $children_level2 = $child->getChildren();
                    ?>
                    <div class="catalogue__subBox dropdown-menu" data-dropdown-menu="">
                        <div class="box-chunk">

                            <?php

                            foreach ($children_level2 as $child_2) {

                                ?>

                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <?php
                                        if ($child_2->hasChildren()) {
                                            $children_level3 = $child_2->getChildren();
                                            foreach ($children_level3 as $child_3) {
                                                ?>
                                                <a class="subcategory-category--page"
                                                   href="<?php echo $child_3->getUrl(); ?>"><?php echo $child_3->getName(); ?></a>
                                                <?php
                                            }
                                        }

                                        ?>

                                    </div>
                                </div>


                            <?php } ?>
                        </div>

                    </div>
                    <?php


                } ?>


            </div>
            <!--<div class="catalog-menu--category_thumbnails">
            <a href="#" class="thumbnail" style="background-image:url(<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/category/image.png)">
                <div class="thumbnail-title">Генераторы</div>
                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/category/thumbnail-gradient.svg" alt="thumbnail-gradient" />
            </a>

            <a href="#" class="thumbnail" style="background-image:url(<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/index/hero-img.png)">
                <div class="thumbnail-title">Генераторы</div>
                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/category/thumbnail-gradient.svg" alt="thumbnail-gradient" />
            </a>
        </div>-->
        </div>

    </div>


    <?php
}



endif ?>
