<div class="filter-bar--list">
    <!--<a class="filter-bar--list_link" href="#">Генераторы 1 кВт - 1,9 кВт<span class="filter-bar--list_q">(54)</span></a>
    <a class="filter-bar--list_link filter-bar--list_link__act" href="#">Инверторные генераторы<span class="filter-bar--list_q">(54)</span></a>
-->

    <?php foreach ($this->getItems() as $_item): ?>
        <a class="filter-bar--list_link no-ajax" href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?><span class="filter-bar--list_q">(<?php echo $_item->getCount() ?>)</span></a>

    <?php endforeach ?>
</div>
