<?php
$_showMore = Mage::helper('catalin_seo')->getShowMore();
$filter = $this->_filter;
$attributeModel = $filter->getAttributeModel();
$show_link_all = $attributeModel->getShowLinkAll();

?>
<div class="filter-bar--list block-layered-nav filter-block-<?=$filter->getRequestVar();?>">
    <?php if ($show_link_all):?><div class="box_all_links height_little"><?php endif;?>
        <?php foreach ($this->getItems() as $_key => $_item): ?>
            <?php
            $id = $_item->getFilter()->getRequestVar() . '-' . $_item->getValue(); ?>
            <a id="<?php echo $id; ?>"
               class="filter-bar--list_link <?php echo $this->urlEscape(($_item->isSelected()) ? 'filter-bar--list_link__act' : '') ?>"
               href="<?php echo $this->urlEscape(($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl()) ?>"><?php echo $_item->getLabel() ?>
                <span class="filter-bar--list_q">(<?php echo $_item->getCount() ?>)</span></a>
        <?php endforeach ?>
        <?php if ($show_link_all):?></div><?php endif;?>
    <?php if ($show_link_all==1): ?>
        <div>
            <a href="javascript:void(0)" class=" show_all">Показать все</a>
        </div>
    <?php endif; ?>
</div>
