<?php if ($this->canShowBlock()): ?>
    <?php $_searchFilter = Mage::helper('catalin_seo')->getSearchFilter(); ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <?php $_filters = $this->getFilters() ?>

    <?php echo $this->getStateHtml() ?>
        <?php if ($this->getLayer()->getState()->getFilters()): ?>
            <!--<div class="actions"><a href="<?php echo $this->urlEscape($this->getClearUrl()) ?>"><?php echo $this->__('Clear All') ?></a></div>-->
    <?php endif; ?>


    <div class="filters-bar">
        <?php foreach ($_filters as $_filter): ?>
            <?php if($_filter->getItemsCount()):

                if ($this->__($_filter->getName())!='Цена'):?>

                    <?php
                    $acive_filter='';
                if ($_filter->getType()!='catalog/layer_filter_category') {
                    $attribute_model=$_filter->getAttributeModel();//->getData();
                    $show_open_defaul=1;//$attribute_model->getShowOpenDefault();

                   if ($show_open_defaul!=='1')
                        $acive_filter = 'filter-bar--open';

                }else $acive_filter = 'filter-bar--open';
                    ?>

                <div class="filter-bar <?php echo $acive_filter;?>">
                    <div class="filter-bar--title">
                        <?php echo $this->__($_filter->getName()) ?>
                        <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/footer-phone-arrow.svg" alt="filter-arrow" />
                    </div>
                    <?php echo $_filter->getHtml() ?>

                </div>
                <?php endif;?>



            <?php endif; ?>
        <?php endforeach; ?>

    </div>


    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php endif; ?>


<style>
    .height_little{
        height:300px;

        overflow:hidden;
    }
    .show_all {

        color: #365fa0;
        margin:20px 0px;
        text-decoration:underline;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
</style>