<style>
    .list_brands {
        display: flex;
    }

    .list_brands li {
        display: inline-flex;
        padding: 0px 10px;
    }
</style>
<?php

$collection = Mage::getModel('attributeSplash/page')->getCollection();
$collection->addFieldToFilter('is_featured', 1);
$collection->addFieldToFilter('is_enabled', 1);
$category = false;


if ($current_category = Mage::registry('current_category')) {
    $category = $current_category;
    //$collection->addFieldToFilter('category_id', $category->getId());

    $alias = 'attributesplash_page_category';
    $collection->getSelect()
        ->join(
            array($alias => 'attributesplash_page_category'),
            "`{$alias}`.`page_id` = `main_table`.`page_id`"
            ." AND `{$alias}`.`category_id` = ".$category->getId()." ",
                ''
            );
}

if (count($collection) > 0):
    ?>
    <ul class="list_brands">
        <?php

        //Mage::register('current_category',$category);


        foreach ($collection as $splashPage) {
            if ($category)
                $url = $category->getUrl() . '/filter/proizvoditiel/' . $splashPage->getUrlKey();
            else $url = $splashPage->getUrl();
            ?>
            <li>
                <a href="<?php echo $url; ?>"
                   title="<?php echo $splashPage->getName(); ?>"
                   class="product-image">


                    <?php //endif;
                    ?>
                    <img style="width:100px"
                         src="<?php echo $this->helper('attributeSplash/image')->init($splashPage, 'image')->resize(null, null) ?>"
                         alt="<?php echo $this->escapeHtml($splashPage->getName()) ?>"/>
                    <?php //if ($splashPage->getImageUrl()):
                    ?>
                </a>

            </li>
            <?php //endif;
        }
        ?>
    </ul>
<?php
endif;

/*

?><div class="categories-list">

    <?php
    $catalog = $this->getCatalog();

    $list_w = $list_h = 350;
    $children = $catalog;//$catalog->getChildren();


    $i = 2;

    $array_svgimg = [];

    foreach ($children as $_category_level1):



        $svg=$_category_level1->getSvgIcon();
        $url_level1 = $_category_level1->getUrl();
        ?>

        <a href="<?php echo $url_level1; ?>" class="categorie-list--category">
            <div class="tringle">
                <div></div>
            </div>
            <?php echo $svg;?>
            <!--<img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/category/category-img-1.svg"
                 alt="category-img"/>-->
            <div class="category-name">
                <?php echo $_category_level1->getName(); ?>
            </div>
        </a>


    <?php endforeach; ?>

</div>
 <?php */ ?>