<div class="wrapper-products--tab">
    <?php /* ?><div class="products-tab--items tab-container" data-tabs="">
        <div class="btn btn-white products-tab--item products-tab--item_act" data-tab="1">
            Одесса
        </div>
        <div class="btn btn-white products-tab--item" data-tab="2">
            Киев
        </div>
        <div class="btn btn-white products-tab--item" data-tab="3">
            Днепр
        </div>
    </div>
 <?php */

    $phones=$this->getAllPhones();
    //
    ?>
    <div class="products-tab--container" style="display:block;">
        <div class="contacts-page--numbers">
            <?php
            $i=0;
            foreach ($phones as $phone):

                $number=$phone['number'];
                $name=$phone['name'];
                $time_working=$phone['time'];
                $ringostat=$phone['ringostat'];
                $viber=(isset($phone['viber'])?$phone['viber']:false);
                $telegram=(isset($phone['telegram'])?$phone['telegram']:false);

                $i++;
                ?>
                <div class="contacts-page--numbers__item">
                    <div class="box">
                        <div class="page-description"><?php echo $name;?></div>
                        <div class="<?php //echo $ringostat;?>"><a class="contacts-page--numbers__item_phone" href="tel:<?php echo $number;?>"><?php echo $number;?><!--+38(067)320-20-36--></a>
                        </div>
                        <div class="page-description page-description--gray">
                            <?php echo $time_working;?>
                            <?php if ($viber):?>
                                <img style="width:25px;" src="<?=Mage::helper('ukrsnab/data')->getSkinUrl();?>img/icons_viber.png"/>
                            <?php endif;?>

                            <?php if ($telegram):?>
                                <img style="width:25px;" src="<?=Mage::helper('ukrsnab/data')->getSkinUrl();?>img/icons_telegram.png"/>
                            <?php endif;?>

                        </div>
                    </div>
                </div>
            <?php endforeach;?>

        </div>
    </div>
    <!--<div class="products-tab--container" data-cont="" data-container="2">
        2
    </div>
    <div class="products-tab--container" data-cont="" data-container="3">
        3
    </div>-->
</div>

