<?php
$brands=$this->getBrands(24);
/*echo '<pre>';
print_r($brands);
echo '<pre>';
*/
if (count($brands)>0):
?>
<section class="brands brand-homepage">
    <div class="wrapper wrapper-brands">

        <div class="wrapper-brands--items">
            <?php
            foreach ($brands  as  $brand){

                $brand_data=$brand->getData();
                $url_brand=$brand->getUrl();
            ?>
                <div class="wrapper-brands--items_item">
                    <?php
                    if ($brand_data['logo']!=''){
                        $image=$brand->getImage();
                        ?>
                            <a href="<?php echo $url_brand; ?>" class="brand">
                                <img class="cwslazyloader1" src="<?php echo $image;?>" >

                            </a>
                        <?php
                    }else {
                        ?>
                        <a href="<?php echo $url_brand; ?>" class="brand">
                            <?php echo $brand_data['display_name']; ?>
                        </a>
                        <?php
                    }
                    ?>
                </div>
                <?php
            }
            ?>
        </div>

<!--        <div class="container">-->
<!--            <a href="/brands.html" class="btn btn-white">Все бренды</a>-->
<!--        </div>-->


    </div>
</section>
<?php endif;?>
<style>
    .wrapper-brands .wrapper-brands--items_item{
        height:100%;
        width:150px;
    }
    .brands.brand-homepage
    {
        margin:30px 0px;
    }
</style>
