<?php
$products = $this->getProductsByCategory();//getProductsByCategory($category_level1->getId());//CategoryId());

$layout=Mage::app()->getLayout();

$list_w = $list_h = 350;
foreach ($products as $item) {
    $url = $item->getProductUrl();
    $is_available = $item->isAvailable();
    $features = Mage::helper('ukrsnab/data')->getFeatures($item);
    $image = Mage::helper('catalog/image')->init($item, 'image')->resize($list_w, $list_h);
    ?>

    <div class="cart">
        <!--<div class="cart-favorite">
            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl(); ?>img/cart-favorite.svg"
                 alt="favorite-img"/>
        </div>
-->
        <a class="cart-inner" href="<?php echo $url; ?>">

            <div class="cart-img">
                <img src="<?php echo $image; ?>" data-src="<?php echo $image; ?>" class="cwslazyloader" alt="cart-img"/>
            </div>

            <?php

            $labelsBlock = $layout->createBlock('labels/catalog_product','product_labels',
                ['template'=>'databunch/labels/catalog/product.phtml']);
            //$labelsBlock = $this->getChild('product_labels'); ?>
            <?php if ($labelsBlock): ?>
                <?php echo $labelsBlock->setProduct($item)->toHtml(); ?>
            <?php endif; ?>

            <div class="cart-title">
                <?php echo $item->getName(); ?>
            </div>

            <div class="cart-price">
                <?php echo $this->getPriceHtml($item, true) ?>
                <!--<div class="cart-price--main"><span class="cart-price--val">20 098,00</span>&nbsp;<span class="cart-price--cur">грн.</span></div><div class="cart-price--sale"><span class="cart-price--sale_val">24 900,00</span>&nbsp;<span class="cart-price--sale_cur">грн.</span></div>-->
            </div>

        </a>

        <div class="cart-more">
            <div class="cart-more--header">
                <?php
                if ($is_available):
                    ?>
                    <div class="availability" style="color: #36A041">Есть на складе
                    </div>
                <?php else: ?>
                    <div class="availability" style="color: #FF0000">Нет в наличии
                    </div>
                <?php endif; ?>
                <div class="cart-id">
                    Код:&nbsp;<span class="cart-id--value"><?php echo $item->getSku(); ?></span>
                </div>
            </div>

            <?php
            $entityType = 4;

            foreach ($features as $feature) {
                $feature=trim($feature);
                if ($feature != '') {

                    //
                    if (!is_array($item->getAttributeText($feature))) $value= trim($item->getAttributeText($feature));
                    if ($value == '') {

                        $value = trim($item->getData($feature));
                    }
                    if ($value != '') {


                        $attributeLabel = Mage::getModel('eav/entity_attribute')
                            ->loadByCode($entityType, $feature);

                        if ($attributeLabel) {
                            $label = $attributeLabel->getFrontendLabel();

                            if ($value != '') {

                                //$value= $prod->getAttributeText($feature);
                                $class = 'characteristic';
                                ?>
                                <div class="<?php echo $class; ?>">
                                    <?php echo $label; ?>:&nbsp;<span
                                        class="characteristic-value"><?php
                                        if (is_array($value)) echo implode(' ',$value);else echo $value; ?></span>
                                </div>
                                <?php
                            }
                        }
                    }
                }

            } ?>
            <?php
            $url_add_cart = $this->getAddToCartUrl($item);
            $url_add_cart = str_replace('checkout', 'cartcheckout', $url_add_cart);
            ?>
            <a href="<?php echo $url_add_cart; ?>" class="btn btn-blue">Быстрая покупка</a>
        </div>
    </div>

<?php } ?>