<?php
$catalog = $this->getCatalog();
$list_w = $list_h = 350;
$children = $catalog;//$catalog->getChildren();

$layout=Mage::app()->getLayout();
$i = 2;

$array_svgimg = [];


$all_color = [
    0 => 'cat-tabs--red',
    1 => 'cat-tabs--blue',
    2 => 'cat-tabs--green',
    3 => 'cat-tabs--red',
    4 => 'cat-tabs--blue',
    5 => 'cat-tabs--green',
    6 => 'cat-tabs--red',
    7 => 'cat-tabs--blue',
    8 => 'cat-tabs--green'
];
$i = 0;
//$active_color=$all_color[0];
foreach ($children as $_category_level1):
    $category_level1 = Mage::getModel('catalog/category')->load($_category_level1->getId());

    $array_svgimg[] = [
        'id' => $category_level1->getId(),
        'name' => $category_level1->getName(),
        'svg' => $category_level1->getTextSvgIcon()
    ];
    $url_level1 = $category_level1->getUrl();

    if (isset($all_color[$i]))
        $color_tab = $all_color[$i];
    else $color_tab = 'cat-tabs--red';
    ?>


    <section class="cat-tabs <?php echo $color_tab; ?> cat-tabs--homepage">
        <div class="wrapper wrapper-cat--tabs">

            <div class="container">
                <div class="title"><?php echo $_category_level1->getName(); ?></div>
                <?php if ($category_level1->hasChildren()):
                    $children_level2 = $this->getChildrens($category_level1->getId());

                    //$parent_id);//$category_level1->getChildrenCategories();
                    //$children_level2 = $category_level1->getAllChildren();
                    if (count($children_level2) > 0): ?>
                        <ul class="category-subcategories">
                            <?php $ch = 0;
                            foreach ($children_level2 as $level2):
                                if ($ch == 6) break;
                                $url = $level2->getUrl(); ?>
                                <li>
                                    <a class="load_products_category_home" data-category_id="<?php echo $level2->getId(); ?>" href="<?php echo $url; ?>"><?php echo $level2->getName(); ?></a>
                                </li>
                                <?php $ch++;endforeach; ?>

                        </ul>
                    <?php endif; ?>
                <?php endif;
                ?>

                <a href="<?php echo $url_level1; ?>" class="btn btn-white">Смотреть раздел</a>
            </div>


            <div class="ajax_update-container" style="width:80; display:flex;">
                <?php $products_cat = $this->getChild('home.products.category'); ?>
                <?php if ($products_cat): ?>
                    <?php echo $products_cat->setCategoryId($category_level1->getId())->toHtml(); ?>
                <?php endif; ?>
            </div>



        </div>
    </section>
    <?php $i++;
endforeach; ?>


