<section class="contacts-map">
    <div class="wrapper-contacts--map">
        <!--<div class="wrapper-contacts--map__btns">
            <div class="btn btn-white contacts-btn--all">
                Посмотреть все филиалы
            </div>
            <div class="btn btn-white contacts-btn--showroom">
                Посмотреть все филиалы
            </div>
        </div>
        <div id="map"></div>
        <script>
            $(document).ready(function () {
                var locations = [
                    ['Kiev', 50.4020865, 30.61468031],
                    ['Chernigov', 51.4957591, 31.2204993]
                ];

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    center: new google.maps.LatLng(50.401699, 30.252512),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new
                        google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            })
        </script>-->
        <iframe frameborder="0" height="375" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com.ua/maps/ms?msa=0&amp;msid=214156405669030372304.0004dbb2906ede3d617c3&amp;ie=UTF8&amp;t=m&amp;ll=48.980217,32.519531&amp;spn=10.817743,32.915039&amp;z=5&amp;output=embed" width="880"></iframe>
    </div>
</section>