
<?php
$_helper = $this->helper('catalog/output');
$products=$this->getProducts();
if ($products)
{
    $style=$style_category_thumbnails=$style_cart='';?>


    <?php if (count($products)>1):?>

<?php $style='display:flex;';
$style_cart='width:205px;margin:0px 10px;';
$style_category_thumbnails='width:50%;padding-right:0px;';
endif;?>

    <div class="catalog-menu--category_thumbnails" style="<?php echo $style_category_thumbnails;?>">
    <div class="cart_topmenu" style="<?php echo $style;?>">
<?php
$list_w = $list_h = 150;
    foreach ($products as $item)
        {

            $url = $item->getProductUrl();
            $is_available = $item->isAvailable();
            $features=Mage::helper('ukrsnab/data')->getFeatures($item);
            $image = Mage::helper('catalog/image')->init($item, 'image')->resize($list_w, $list_h);
        ?>

             <div class="cart" style="<?php echo $style_cart;?>">
                            <a class="cart-inner" href="<?php echo $url; ?>">
                                <div class="cart-img">
                                    <img class="cwslazyloader"
                                         src="<?php echo $image; ?>"
                                         data-src="<?php echo $image; ?>"
                                          alt="cart-img" />
                                </div>
                                    <?php $labelsBlock = $this->getChild('product_labels'); ?>
                                    <?php if ($labelsBlock): ?>
                                        <?php echo $labelsBlock->setProduct($item)->toHtml(); ?>
                                    <?php endif; ?>
                                <div class="cart-title">
                                    <?php
                                    $_name=$item->getName();
                                    $name=mb_substr($_name,0,49);
                                    if ($_name!=$name)
                                        $name.='...';
                                    echo $name; ?>
                                </div>
                                <div class="cart-price">
                                    <?php echo $this->getPriceHtml($item, true) ?>
                                </div>
                            </a>
                            <div class="cart-more">
                                <div class="cart-more--header">
                                    <?php
                                    if ($is_available):
                                    ?>
                                    <div class="availability" style="color: #36A041">Есть на складе</div><!-- #FF0000 Нет на складе -->
                                    <?php else:?>
                                        <div class="availability" style="color: #FF0000">Нет в наличии</div><!-- #FF0000 Нет на складе -->
                                    <?php endif;?>
                                    <div class="cart-id">
                                        Код:&nbsp;<span class="cart-id--value"><?php echo $item->getSku();?></span>
                                    </div>
                                </div>
                                <?php
                                $url_add_cart = $this->getAddToCartUrl($item);
                                $url_add_cart = str_replace('checkout', 'cartcheckout', $url_add_cart);
                                ?>
                                <a href="<?php echo $url_add_cart;?>" class="btn btn-blue btn-buy1 buy_product_list">Купить</a>
                            </div>
                        </div>
<?php
        }
        ?>
    </div>
</div>
<?php
}
?>
