

<?php
$_helper = $this->helper('catalog/output');
$best_sellers=$this->getBestsellerProducts();
if (count($best_sellers)>0){
?>
<section class="deal deal-homepage">
    <div class="wrapper wrapper-deal">
        <h2 class="title title-deal">
            Готово к отгрузке сегодня
        </h2>

        <div class="deal-items">

            <?php $list_w = $list_h = 350;
            foreach ($best_sellers as $item):
                $url = $item->getProductUrl();
                $is_available = $item->isAvailable();
                $features=Mage::helper('ukrsnab/data')->getFeatures($item);
                $image = Mage::helper('catalog/image')->init($item, 'image')->resize($list_w, $list_h);

                ?>
                        <div class="cart">
                            <!--<div class="cart-favorite">
                                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/cart-favorite.svg" alt="favorite-img" />
                            </div>
-->

                            <a class="cart-inner" href="<?php echo $url; ?>">

                                <div class="cart-img">
                                    <img src="<?php echo $image;//Mage::helper('ukrsnab/data')->getSkinUrl();?>" class="cwslazyloader1" alt="cart-img" />
                                </div>

                                    <?php $labelsBlock = $this->getChild('product_labels'); ?>
                                    <?php if ($labelsBlock): ?>
                                        <?php echo $labelsBlock->setProduct($item)->toHtml(); ?>
                                    <?php endif; ?>
                                    <!--
                                    <div class="cart-tag" style="background: #FF9900">
                                        Акция
                                    </div>
                                    <div class="cart-tag" style="background: #365FA0">
                                        уценка
                                    </div>-->
                                <div class="cart-title">
                                    <?php echo $item->getName(); ?>
                                </div>

                                <div class="cart-price">
                                    <?php echo $this->getPriceHtml($item, true) ?>
                                    <!--<div class="cart-price--main">
                                        <span class="cart-price--val">20 098,00</span>&nbsp;<span class="cart-price--cur">грн.</span>
                                    </div>
                                    <div class="cart-price--sale"><span class="cart-price--sale_val">24 900,00</span>&nbsp;<span class="cart-price--sale_cur">грн.</span></div>
                                    -->
                                </div>

                            </a>

                            <div class="cart-more">
                                <div class="cart-more--header">
                                    <?php
                                    if ($is_available):
                                    ?>
                                    <div class="availability" style="color: #36A041">Есть на складе</div><!-- #FF0000 Нет на складе -->
                                    <?php else:?>
                                        <div class="availability" style="color: #FF0000">Нет в наличии</div><!-- #FF0000 Нет на складе -->
                                    <?php endif;?>
                                    <div class="cart-id">
                                        Код:&nbsp;<span class="cart-id--value"><?php echo $item->getSku();?></span>
                                    </div>
                                </div>

                                <?php
                                $entityType=4;
                                /*echo '<pre>$features';
                                print_R($features);
                                echo '</pre>';*/
                                foreach ($features as $feature){
                                    if ($feature!='') {
                                        $value= $item->getAttributeText($feature);
                                        if ($value == '') {

                                            $value = $item->getData($feature);
                                        }

                                        if ($value != '') {
                                            //$value = $item->getData($feature);
                                            //$value_1 = $_helper->productAttribute($item, $value, $feature);//$_product->getAttributeText($feature);

                                            //echo '$feature='.$feature.' '.$value.' '.$value_1.'<br/>';
                                            /*echo '<pre>';
                                            print_R($value);
                                            echo '</pre>';
                                            echo '<pre>';
                                            print_R($value_1);
                                            echo '</pre>';*/

                                            $attributeLabel = Mage::getModel('eav/entity_attribute')
                                                ->loadByCode($entityType, $feature);
                                            if ($attributeLabel) {
                                                $label = $attributeLabel->getFrontendLabel();


                                                if ($value != '') {

                                                    //$value= $prod->getAttributeText($feature);
                                                    $class = 'characteristic';
                                                    ?>
                                                    <div class="<?php echo $class; ?>">
                                                        <?php echo $label; ?>:&nbsp;<span
                                                                class="characteristic-value"><?php echo $value; ?></span>
                                                    </div>
                                                    <?php
                                                }
                                            }
                                        }
                                    }

                                }?>

                                <!--<div class="manufacturer">
                                    Производитель:&nbsp;<span class="manufacturer-value">Stark</span>
                                </div>
                                <div class="characteristic">
                                    Напряжение:&nbsp;<span class="characteristic-value">220 В</span>
                                </div>
                                <div class="weight">
                                    Вес:&nbsp;<span class="weight-value">10 кг</span>
                                </div>
-->
                                <?php
                                $url_add_cart = $this->getAddToCartUrl($item);
                                $url_add_cart = str_replace('checkout', 'cartcheckout', $url_add_cart);
                                ?>
                                <a href="<?php echo $url_add_cart;?>" class="btn btn-blue btn-buy1 buy_product_list">Купить</a>
                            </div>
                        </div>
                <?php endforeach;?>

            <!--<div class="cart">
                <div class="cart-favorite">
                    <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/cart-favorite.svg" alt="favorite-img" />
                </div>

                <a class="cart-inner" href="#">

                    <div class="cart-img">
                        <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/index/cart-img-1.png" alt="cart-img" />
                    </div>

                    <div class="cart-tags">
                        <div class="cart-tag" style="background: #FF9900">
                            Акция
                        </div>
                        <div class="cart-tag" style="background: #365FA0">
                            уценка
                        </div>
                        <div class="cart-tag" style="background: #36A041">
                            топ
                        </div>
                        <div class="cart-tag" style="background: #FF0000">
                            новинка
                        </div>
                    </div>

                    <div class="cart-title">
                        Растворонасос БМШ CO-50АМ (Украина)
                    </div>

                    <div class="cart-price">
                        <div class="cart-price--main"><span class="cart-price--val">20 098,00</span>&nbsp;<span class="cart-price--cur">грн.</span></div><div class="cart-price--sale"><span class="cart-price--sale_val">24 900,00</span>&nbsp;<span class="cart-price--sale_cur">грн.</span></div>
                    </div>

                </a>

                <div class="cart-more">
                    <div class="cart-more--header">
                        <div class="availability" style="color: #36A041">Есть на складке</div>#FF0000 Нет на складе
                        <div class="cart-id">
                            Код:&nbsp;<span class="cart-id--value">2563</span>
                        </div>
                    </div>

                    <div class="manufacturer">
                        Производитель:&nbsp;<span class="manufacturer-value">Stark</span>
                    </div>
                    <div class="characteristic">
                        Напряжение:&nbsp;<span class="characteristic-value">220 В</span>
                    </div>
                    <div class="weight">
                        Вес:&nbsp;<span class="weight-value">10 кг</span>
                    </div>
                    <div class="btn btn-blue">Быстрая покупка</div>
                </div>
            </div>

            <div class="cart">
                <div class="cart-favorite">
                    <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/cart-favorite.svg" alt="favorite-img" />
                </div>

                <a class="cart-inner" href="#">

                    <div class="cart-img">
                        <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/index/cart-img-1.png" alt="cart-img" />
                    </div>

                    <div class="cart-tags">
                        <div class="cart-tag" style="background: #FF9900">
                            Акция
                        </div>
                        <div class="cart-tag" style="background: #365FA0">
                            уценка
                        </div>
                        <div class="cart-tag" style="background: #36A041">
                            топ
                        </div>
                        <div class="cart-tag" style="background: #FF0000">
                            новинка
                        </div>
                    </div>

                    <div class="cart-title">
                        Растворонасос БМШ CO-50АМ (Украина)
                    </div>

                    <div class="cart-price">
                        <div class="cart-price--main"><span class="cart-price--val">20 098,00</span>&nbsp;<span class="cart-price--cur">грн.</span></div><div class="cart-price--sale"><span class="cart-price--sale_val">24 900,00</span>&nbsp;<span class="cart-price--sale_cur">грн.</span></div>
                    </div>

                </a>

                <div class="cart-more">
                    <div class="cart-more--header">
                        <div class="availability" style="color: #36A041">Есть на складке</div>
                        <div class="cart-id">
                            Код:&nbsp;<span class="cart-id--value">2563</span>
                        </div>
                    </div>

                    <div class="manufacturer">
                        Производитель:&nbsp;<span class="manufacturer-value">Stark</span>
                    </div>
                    <div class="characteristic">
                        Напряжение:&nbsp;<span class="characteristic-value">220 В</span>
                    </div>
                    <div class="weight">
                        Вес:&nbsp;<span class="weight-value">10 кг</span>
                    </div>
                    <div class="btn btn-blue">Быстрая покупка</div>
                </div>
            </div>

           -->



    </div>

    <!--<a class="btn btn-white" href="#">Посмотреть все предложения</a>-->
    </div>
</section>

<?php } ?>