
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct();

$_helperSeo = $this->helper('seo');
/* ?>
<section class="page-nav">
    <div class="wrapper wrapper-page-nav">
        <h1 class="page-title"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
    </div>
</section>
<?php */
$_imgSize = 210;

$cost_arenda=$_product->getPriceArenda();

$zalog_arenda=$_product->getZalogArenda();


/*Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_arenda');
if ($phone_arenda=='')
{
    $phone_arenda=Mage::getStoreConfig('phones_ukrsnab/setting_ukrsnab_phones/phone_main');
}
*/

$phone_arenda=Mage::helper('storelocator/data')->getPhonerent();

?>

<section class="page-post">
    <div class="wrapper wrapper-post--page wrapper-grid arenda-grid">
        <div class="page-grid--main">

            <div class="wrapper wrapper-sitcky--header wrapper--sticky--header__product arenda_contact_block">
                <div class="wrapper-products--tab">
                    <div class="products-tab--container" style="display:block;">
                        <div class="contacts-page--numbers">
                            <?php if ($cost_arenda!=''):?>
                                <div class="contacts-page--numbers__item">
                                    <div class="box">
                                        <div class="page-description">Стоимость аренды</div>
                                        <div class="cart-price">
                                            <div class="cart-price--main">
                                                <span class="cart-price--val"><?php echo $cost_arenda;?></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            <?php endif;?>
                            <?php if ($zalog_arenda!=''):?>
                                <div class="contacts-page--numbers__item">
                                    <div class="box">
                                        <div class="page-description">Залог</div>
                                        <div class="contacts-page--numbers__item_phone" ><?php echo $zalog_arenda;?></div>

                                    </div>
                                </div>
                            <?php endif;?>
                            <div class="contacts-page--numbers__item no_border">
                                <div class="box">
                                    <div class="page-description">
                                        Звонить по телефону
                                    </div>

                                    <a class="contacts-page--numbers__item_phone" href="tel:<?php echo $phone_arenda;?>"><?php echo $phone_arenda;?></a>

                                </div>
                            </div>

                            <div class="contacts-page--numbers__item no_border">
                                <div class="box">
                                    <a href="#" onclick="ringostatAPI.openCallbackForm()" class="btn-buy--sticky btn btn-blue">
                                        Заказать
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="post-thumbnail">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(330); ?>" alt="post-thumbnail" />
            </div>

            <h1 class="post-title"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            <div class="post-content">
                <?php echo $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>
            </div>


            <style>
                .faq-block__question {
                    cursor: pointer;
                }

                .faq-block__item {
                    border-bottom: 1px solid #e5e5e5;
                    padding: 10px 0px;
                }

                .faq-block__answer {
                    display: none;
                    padding: 5px 15px;
                }
            </style>
            <?php

            $seoCurrent = $_helperSeo->getCurrentSeo();
            $seodata = $_helperSeo->getFaq($seoCurrent->getData());

            $faq_h2 = '';

            if (count($seodata) > 0) {
                $faqs = $seodata;
                $faq_h2 = $_helperSeo->getFaqH2($seoCurrent->getData());;
            } else {
                $faqs = [];
            }

            if (count($faqs) > 0) {
            ?>
            <div itemscope="" itemtype="https://schema.org/FAQPage" style="margin-top:0px;padding-top:0px;"
                 class="wrapper wrapper-page--info category-description">
                <?php if ($faq_h2 != ''): ?>
                    <h2><?= $faq_h2; ?></h2>
                <?php endif; ?>
                <?php foreach ($faqs as $faq_title => $faq_content): ?>
                    <div class="faq-block__item" itemscope itemprop="mainEntity"
                         itemtype="https://schema.org/Question">
                        <h3 class="faq-block__question" itemprop="name"><?= $faq_title; ?>
                            <i class="icon icon-chevron-down"></i></h3>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="faq-block__answer" itemprop="text">
                                <?= $faq_content; ?>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
            <?php
            }
?>


            <div class="wrapper wrapper-sitcky--header wrapper--sticky--header__product arenda_contact_block">
                <div class="wrapper-products--tab">
                    <div class="products-tab--container" style="display:block;">
                        <div class="contacts-page--numbers">
                            <?php if ($cost_arenda!=''):?>
                            <div class="contacts-page--numbers__item">
                                <div class="box">
                                    <div class="page-description">Стоимость аренды</div>
                                    <div class="cart-price">
                                        <div class="cart-price--main">
                                            <span class="cart-price--val"><?php echo $cost_arenda;?></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <?php endif;?>
                            <?php if ($zalog_arenda!=''):?>
                            <div class="contacts-page--numbers__item">
                                <div class="box">
                                    <div class="page-description">Залог</div>
                                    <div class="contacts-page--numbers__item_phone" ><?php echo $zalog_arenda;?></div>

                                </div>
                            </div>
                            <?php endif;?>
                            <div class="contacts-page--numbers__item no_border">
                                <div class="box">
                                    <div class="page-description">
                                            Звонить по телефону
                                        </div>

                                    <a class="contacts-page--numbers__item_phone" href="tel:<?php echo $phone_arenda;?>"><?php echo $phone_arenda;?></a>

                                </div>
                            </div>

                            <div class="contacts-page--numbers__item no_border">
                                <div class="box">
                                    <a href="#" onclick="ringostatAPI.openCallbackForm()" class="btn-buy--sticky btn btn-blue">
                                        Заказать аренду
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
