<?php 
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="<?php echo $this->getLang(); ?>" id="top" class="no-js"> <!--<![endif]-->
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<?php echo $this->getChildHtml('global_notices') ?>
<?php echo $this->getChildHtml('header') ?>

<section class="hero">
    <div class="wrapper wrapper-hero">
        <div class="wrapper-hero--catalog">
            <!-- Catalog - menu -->
            <?php echo $this->getChildHtml('topMenuukrsnabhome'); ?>
            <!-- /Catalog - menu -->
        </div>
        <?php
        // banner
        ?>
       <div class="wrapper-hero--items">
            <div class="hero-items">
                <?php echo $this->getChildHtml('bannerslider.bannerslider'); ?>
                <?php echo $this->getChildHtml('bannerslider.bannerslider_little'); ?>
            </div>
        </div>
    </div>
</section>
<?php echo $this->getChildHtml('bord'); ?>
<?php $data_ukrsnab=Mage::helper('ukrsnab');
if (!$data_ukrsnab->isMobile()):?>
    <section class="bord">
        <div class="wrapper wrapper-bord">
            <div class="bord-item">
                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/index/bord-item-1.svg" alt="bord-item-img" />
                <div class="container">
                    <div class="bord-item--title">10 летний опыт</div>
                    <div class="bord-item--desc">в продаже строительного оборудования</div>
                </div>
            </div>
            <div class="bord-item">
                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/index/bord-item-2.svg" alt="bord-item-img" />
                <div class="container">
                    <div class="bord-item--title">Обмен и возврат товара</div>
                    <div class="bord-item--desc">в течении 14 дней</div>
                </div>
            </div>
            <div class="bord-item">
                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/index/bord-item-3.svg" alt="bord-item-img" />
                <div class="container">
                    <div class="bord-item--title">Предпродажная </div>
                    <div class="bord-item--desc">подготовка товара</div>
                </div>
            </div>
            <div class="bord-item">
                <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/index/bord-item-4.svg" alt="bord-item-img" />
                <div class="container">
                    <div class="bord-item--title">Собственная сервисная служба</div>
                    <div class="bord-item--desc">доставка товара день в день</div>
                </div>
            </div>
        </div>
    </section>
<?php endif;?>
<?php echo $this->getChildHtml('home_sales') ?>
<?php //echo $this->getChildHtml('home_categories'); ?>
<?php /* ?><!--<section class="callback-form">
    <div class="wrapper wrapper-callback--form">
        <div class="title">Получайте новые предложения первыми!</div>
        <form class="callback-form--inner">
            <input class="callback-form--input" name="email" placeholder="Ваш email" />
            <input class="callback-form--input" name="name" placeholder="Ваше имя" />
            <input class="btn btn-blue callback-form--submit" type="submit" value="Подписаться"/>
        </form>
    </div>
</section>-->
 <?php */ ?>
<?php echo $this->getChildHtml('banner_services') ?>
<?php echo $this->getChildHtml('home_brands') ?>
<section class="page-info">
    <div class="wrapper wrapper-page--info">
        <?php echo $this->getChildHtml('content') ?>
    </div>
</section>
    <?php echo $this->getChildHtml('footer', false) ?>
<?php echo $this->getChildHtml('jsfooter') ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
    <?php /* ?>
    <!-- Тэг домашней страницы Criteo OneTag -->
    <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
    <script type="text/javascript">
        window.criteo_q = window.criteo_q || [];
        var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
        window.criteo_q.push(
            { event: "setAccount", account: 50412}, // Это значение остается неизменным
            { event: "setEmail", email: "" }, // Может быть пустой строкой
            { event: "setSiteType", type: deviceType},
            { event: "viewHome"});
    </script>
    <!-- Конец тэга домашней страницы Criteo OneTag -->
 <?php */ ?>
</body>
</html>

