<div class="oneclick-buy oneclick-buy--bsket">
    <div class="oneclick-buy--title">Заказать без оформления</div>
    <div class="oneclick-buy--text">Можно не заполнять никаких форм, просто оставить телефон и консультант
        решит все вопросы по оформлению заказа.
    </div>
    <form action="<?php echo $this->getUrl('oneclickorder/index/saveOrder')?>" class="oneclick-buy--form">
        <input type="text" id="phone-input" class="oneclick-buy--form_input" name="oneclickorder[phone]"
               placeholder="<?php echo $this->__('+38  _ _ _  _ _ _  _ _  _ _')?>"/>
        <input class="btn btn-blue oneclick-buy--form_submit" type="submit" value="Жду звонка"/>
    </form>

</div>
<?php //name="oneclick_buy_phone"