<?php
    /** @var $this Smasoft_Oneclickorder_Block_Success */
$_helper = $this->helper('catalog/output');?>

<?php
    if ($this->isShowMagentoOrderSuccess()) :
        echo $this->getChildHtml('magento_order_success');
    else :
?>



        <section class="page-nav">
            <!--<div class="wrapper wrapper-page-nav">
                <ul class="breadcrumbs">
                    <li><a class="breadcrumbs-link" href="#">Главная</a><img alt="bc-arrow" src="img/arrow.svg" /></li>
                    <li><div class="breadcrumbs-link breadcrumbs-link--act">Категории</div><img alt="bc-arrow" src="img/arrow.svg" /></li>
                </ul>
                <a class="popup-continue" href="#">
                    <img src="img/arrow.svg" alt="continue-img">
                    <span>Вернуться на главную</span>
                </a>
            </div>-->
            <h1 class="page-title"><?php echo $this->__('Your order has been received.') ?></h1>
        </section>
        <section class="thanks-page">
            <div class="wrapper wrapper-order--page wrapper-grid wrapper-grid--revers">

                <div class="page-grid--main">

                   <!-- <div class="mobile-thanks--menu popup-toggle" data-popup="3">
                        Меню личного кабинета
                    </div>-->

                    <div class="thanks-page--header">
                        <div class="thanks-page--header__img">
                            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/thanks-img.svg" alt="thanks-pahe-img" />
                        </div>
                        <div class="thanks-page--header__container">
                            <div class="thanks-page--header__container_title">
                                <?php echo $this->__('Thank you for your purchase!') ?>
                                <?php if ($this->getOrderId()) : ?>
                                <!--Спасибо Вам за ваш заказ --><span class="order-number">№<?php echo $this->getOrderId();?></span>
                                <?php endif;?>
                            </div>


                            <div class="thanks-page--header__container_text">

                                <?php if ($this->getOrderId()) : ?>
                                    <p><?php echo $this->__('Manager will call you to %s', $this->getPhoneNumber()) ?></p>
                                <?php endif; ?>
                                <!--<h2 class="sub-title"><?php echo $this->__('Thank you for your purchase!') ?></h2>-->
                                <!--В ближайшее время с вами свяжется наш менеджер и уточнит все условия доставки вашего заказа.
                                Если менеджер не позвонит Вам в течении часа, то пожалуйста сообщите нам об этом.
                                <br><br>
                                Ниже Вы можете ознакомиться с вашим заказом более детально.-->
                            </div>
                        </div>
                    </div>

                    <div class="thanks-page--header__container_text thanks-page--header__container_text--mobile">
                        <?php if ($this->getOrderId()) : ?>
                            <p><?php echo $this->__('Manager will call you to %s', $this->getPhoneNumber()) ?></p>
                        <?php endif; ?>
                    </div>

<?php
                    $order = Mage::getModel("sales/order")->load($this->getOrderId(), 'increment_id');
                    $orderedItems = $order->getAllItems();
                    $itemsCodes = array();
                    $itemsData = array();
                    $_helper = $this->helper('catalog/output');
                    $_dataHelper = $this->helper('ukrsnab');
                    $address = $order->getShippingAddress();
                    $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
                    $grandTotal = $order->getGrandTotal() > 0 ? intval($order->getGrandTotal()) : 0;

                    $itemPrice = null;
                    ?>
                    <div class="thanks-page--grid">
                        <div class="thanks-page--grid__head">
                            <div class="box">
                                <div class="order-number">
                                    Заказ № <span><?php echo $this->getOrderId();?></span>
                                </div>
                                <div class="order-date">
                                    <!--30 июля 2019 11:18-->
                                </div>
                            </div>
                            <div class="box">
                                <div class="order-quantity">
                                    <span><?php echo count($orderedItems);?></span> товара на сумму <span class="order-price">50 700.00</span> грн.
                                </div>
                                <div class="thanks-page--grid__head_btn">
                                    <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/arrow.svg" alt="thanks-page-arrow" />
                                </div>
                            </div>
                        </div>

                        <div class="thanks-page--grid__products">

                            <?php foreach ($orderedItems as $order_item):
                                $_product = Mage::getModel('catalog/product')->load($order_item->getProduct()->getId());?>
                            <div class="thanks-page--grid__product">
                                <div class="basket-thumb">
                                    <?php $_imgSize = 120; ?>
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(null, $_imgSize); ?>" alt="basket-product-image">
                                </div>
                                <div class="box">
                                    <div class="box-inner">
                                        <div class="basket-desc--name">
                                            <?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?>
                                        </div>
                                        <div class="basket-desc--id">
                                            Код: <span><?php echo $_item->getSku();?></span>
                                        </div>
                                    </div>
                                    <div class="box-inner">
                                        <div class="basket-price">
                                            <div class="cart-price--main"><span class="cart-price--val">
                                                    <?php echo $this->helper('core')->currency(($itemPrice ? $itemPrice : $_item->getPrice()), true, false);?>
                                                    <!--20 098,00</span>&nbsp;<span class="cart-price--cur">грн.</span>-->
                                            </div>

                                        </div>
                                        <div class="thanks-page--grid__product_quantity">
                                            <span><?php echo intval($_item->getQtyOrdered());?></span> шт.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach;?>

                        </div>
                        <div class="thanks-page--grid_tabs">
                            <div class="thanks-page--grid_tab">
                                <div class="thanks-page--grid_tab__title">
                                    Телефон
                                </div>
                                <div class="thanks-page--grid_tab__text">
                                    <?php echo $this->getPhoneNumber();?>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>



            </div>
        </section>

    <?php  endif; ?>