<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$impressions_products = [];


if (Mage::registry('current_category')) {
    $category = Mage::registry('current_category');
    $productCollection = Mage::getSingleton('catalog/layer')->setCurrentCategory($category)->getProductCollection();
    $max_price = $productCollection->getMaxPrice();
    $minPrice = $productCollection->getMinPrice();

    $firstItem = $productCollection->getFirstItem();
    $image = '';
    $brand = 'Avant';
    $description = '';
    if ($firstItem) {
        $_imgSize = 210;
        $image = $this->helper('catalog/image')->init($firstItem, 'small_image')->resize($_imgSize);

    }
    $seo = Mage::helper('seo')->getCurrentSeo();
    $description = $seo->getMetaDescription();

//    echo '<pre>$seogetData';
//    print_r($seo->getData());
//    echo '</pre>';


    $filters = Mage::getSingleton('Mage_Catalog_Block_Layer_State')->getActiveFilters();
    $pno = Mage::app()->getRequest()->getParam('page');



        $ids=[];
        foreach($filters as $fil)
        {

            $filterData=$fil->getData();
            if ($filter=$fil->getFilter())
            {
                if ($attrModel=$filter->getAttributeModel())
                {
                    if ($attrModel->getAttributeId()==141){
                        $brand=$fil->getValue();
                    }

                }
                if ($valueFilter=$fil->getValue())
                {
                    $ids[]=$valueFilter;
                }
            }

        }
        $sku = $category->getId().(count($ids)>0?'_'.implode('_',$ids):'');

   // }


    $currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
    $path = $url->getPath();

    $raiting = Mage::getModel('ukrsnab/raiting')
        ->loadByUrl($path);


    if ($raiting->getId()) {

        $raitingValue = $raiting->getRaiting();
        $raitingVote = $raiting->getVotes();
    } else {
        $raitingValue = 0;
        $raitingVote = 0;

    }

//    $title = $this->getLayout()->getBlock('head')->getTitle();
    ?>


    <div itemscope itemtype="http://schema.org/Product">

        <meta itemprop="name" content="<?php echo $seo->getTitle();//Mage::registry('current_category')->getName(); ?>"/>

        <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
            <meta itemprop="lowPrice" content="<?php echo $minPrice; ?>"/>
            <meta itemprop="highPrice" content="<?php echo $max_price; ?>"/>
            <meta itemprop="priceCurrency" content="UAH"/>
            <meta itemprop="offerCount" content="<?= $productCollection->getSize();//count($productCollection); ?>"/>

        </div>

        <div itemprop="AggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="<?php echo $raitingValue; ?>"/>
            <meta itemprop="reviewCount" content="<?php echo $raitingVote; ?>"/>
            <meta itemprop="bestRating" content="5"/>

        </div>

        <meta itemprop="brand" content="<?= $brand; ?>"/>
        <meta itemprop="description" content="<?= strip_tags($description); ?>"/>
        <meta itemprop="image" content="<?= $image; ?>"/>
        <meta itemprop="review" content=""/>
        <meta itemprop="sku" content="<?= $sku; ?>"/>
        <meta itemprop="mpn" content="<?= $sku; ?>"/>

    </div>


<?php } ?>
<style>
    .no_available_product {

    }

    /*.no_available_product .no_available_product_opacity*/
    /*{*/
    /*opacity:0.5;*/
    /*width:100%;*/
    /*height:100%;*/
    /*position:absolute;*/
    /*top:0px;*/
    /*left:0px;*/
    /**/
    /**/
    /*}*/

    @media screen and (max-width: 768px) {
        .cart-more--box {
            display: none;

        }
    }

    .no_available_product .cart-more:before {
        opacity: 0.6;
        background: #fff;
    }

</style>

<?php if (!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
        <div id="ajax-errors" style="display: none;">
            <ul class="messages">
                <li class="error-msg">
                    <ul>
                        <li><span><?php echo $this->__('An error occurred, please try again later.'); ?></span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--<div id="loading" class="please-wait" style="display: none;">
            <img alt=""
                 src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
        </div>-->

    <?php endif; ?>


    <div id="catalog-listing">
        <?php //echo $this->getToolbarHtml() ?>


        <?php echo $this->getChildHtml('pin.products'); ?>
        <!-- -->

        <div id="category-main--products_list"
             class="category-main--products_list category-main--products_list__default">

            <?php

            $features = Mage::helper('ukrsnab/data')->getFeatures(false);//$prod);
            $position = 0;
            $itemsRetarg=[];
            $current_category = Mage::registry('current_category');//Mage::
            foreach ($_productCollection as $_product):
                $prod = Mage::getModel('catalog/product')->load($_product->getId());
                $is_available = $_product->isAvailable();
                $entityType = 'catalog_product';

                ?>


                <?php
                $entityType = 4;

                $product_data = $_product->getData();

                $values_feature = [];
                foreach ($features as $feature) {
                    if ($feature != '') {
                        $feature = trim($feature);
                        if (isset($product_data[trim($feature)])) {
                            $value = $product_data[trim($feature)];
//                            $value= $_product->getAttributeText($feature);
//                            if ($value == '') {
//
//                                $value = $_product->getData($feature);
//                            }
                            $value_1 = $_helper->productAttribute($prod, $value, $feature);//
                            $_attr_value = $_product->getAttributeText($feature);
                            if ($_attr_value == '')
                                $_attr_value = $value_1;


                            $attributeLabel = Mage::getModel('eav/entity_attribute')->loadByCode($entityType, $feature);

                            if ($attributeLabel) {
                                $_attr_label = $attributeLabel->getFrontendLabel();

                                if ($_attr_value != '') {


                                    $values_feature[$_attr_label] = $_attr_value;
                                    //$value= $prod->getAttributeText($feature);

                                    $class = 'characteristic';
                                    ?>

                                    <?php
                                }
                            }
                        }
                    }

                }


                $_store = $_product->getStore();
                $_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($_product->getFinalPrice()));

                $position++;
                $brand = $_product->getAttributeText('proizvoditel');
                 $path_category = Mage::helper('seo')->getPathCategories($_product);
                /* if ($current_category) {
                     $impressions_products[] = "{
             'name': '" . $_product->getName() . "',
             'id':'" . $_product->getId() . "',
             'price': '" . $_convertedFinalPrice . "',
             'brand': '" . $brand . "',
             'category': '" . $path_category . "',
             'list': '" . $current_category->getName() . "',
             'position': " . $position . "
             }";
                 } else {
                     $impressions_products[] = "{
             'name': '" . $_product->getName() . "',
             'id':'" . $_product->getId() . "',
             'price': '" . $_convertedFinalPrice . "',
             'brand': '" . $brand . "',
             'category': '" . $path_category . "',
             'list': 'Поиск',
             'position': " . $position . "
             }";
                 }
 */

                ?>


                <div class="cart <?php if (!$is_available) echo 'no_available_product'; ?>">

                    <?php if (!$is_available) echo '<div class="no_available_product_opacity"></div>'; ?>

                    <a class="cart-inner" href="<?php echo $_product->getProductUrl() ?>"
                       data-id="<?php echo $_product->getId(); ?>"
                       data-name="<?php echo $_product->getName(); ?>"
                       data-brand="<?php echo $brand; ?>"
                       data-price="<?php echo $_convertedFinalPrice; ?>"
                       data-category="<?php echo $path_category; ?>"
                       data-position="<?php echo $position; ?>">

                        <div class="cart-img">
                            <?php $_imgSize = 210; ?>
                            <img class="cwslazyloader"
                                 data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                 id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>

                        </div>

                        <?php $labelsBlock = $this->getChild('product_labels'); ?>
                        <?php if ($labelsBlock): ?>
                            <?php echo $labelsBlock->setProduct($_product)->toHtml(); ?>
                        <?php endif; ?>

                        <div class="cart-large--box">
                            <div class="cart-title">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                <div class="cart-id">
                                    Код:&nbsp;<span
                                            class="cart-id--value"><?php echo $_helper->productAttribute($prod, $prod->getSku(), 'sku') ?></span>
                                </div>
                            </div>
                            <div class="cart-price">
                                <?php echo $this->getPriceHtml($_product, true) ?>
                            </div>
                            <div class="cart-more--header">
                                <?php
                                if ($is_available):
                                    ?>
                                    <div class="availability" style="color: #36A041">Есть на складе
                                    </div>
                                <?php else: ?>
                                    <div class="availability" style="color: #FF0000">Нет в наличии
                                    </div>
                                <?php endif; ?>


                                <?php /*if ($_product->getRatingSummary()): ?>
                                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                <?php endif; */?>
                                <div class="cart-id">
                                    Код:&nbsp;<span class="cart-id--value"><?php echo $_helper->productAttribute($prod, $prod->getSku(), 'sku') ?></span>
                                </div>
                            </div>

                            <div class="cart-more--box">
                                <?php foreach ($values_feature as $f_l => $f_v):
                                    $value_char = '';
                                    if (is_array($f_v)) $value_char = implode(', ', $f_v); else $value_char = $f_v;
                                    if ($value_char != ''):
                                        ?>
                                        <div class="characteristic">
                                            <?php echo $f_l; ?>:&nbsp;<span class="characteristic-value"><?php
                                                echo $value_char; ?></span>
                                        </div>
                                    <?php endif;
                                endforeach; ?>

                            </div>
                        </div>
                    </a>

                    <div class="mobile_buy">
                        <?php if ($_product->isSaleable() && !$_product->canConfigure()):

                            $add_to_cart_link = $this->getAddToCartUrl($_product);
                            $add_to_cart_link = str_replace('checkout', 'cartcheckout', $add_to_cart_link);
                            ?>
                            <a href="<?php echo $add_to_cart_link; ?>" title="<?php echo $this->__('Add to Cart') ?>"
                               class="btn btn-blue btn-buy1 buy_product_list">
                                Купить<?php //echo $this->__('Add to Cart')
                                ?></a>
                        <?php else: ?>
                            <!--                            <p class="availability out-of-stock"><span>--><?php //echo $this->__('Out of stock') ?><!--</span>-->
                            <!--                            </p>-->
                        <?php endif; ?>

                    </div>
                    <div class="cart-more">

                        <div class="cart-more--header">
                            <?php
                            if ($is_available):
                                ?>
                                <div class="availability" style="color: #36A041">Есть на складе
                                </div><!-- #FF0000 Нет на складе -->
                            <?php else: ?>
                                <div class="availability" style="color: #FF0000">Нет в наличии
                                </div><!-- #FF0000 Нет на складе -->
                            <?php endif; ?>


                            <?php if ($_product->getRatingSummary()): ?>
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            <?php endif; ?>
                            <div class="cart-id">
                                Код:&nbsp;<span
                                        class="cart-id--value"><?php echo $_helper->productAttribute($prod, $prod->getSku(), 'sku') ?></span>
                            </div>
                        </div>

                        <div class="cart-more--box">

                            <?php foreach ($values_feature as $f_l => $f_v):
                                if (is_array($f_v)) $char_value = implode(', ', $f_v); else $char_value = $f_v;
                                if ($char_value != ''):
                                    ?>
                                    <div class="characteristic">
                                        <?php echo $f_l; ?>:&nbsp;<span
                                                class="characteristic-value"><?php
                                            echo $char_value;
                                            ?></span>
                                    </div>
                                <?php endif;
                            endforeach; ?>
                        </div>
                        <?php if ($_product->isSaleable() && !$_product->canConfigure()):

                            $add_to_cart_link = $this->getAddToCartUrl($_product);
                            $add_to_cart_link = str_replace('checkout', 'cartcheckout', $add_to_cart_link);
                            ?>
                            <a href="<?php echo $add_to_cart_link; ?>" title="<?php echo $this->__('Add to Cart') ?>"
                               class="btn btn-blue btn-buy1 buy_product_list">
                                Купить<?php //echo $this->__('Add to Cart')
                                ?></a>
                        <?php else: ?>

                        <?php endif;  ?>

                    </div>
                </div>
            <?php

$itemsRetarg[]=[
        'id'=>$_product->getId(),
        'google_business_vertical'=> 'retail'
];
            endforeach; ?>


            <script>
                window.dataLayer = window.dataLayer || [];
                dataLayer.push({
                    'ecommerce': {
                        'currencyCode': 'UAH',
                        'impressions': [<?php echo implode(',', $impressions_products);?>]
                    },
                    'event': 'gtm-ee-event',
                    'gtm-ee-event-category': 'Enhanced Ecommerce',
                    'gtm-ee-event-action': 'Product Impressions',
                    'gtm-ee-event-non-interaction': 'True',
                });
            </script>


            <script>
                gtag('event','view_item_list', {
                    'send_to': 'AW-10775240954',
                    'items': <?=json_encode($itemsRetarg);?>

                });

            </script>
            <?php
            /*[
                        {
                            'id': 1234,                          - ѕросмотренные товары, артикул или SKU товара. ID в коде должен совпадать с ID, которые передаютс€ в фид дл€ Merchant Center
                        'google_business_vertical': 'retail'
                }]*/
            ?>
        </div>

        <div class="load-more--container">

            <div id="toolbar-bottom">
                <?php echo $this->getChildHtml('pager_only'); ?>
            </div>
            <a id="load-more-products" class="btn btn-white btn-more">Показать еще</a>
        </div>


        <div class="scroll-bottom"></div>
    </div>
    <?php /*if (!$this->getRequest()->isAjax()): ?>
</div>
<?php endif;*/ ?>
<?php endif; ?>

<?php
//set product collection on after blocks
$_afterChildren = $this->getChild('after')->getSortedChildren();
foreach ($_afterChildren as $_afterChildName):
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    $_afterChild->setProductCollection($_productCollection);
    ?>
    <?php echo $_afterChild->toHtml(); ?>
<?php endforeach; ?>

<script type="text/javascript">
    //<![CDATA[
    <?php /* if ($this->helper('catalin_seo')->isAjaxEnabled()): ?>
    CatalinSeoHandler.isAjaxEnabled = true;
    CatalinSeoHandler.urlSuffix = <?php echo json_encode(Mage::helper('catalin_seo')->appendSuffix('', Mage::getStoreConfig('catalog/seo/category_url_suffix'))); ?>;
    CatalinSeoHandler.routingSuffix = <?php echo json_encode(Mage::helper('catalin_seo')->getRoutingSuffix()) ?>;
    <?php endif; ?>
    CatalinSeoHandler.bindListeners();
 <?php  */ ?>
    //]]>
</script>
