<?php $posts = $this->getPosts(); ?>
    <!--<section class="page-nav">-->

        <h1 class="page-title">Блог</h1>
    <!--</section>-->


<?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>

    <div class="wrapper-blog--page__articles">



<?php foreach ($posts as $post): ?>
    <?php $image = $post->getImage();
    if ($image):
        $imageUrl = Mage::getBaseDir('media') . DS . "articles" . DS . $post->getImage();
        $imageResized = Mage::getBaseDir('media') . DS . "articles" . DS . "resized" . DS .$post->getImage();

        $image_path = '/media/articles/resized/' . $image;
        if (!file_exists($imageResized)) {
            $imageObj = new Varien_Image($imageUrl);
            $imageObj->constrainOnly(TRUE);
            $imageObj->keepAspectRatio(TRUE);
            $imageObj->keepFrame(FALSE);
            $imageObj->resize(275, 250);
            $imageObj->save($imageResized);
        }
        ?>

    <?php else: ?>
        <?php
        $image_path = Mage::getDesign()->getSkinUrl() . 'images/defaults/2_370x180.png';

        ?>

    <?php endif; ?>


    <a class="blog-page--item" href="<?php echo $post->getAddress(); ?>">
        <div class="blog-page--item__thumbnail" style="background-image: url(<?php echo $image_path;?>)">
        </div>
        <div class="box">
            <div class="blog-page--item__head">
                <div class="blog-page--item__head_date"><?php echo $post->getCreatedTime(); ?><!--12 августа 2019--></div>
                <div class="blog-page--item__head_type">
                    <?php $postCats = $post->getCats(); ?>
                        <?php if (!empty($postCats)): ?>

                        <?php foreach ($postCats as $data): ?>
                            <?php echo $data['title']; ?>
                        <?php endforeach; ?>
                        <?php endif;?>
                </div>
            </div>
            <div class="blog-page--item__title">
                <?php echo $post->getTitle(); ?>
            </div>
        </div>
    </a>

<?php /* ?>
    <div class="postWrapper">
        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
            <h3><?php echo $post->getCreatedTime(); ?></h3>
        </div>
        <div class="postContent std"><?php echo $post->getPostContent(); ?></div>

        <?php echo $this->getBookmarkHtml($post) ?>
        <div class="tags"><?php echo $this->getTagsHtml($post) ?></div>
        <div class="postDetails">
            <?php if ($this->getCommentsEnabled()): ?>
                <?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" > <?php echo Mage::helper('blog')->__('Comments'); ?></a> |
            <?php endif; ?>
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <?php echo Mage::helper('blog')->__('Posted in'); ?>
                <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo Mage::helper('blog')->__('Posted'); ?>
            <?php endif; ?><?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?></div>
    </div>
 <?php */ ?>
<?php endforeach; ?>
    </div>
<?php $this->getPages(); ?>
<?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>