
<div class="sidebar-box sidebar-box--related">
    <div class="border-box--title">Рубрики</div>
    <div class="related-posts">


            <?php $cats = $this->getCategories(); ?>
            <?php foreach ($cats as $cat): ?>
            <div class="related-post">
                <a href="<?php echo $cat->getAddress(); ?>" ><?php echo $cat->getTitle(); ?></a>
                </div>
            <?php endforeach; ?>


        <?php /* ?>
        <div class="related-post">
            <a class="related-post--thumbnail" href="#">
                <img src="img/blog-article-thumbnail.png" alt="related-post-img" />
            </a>
            <div class="related-post--info">
                <div class="post-type callback">Новости</div>
                <a href="#" class="post-title">Прокат аренда затирочных и заглаживающих машин для бетона</a>
                <div class="post-date">12 августа 2019</div>
            </div>
        </div>
        <div class="related-post">
            <a class="related-post--thumbnail" href="#">
                <img src="img/blog-article-thumbnail.png" alt="related-post-img" />
            </a>
            <div class="related-post--info">
                <div class="post-type callback">Новости</div>
                <a href="#" class="post-title">Прокат аренда затирочных и заглаживающих машин для бетона</a>
                <div class="post-date">12 августа 2019</div>
            </div>
        </div>
        <div class="related-post">
            <a class="related-post--thumbnail" href="#">
                <img src="img/blog-article-thumbnail.png" alt="related-post-img" />
            </a>
            <div class="related-post--info">
                <div class="post-type callback">Новости</div>
                <a href="#" class="post-title">Прокат аренда затирочных и заглаживающих машин для бетона</a>
                <div class="post-date">12 августа 2019</div>
            </div>
        </div>
        <?php */ ?>
    </div>
    <!--<a href="#" class="btn btn-white">Верунться в блог</a>-->
</div>

<?php /* ?>
<div class="block block-blog">
    <div class="block-title">
        <strong><span><?php echo Mage::getStoreConfig('blog/blog/title'); ?></span></strong>
    </div>
    <div class="block-content">
        <?php if ($posts = $this->getRecent()): ?>
            <div class="menu-recent">
                <h5><?php echo Mage::helper('blog')->__('Recent Posts'); ?></h5>
                <ul>
                    <?php foreach ($posts as $post): ?>
                        <li><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php if ($this->getCategories()->count() && Mage::getStoreConfig('blog/menu/category')): ?>
            <div class="menu-categories">
                <h5><?php echo Mage::helper('blog')->__('Categories'); ?></h5>
                <ul>
                    <?php $cats = $this->getCategories(); ?>
                    <?php foreach ($cats as $cat): ?>
                        <li><a href="<?php echo $cat->getAddress(); ?>" ><?php echo $cat->getTitle(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php echo $this->getChildHtml('blog_tags'); ?>
    </div>
</div>
 <?php */ ?>