<?php /** @var $this Mage_Checkout_Block_Onepage_Shipping_Method_Available */ ?>
<?php $methodPrefix = $this->getLogged() ? 's_method_' : 's_method_';?>
<?php $_shippingRateGroups = $this->getShippingRates(); ?>
<?php if (!$_shippingRateGroups): ?>
    <p><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></p>
<?php else: ?>
    <?php $shippingCodePrice = array(); ?>
    <?php $_sole = count($_shippingRateGroups) == 1; 
        foreach ($_shippingRateGroups as $code => $_rates): ?>
            <?php $_sole = $_sole && count($_rates) == 1;
            //echo '$_rates='.count($_rates);
            foreach ($_rates as $_rate): ?>
                <?php $shippingCodePrice[] = "'".$_rate->getCode()."':".(float)$_rate->getPrice(); ?>
                   <?php if ($_rate->getErrorMessage()): ?>
                   <p class="error-msg"><?php echo $this->escapeHtml($_rate->getErrorMessage()) ?></p>
                   <?php else:
                    //checked="checked"
                    //$methodPrefix .  ?>

                    <div class="delivery-item">

                        <label class="container-r container-r--large" for="<?php echo $methodPrefix . $_rate->getCode() ?>">
                            <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="<?php echo $methodPrefix.$_rate->getCode() ?>" <?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' selected' ?> class="radio"/>
                            <span class="checkmark"></span>
                            <div class="delivery-item--desc">
                                <div class="border-box--text border-box--text_black"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?></div>
                                <div class="border-box--text border-box--text_small">
                                    <?php //=$methodPrefix . ' '.$_rate->getCode();?>
                                    <?php echo $_rate->getMethodDescription();?>
                                </div>
                            </div>
                            <div class="delivery-price">
                                <?php if (Mage::getStoreConfig('carriers/' . $code . '/is_conditions_active', Mage::app()->getStore()->getId())) : ?>
                                    <?php echo $_rate->getPrice() > 0 ? $this->getShippingPrice($_rate->getPrice(), true) : ' - Бесплатно';?>
                                <?php endif;?>
                            </div>
                        </label>


                        <?php /* ?>
                            <label class="checkbox-snab--var checkbox-snab--rounded">
                                <!--<input type="checkbox">-->
                                <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="<?php echo $methodPrefix . $_rate->getCode() ?>" <?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' selected' ?> class="radio"/>
                                <span class="checkbox-snab--inner"></span>
                            </label>
                            <div class="delivery-item--desc">
                                <div class="border-box--text border-box--text_black"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?></div>
                                <div class="border-box--text border-box--text_small">
                                    <?php echo $_rate->getMethodDescription();?>
                                    <!--
                                    Срок доставки 1-3 дня. <br>Срок может быть увеличен при доставке товара из фирменного магазина.-->
                                </div>
                            </div>
                            <div class="delivery-price delivery-price--free">
                                <?php if (Mage::getStoreConfig('carriers/' . $code . '/is_conditions_active', Mage::app()->getStore()->getId())) : ?>
                                    <?php echo $_rate->getPrice() > 0 ? $this->getShippingPrice($_rate->getPrice(), true) : ' - Бесплатно';?>
                                <?php endif;?>
                            </div>
                        <?php */ ?>

                    </div>

                <?php /*

                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 loading">
                            <div class="radio radio--classic">
                            <?php if ($_sole) : ?>
                                <span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="<?php echo $methodPrefix . $_rate->getCode() ?>" checked="checked" /></span>
                                <?php else: ?>
                                <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="<?php echo $methodPrefix . $_rate->getCode() ?>" <?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio"/>

                                    <?php if ($_rate->getCode() === $this->getAddressShippingMethod()): ?>
                                    <?php endif; ?>

                                <?php endif; ?>
                                <label for="<?php echo $methodPrefix . $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>

                                    <?php if (Mage::getStoreConfig('carriers/' . $code . '/is_conditions_active', Mage::app()->getStore()->getId())) : ?>
                                        <?php echo $_rate->getPrice() > 0 ? $this->getShippingPrice($_rate->getPrice(), true) : ' - Бесплатно';?>
                                    <?php endif;?>
                                </label>
                            </div>
                        </div>
                        <?php if ($_rate->getMethodDescription()): ?>
                        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2">
                            <div class="form__item--descr __tab">
                                <?php echo $_rate->getMethodDescription();?>
                            </div>
                        </div>
                        <?php endif;?>
                   <?php */ endif;
                //break; ?>
            <?php endforeach; ?>
    <?php endforeach; ?>
<?php endif; ?>
