<?php
$shipping = $this->getShipping()->getData();
$billing = $this->getBilling()->getData();
$lastname = $billing['firstname'];//->getFirstname();
$phone = $billing['telephone'];//->getTelephone();
$email = $billing['email'];//->getEmail();
if ($shipping['city'] != '')
    $city = $shipping['city'];//->getCity();
else {
    $city_data = Mage::helper('storelocator/data')->getCurrentCity();
    $city = $city_data['name'];
}

if (isset($shipping['shipping_method_child'])) $shipping_method_child = $shipping['shipping_method_child'];
else $shipping_method_child = '';

$shipping_method = $shipping['shipping_method'];

$shipping_method_name = Mage::helper('cartcheckout')->getNameShippingMethod($shipping_method, $shipping_method_child);

if (isset($shipping['street'])) $street = $shipping['street'];
else $street = '';

$when = '';
if (isset($shipping['day_for_delivery'])) $when = $shipping['day_for_delivery'];//.': '.$shipping['day_for_delivery'];
if (isset($shipping['time_delivery'])) $when .= ': ' . $shipping['time_delivery'];
if (isset($shipping['customer_note'])) $comment = $shipping['customer_note']; else $comment = '';


if (isset($shipping['shipping_description'])) $comment = $shipping['shipping_description'];
if (isset($shipping['timeshipping'])) $when = $shipping['timeshipping'];



?>
<input type="hidden"
       value="<?php if ($shipping_method_child != '') echo $shipping_method_child; else echo $shipping_method; ?>"
       id="shipping_method_confirm" name="shipping_method_confirm"/>
<div class="c-c-w-conclusion">
    <div class="title">Личная информация</div>
    <div class="total">
        <table>
            <tr>
                <td class="left">Имя и Фамилия</td>
                <td><?php echo $lastname; ?></td>
            </tr>
            <tr>
                <td class="left">Телефон</td>
                <td><?php echo $phone; ?></td>
            </tr>
            <tr>
                <td class="left">E-mail</td>
                <td><?php echo $email; ?></td>
            </tr>
            <tr>
                <td class="left">Город</td>
                <td><?php echo $city; ?></td>
            </tr>
        </table>
    </div>
    <div class="title">Доставка</div>
    <div class="total">
        <table>
            <tr>
                <td class="left">Способ доставки</td>
                <td><?php echo $shipping_method_name; ?></td>
            </tr>
            <?php if ($shipping_method == 'webfresh_courierdelivery_standard'):
                if ($street != ''):?>
                    <tr>
                        <td class="left">Адрес</td>
                        <td><?php echo $street; ?></td>
                    </tr>
                <?php endif; ?>
                <?php if ($when != ''): ?>
                    <tr>
                        <td class="left">На когда</td>
                        <td><?php echo $when; ?></td>
                    </tr>
                <?php endif; ?>

                <?php if ($comment != ''): ?>
                    <tr>
                        <td class="left">Комментарий к заказу</td>
                        <td><?php echo $comment; ?></td>
                    </tr>
                <?php endif; ?>
            <?php elseif (($shipping_method == 'webfresh_pickupdelivery_standard') || ($shipping_method == 'webfresh_pickupdelivery_fast_shipping')):
                //$storelocator_id=$shipping['pickup_storelocator'];
                //$storelocator=Mage::helper('storelocator')->getStorelocatorById($storelocator_id);
                if (isset($shipping['pharma'])) :
                    $storelocator = Mage::helper('storelocator')->getStorelocatorById($shipping['pharma']);

                    ?>

                    <?php
                    if ($storelocator):
                        ?>
                        <tr>
                            <td class="left">Аптека</td>
                            <td><?php echo $storelocator->getTitle(); ?></td>
                        </tr>
                    <?php endif;
                endif;

            elseif (strpos($shipping_method, 'sy_novaposhta') !== false): ?>
                <?php
                if (strpos($shipping_method, 'WarehouseDoor') !== false) { ?>
                    <?php
                    if (isset($shipping['novaposhta_address'])):
                        if ($shipping['novaposhta_address'] != ''):?>
                            <tr>
                                <td class="left">Адрес</td>
                                <td><?php echo $shipping['novaposhta_address']; ?></td>
                            </tr>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php } elseif (strpos($shipping_method, 'WarehouseWarehouse') !== false) { ?>
                    <?php
                    if (isset($shipping['novaposhta_warehouses'])):
                        if ($shipping['novaposhta_warehouses'] != ''):?>
                            <tr>
                                <td class="left">Отделение Новой почты</td>
                                <td><?php echo iconv('utf-8','cp1251',$shipping['novaposhta_warehouses']); ?></td>
                            </tr>
                        <?php endif; ?>
                    <?php endif; ?>

                <?php } ?>

                <?php
                if (isset($shipping['novaposhta_note'])):
                    if ($shipping['novaposhta_note'] != ''):?>
                        <tr>
                            <td class="left">Комментарий к заказу</td>
                            <td><?php echo $shipping['novaposhta_note']; ?></td>
                        </tr>
                    <?php endif; ?>
                <?php endif; ?>
                <?php //} ?>

            <?php endif; ?>
        </table>
    </div>
    <div class="total total_itogo">
        <table>
            <tr>
                <td class="left">К оплате</td>
                <td><?php
                    $summa=Mage::helper('checkout')->formatPrice(Mage::getSingleton('checkout/session')->getQuote()->getGrandTotal());
                    echo $summa;//$shipping_method_name; ?></td>
            </tr>
        </table>
    </div>


</div>
<div class="c-c-w-step-button" style="margin-top:20px;">
    <button type="button" title="<?php echo $this->quoteEscape($this->__('Continue')) ?>" class="button"
            onclick="checkout_my.saveOrder()">Оформить заказ<?php //echo $this->__('Submit order') ?></i>
    </button>
</div>