<?php
$cities=Mage::helper('storelocator')->getCities();
$current_city=Mage::helper('storelocator/data')->getCurrentCity();
/*echo '<pre>currentcity';
print_r($current_city);
echo '<pre>';
*/
?>
<script>
    jQuery(document).ready(function(){
        jQuery('#select_city_onepagecheckout').select2({});
    });
</script>
<div class="choose_city_checkout">
    <label class="labelyourcity"><?php echo $this->__('Our city');?></label>
    <select id="select_city_onepagecheckout">

        <?php  foreach ($cities as $city):?>
        <option <?php if ($current_city['code']==$city->getCityCode()) echo 'selected=selected';?>value="<?php echo $city->getCityCode();?>" data-code="<?php echo $city->getCityCode();?>" data-name="<?php echo $city->getCityName();?>" ><?php echo $city->getCityName();?></option>

        <?php endforeach;?>

    </select>
</div>