<!-- ORDER NUMBER -->

<?php
$phone=$this->getPhone();
$lastname=$this->getLastname();
    $email=$this->getEmail();
    $city=$this->getCity();
    $shipping_method=$this->getShippingMethod();
    $strret=$this->getStreet();
    $when=$this->getWhen();
    $comment=$this->getComment();
?>
<div class="order-pay-wrap clearfix">
    <div class="o-p-w-title">
        Спасибо! Ваш заказ № <span class="number">15363</span> оформлен
        <span class="subtitle">мы свяжемся с вами в течение 10 минут</span>
    </div>
    <div class="o-p-w-left">
        <div class="c-c-w-conclusion">
            <div class="title">Данные о заказе:</div>
            <div class="total">
                <table>
                    <tr>
                        <td class="left">Имя и Фамилия:</td>
                        <td>Василий Алефтарович</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="left">Телефон:</td>
                        <td>+380809562626</td>
                    </tr>
                    <tr>
                        <td class="left">E-mail:</td>
                        <td>valeftar@gmail.com</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="left">Город:</td>
                        <td>Киев</td>
                    </tr>
                    <tr>
                        <td class="left">Способ доставки:</td>
                        <td>курьерская служба</td>
                    </tr>
                    <tr>
                        <td class="left">Адрес:</td>
                        <td>ул. Прорезная, 20а, кв.65</td>
                    </tr>
                    <tr class="separator">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="left">На когда:</td>
                        <td>послезавтра, с 10:00 до 15:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="o-p-w-right">
        <div class="o-p-w-cart">
            <div class="title">Ваш заказ:</div>
            <table>
                <tr class="top">
                    <td width="55%">Товар</td>
                    <td width="15%">Цена</td>
                    <td width="15%">Кол-во</td>
                    <td width="15%">Стоимость</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-cart-image">
                            <img src="./images/cart1.png" alt="Изображение" />
                        </div>
                        <div class="d-cart-info-wrap">
                            <div class="d-cart-name">Тиотриазолин</div>
                            <div class="d-cart-descr">Ампулы, 400 мг, 10 шт.</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-price">90,86 грн</div>
                    </td>
                    <td>
                        <div class="d-cart-qty">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-total">181,72 грн</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-cart-image">
                            <img src="./images/cart2.png" alt="Изображение" />
                        </div>
                        <div class="d-cart-info-wrap">
                            <div class="d-cart-name">Азимед</div>
                            <div class="d-cart-descr">Капсулы, 250 мг, 6 шт.</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-price">90,86 грн</div>
                    </td>
                    <td>
                        <div class="d-cart-qty">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-total">181,72 грн</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-cart-image">
                            <img src="./images/cart3.png" alt="Изображение" />
                        </div>
                        <div class="d-cart-info-wrap">
                            <div class="d-cart-name">Фромилид</div>
                            <div class="d-cart-descr">Ампулы, 400 мг, 10 шт.</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-price">90,86 грн</div>
                    </td>
                    <td>
                        <div class="d-cart-qty">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-total">181,72 грн</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-cart-image">
                            <img src="./images/cart1.png" alt="Изображение" />
                        </div>
                        <div class="d-cart-info-wrap">
                            <div class="d-cart-name">Тиотриазолин</div>
                            <div class="d-cart-descr">Ампулы, 400 мг, 10 шт.</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-price">90,86 грн</div>
                    </td>
                    <td>
                        <div class="d-cart-qty">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-total">181,72 грн</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-cart-image">
                            <img src="./images/cart2.png" alt="Изображение" />
                        </div>
                        <div class="d-cart-info-wrap">
                            <div class="d-cart-name">Азимед</div>
                            <div class="d-cart-descr">Капсулы, 250 мг, 6 шт.</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-price">90,86 грн</div>
                    </td>
                    <td>
                        <div class="d-cart-qty">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-total">181,72 грн</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-cart-image">
                            <img src="./images/cart3.png" alt="Изображение" />
                        </div>
                        <div class="d-cart-info-wrap">
                            <div class="d-cart-name">Фромилид</div>
                            <div class="d-cart-descr">Ампулы, 400 мг, 10 шт.</div>
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-price">90,86 грн</div>
                    </td>
                    <td>
                        <div class="d-cart-qty">
                            2
                        </div>
                    </td>
                    <td>
                        <div class="d-cart-total">181,72 грн</div>
                    </td>
                </tr>
            </table>
            <div class="total">Итого: 1071,70 грн</div>
        </div>
    </div>
</div>

<!-- END ORDER NUMBER -->