<?php
$category=$this->getCategory();
if ($category){
?>
<section class="repair-page">
    <div class="wrapper wrapper-repair--page">
        <div class="repair-page">
            <div class="page-description">
                <?php
                echo $category->getDescription();
                ?>

            </div>

            <div class="repair-items">

                <?php $_imgSize = 210; ?>
                <?php

                $list_of_products=$this->getList();
                foreach ($list_of_products as $product):
                   /* echo '<pre>product data';
                    print_r($product->getData());
                    echo '</pre>';*/
                   $services=trim($product->getTheRemont());
                    //$services=nl2br($services);
                    $services_ar=[];
                if ($services!='')
                    $services_ar=explode("\r\n",$services);
                /*echo '<pre>';
                print_r($services_ar);
                echo '</pre>';*/
                    ?>




                <div class="repair-item">
                    <div class="repair-item--container">
                        <div class="repair-item--inner">
                            <div class="repair-item--iner__image img-box">
                                <a href="<?php echo $product->getProductUrl() ?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize($_imgSize); ?>" alt="repair-item-image" />
                                </a>

                            </div>
                            <div class="repair-item--inner__title">
                                <a href="<?php echo $product->getProductUrl() ?>"><?php echo $product->getName();?></a>
                            </div>
                            <a href="#" onclick="ringostatAPI.openCallbackForm()" class="callback callback-orange repair-item--iner__callback">
                                Заказать звонок
                            </a>


                        </div>

                        <div class="repair-item--more">
                            <?php if (count($services_ar)>0):?>
                                <ul>
                                    <?php foreach ($services_ar as $service):?>
                                        <li><?php echo $service;?></li>
                                    <?php endforeach;?>
                                </ul>
                            <?php endif;?>
                            <a href="<?php echo $product->getProductUrl() ?>" class="repair-item--more__btn callback">
                                Смотреть все услуги
                            </a>
                        </div>
                    </div>
                </div>
                <?php endforeach;?>

            </div>
        </div>
    </div>
</section>

<?php } ?>

