<?php
$count_products=$this->is_count_products();

if ($count_products>0){
?>
<!--<div style="" class="main-col-background">-->
    <?php //echo $this->getChildHtml('toolbar_only'); ?>

    <?php
    //echo $this->getChildHtml('breadcrumbss');
    //echo $this->getChildHtml('top_first');

    ?>

    <?php

    echo $this->getProductListHtml();//getChildHtml('product_list');

    ?>
<!--</div>-->
<?php }else{
echo $this->blockNoProducts();
 } ?>

<style>
    .category-main--products_list
    {
        margin-top: 0px;
    }
    .page-title {
        margin-bottom: 15px;
        margin-top: 10px;
    }
</style>

