<?php
$brands=$this->getBrands(24);
/*echo '<pre>';
print_r($brands);
echo '<pre>';
*/
if (count($brands)>0):
?>
<section class="brands brand-homepage" style="margin-bottom:0px;">
<!--    <div class="title title-deal">-->
<!--        Наши бренды-->
<!--    </div>-->

    <div class="wrapper wrapper-brands">

<!--        <div class="container">-->
<!--            <a href="#" class="btn btn-white">Все бренды</a>-->
<!--        </div>-->

        <div class="wrapper-brands--items">
            <?php
            foreach ($brands  as  $brand){
            ?>
                <div class="wrapper-brands--items_item">
                    <?php
                    $url_brand='/brands/'.$brand['url_value'];
                    if ($brand['logo']!=''){
                        $image ='/media/'.$brand['logo'];?>
                            <a href="<?php echo $url_brand; ?>" class="brand">
                                <img class="cwslazyloader1" src="<?php echo $image;?>" >

                            </a>
                        <?php
                    }else {
                        ?>
                        <a href="<?php echo $url_brand; ?>" class="brand">
                            <!--<img src="https://placehold.it/150x150" srcset="https://placehold.it/150x150 1x, https://placehold.it/300x300 2x" width="150" height="150">-->
                            <?php echo $brand['value']; ?>
                        </a>
                        <?php
                    }
                    ?>
                </div>
                <?php
            }
            ?>
        </div>
    </div>


<!--            <div class="container">-->
<!--                <a href="/brands.html" style="    margin-top: 20px;-->
<!--    border: 1px solid #ececec;-->
<!--    width: 150px;-->
<!--    display: block;-->
<!--    margin: 20px auto 0px auto;-->
<!--    text-align: center;-->
<!--    box-shadow: 1px 0px 5px #ececec;-->
<!--    padding: 15px;" class="btn btn-white">Все бренды</a>-->
<!--            </div>-->

</section>


<style>

    .wrapper-brands .wrapper-brands--items_item{
        height:100%;
        width:14%;
    }
    .brands.brand-homepage
    {
        margin:30px 0px;
    }
    .wrapper-brands{
        height:150px;
        height: 100px;
        box-shadow: 1px 0px 5px #ececec;

    }
    .wrapper-brands .wrapper-brands--items_item:nth-child(n+7) .brand
    {
        border-right: none!important;

    }
    .wrapper-brands .wrapper-brands--items_item .brand{
        padding:25px;

        /*border-right: 1px solid #e5e5e5!important;*/
    }

    .wrapper-brands .wrapper-brands--items{
        border:none!important;
    }
    .wrapper-brands .wrapper-brands--items_item{
        border:none!important;
        display:flex!important;
    }
    .wrapper-brands .wrapper-brands--items_item .brand img {
        filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale);
        filter: gray;
        -webkit-filter: grayscale(100%);
        opacity: 0.5;

        max-width: 100%;
        width: auto;
        max-height: 100%;
    }

    .wrapper-brands .wrapper-brands--items_item .brand img:hover {
        opacity: 1;
        filter: none;
        -webkit-filter: grayscale(0%);
    }

    .wrapper-brands .wrapper-brands--items_item:after{
        content:"";
        border-right: 1px solid #e5e5e5!important;

        height: 60px;
        padding-right: 0px;
        margin-top:20px;
        border-right: 1px solid #ececec!important;
    }
    .wrapper-brands .wrapper-brands--items_item:nth-child(-n+15),.wrapper-brands .wrapper-brands--items_item:nth-child(-n+9){
        display:flex!important;
    }


    .wrapper-brands .wrapper-brands--items_item:nth-child(n+7):after{
        border-right:none!important;padding-right: 0px;
    }


    @media screen and (max-width: 500px){
        .wrapper-brands,.wrapper-brands .wrapper-brands--items{
            height:auto;
        }
        .wrapper-brands .wrapper-brands--items_item{
            width:25%;
        }
        .wrapper-brands .wrapper-brands--items_item .brand{
            height:100px;
        }
    }
</style>
<?php endif;?>