<?php
$brands = $this->getBrands();
/*echo '<pre>ssfewfwef';
print_r($brands);
echo '</pre>';
*/?>

<!--<div style=""
     class="page-search-brand">
    <input style="" class="searchinput_filter"
           id="searchinput_brands"
           type="text" placeholder="Быстрый поиск бренда"/>
</div>-->


<div class="brandsMain">
    <div class="container">
        <h1 class="brandsMain__heading">Бренды</h1>
        <div class="brandsMain__wrapper">

            <?php
            foreach ($brands as $key => $values) {
                ?>

                <div class="brandsMain__item">
                    <span id="<?php echo $key; ?>" class="brandsMain__letter"><?php echo $key; ?></span>
                    <ul class="brandsMain__items">

                        <?php
                        /*echo '<pre>$values';
                        print_r($values);
                        echo  '</pre>';*/
                        foreach ($values as $val):
                            $url = '/brands/' . $val['url_value'].'/'; ?>
                            <li class="item_brand">
                                <a href="<?php echo $url; ?>"><?php echo $val['value']; ?></a>
                            </li>

                        <?php endforeach; ?>

                    </ul>
                </div>



               <?php /* ?> <li class="item_brand1">
                    <div class="letter_brand">
                        <?php echo $key; ?>
                    </div>
                    <ul class="list_brands">
                        <?php foreach ($values as $val):
                            $url = '/brands/' . $val['url_key']; ?>
                            <li class="item_brand">
                                <a href="<?php echo $url; ?>"><span class="item_brand_2"><?php echo $val['value']; ?></span></a>
                            </li>

                        <?php endforeach; ?>

                    </ul>
                </li>
                <?php
*/
            } ?>
        </div>
    </div>
</div>


<?php
/*
echo '<pre>$brands';
print_R($brands);
echo '</pre>';*/
?>

