<?php
$helper = Mage::helper('cartcheckout');
$action = $this->getAction()->getFullActionName();
$product = $this->getProduct();
$product_id = $product->getid();
$store_id = $this->getStoreId();//Mage::registry('current_store_id');


?>
<div class="buy">
    <form id="form-bookit" action="<?php echo $this->getUrl('cartcheckout/bookit/index') ?>" method="post">
        <!--<div class="title">Введите ваш номер телефона</div>-->

        <div class="buy_table_bookit">
            <div class="buy_tablecell_bookit" style="width:60%;">

                <input type="text" name="bookit[phone]" class="required-entry bookit-phone"
                       placeholder="+38 (0XX) XXX-XX-XX<?php //echo $this->__('phone number')?>"/>
                <input type="hidden" value="<?php echo $product_id; ?>" name="bookit[product_id]"/>
                <input type="hidden" value="" name="bookit[qty]" id="bookitqty"/>
                <input type="hidden" value="<?php echo $store_id; ?>" name="bookit[storelocator]"/>
            </div>
            <div class="buy_tablecell_bookit" style="width:40%;">
                <div class="button-wrapper" id="buttons-container-bookit">
                    <button style="width:100%;" type="button" name="submitbookit" onclick="BookitOrder.saveOrder()"
                            id="submitbookit">Купить
                    </button>
                </div>
            </div>
        </div>
        <span class="please-wait" id="please-wait-bookit" style="display:none;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                     alt="<?php echo $helper->__('Submit Order...') ?>"
                     title="<?php echo $helper->__('Submit Order...') ?>"
                     class="v-middle"/> <?php echo $helper->__('Submit Order...') ?>
            </span>

    </form>
</div>
<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery(".bookit-phone").mask("+38 (999) 999-99-99", {
            translation: {
                h: {pattern: /[0-9]/},
                placeholder: "+38 (___) ___-__-__"
            }
        });
    });
    var BookitOrder = {
        formInstance: new VarienForm('form-bookit'),

        _processResponse: function (response) {
            if (response.error) {
                Element.hide('please-wait-bookit');
                Element.show('buttons-container-bookit');
                $('buttons-container-bookit').descendants().each(function (s) {
                    s.disabled = false;
                });
                alert(response.error);
                return false;
            }
            if (response.success) {
                if (response.message) {
                    alert(response.message)
                }
                jQuery('#modalcart').modal('hide');//.close();
                jQuery('#modalpickuporder').modal('hide');//.close();
                jQuery('#modal-thanks').modal('show');//.open();
                /*if (response.redirect) {
                 window.location.href = response.redirect;
                 }*/
            }
            return true;
        },
        _afterSaveOrder: function (transport) {
            var response = {};
            try {
                response = transport.responseText.evalJSON();
            } catch (e) {
                response = transport.responseText;
            }
            if (this._processResponse(response)) {

            }
        },
        saveOrder: function () {
            if (this.formInstance.validator && this.formInstance.validator.validate()) {

                Element.show('please-wait-bookit');
                Element.hide('buttons-container-bookit');
                $('buttons-container-bookit').descendants().each(function (s) {
                    s.disabled = true;
                });
                data = jQuery('#form-bookit').serialize();
                //alert(jQuery('.oneclickorder-phone').val());
                new Ajax.Request(this.formInstance.form.getAttribute('action'), {
                    method: 'post',
                    parameters: data,//this.formInstance.form.serialize(),
                    onComplete: this._afterSaveOrder.bind(this),
                    onFailure: function () {
                        location.href = BASE_URL;
                    }
                });
            }
        },
        /* toggleCommentBlock: function (event) {
             Element.toggle('oneclickorder-comment-wrapper');
         }*/
    };
    /*
        $$("#oneclickorder-form-wrapper .comment-toggle").invoke('observe', 'click', function () {
            oneClickOrder.toggleCommentBlock(this)
        });
    */
</script>