<?php
$product=$this->getProduct();

$city_id=$this->getData('city_id');
$cities=Mage::helper('storelocator')->getCities();
if ($product):
?>
    <script>
        var product_id='<?php echo $product->getId();?>';
    </script>
<div class="left">
    <div class="descr">
        <div class="l-prod">
            <div class="image">
                <img src="<?php echo $this->helper('catalog/image')->init($product, 'image') ?><?php //echo $product->getProductThumbnail()->resize(220,120)->setWatermarkSize('220x124'); ?>" width="220" height="120" alt="<?php echo $product->getName(); ?>" />
            </div>
        </div>
        <div class="r-prod">
            <div class="name">
                <?php echo $product->getName();?>


                    <?php
                    $attr=$this->getAttributesProduct();

                    if (count($attr)>0):

                        ?>
                        <div class="short-data">
                            <?php foreach ($attr as $key=>$at):?>
                                <?php echo $at;?>
                                <?php if ($key<(count($attr)-1)):?>
                                    <span class="separator"></span>
                                <?php endif;?>
                            <?php endforeach;?>
                        </div>
                    <?php endif;?>

            </div>
            <div class="price">Цена: <span><?php echo Mage::helper('core')->currency($product->getPrice(), true, false);?></span></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php
    $cities=Mage::helper('storelocator')->getCities();
    $current_city=Mage::helper('storelocator/data')->getCurrentCity();
    ?>
    <script>
        var currenct_city_for_map='<?php echo $current_city['name'];?>';
    </script>

    <div class="drop-location">
        <div class="cityselect">
            <span>Ваш город:</span>
            <select name="city_storelocator" id="city_storelocator">
                <?php foreach ($cities as $city):
                    if (isset($current_city['id'])&&($city->getId()==$current_city['id'])) $select='selected';
                else $select='';?>
                    <option <?php echo $select;?> value="<?php echo $city->getId();?>"><?php echo $city->getCityName();?></option>
                <?php endforeach;?>
            </select>
        </div>
        <?php
        $stores=$this->_getProductsInStore($city_id,[$product->getSku()]);
    $districts=Mage::helper('storelocator')->getDistrictsByCity($city_id);
    if (count($districts)){
        ?>
        <div class="city districtscity">
            <span>Ваш район:</span>
            <div class="cityselect">
            <select name="district_storelocator"  id="district_storelocator">
                <option>Все</option>
                <?php foreach ($stores as $store): ?>
                     <?php foreach ($districts as $district):

                        if ($store['district']==$district['district']):
                        ?>
                            <option value="<?php echo $district['district'];?>"><?php echo $district['district'];?></option>
                        <?php endif;
                    endforeach;?>
                <?php endforeach;?>
            </select>
            </div>
        </div>
        <?php
    }
        ?>
    </div>
    <div class="list" id="storelocator-pickup">
        <?php echo $this->getChildHtml('storelocator.pickup') ?>
    </div>

</div>
<div class="right">

    <script>
        initialize_map_modal();
    </script>
    <div style="display:none;float:left; width:100%;clear:both;" id="boxpharma"></div>
    <div style="width:100%;height:715px" id="map_canvas_modal"></div>

</div>
<?php endif; ?>