
<?php
$product=$this->getProduct();

$regular_price=$product->getPrice();



$_store = $product->getStore();

$regular_price= $_store->roundPrice($_store->convertPrice($regular_price));
$_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($product->getFinalPrice()));



?>
<div class="product-popup--bg"></div>
<div class="product-popup--wrapper">
    <div class="product-popup--wrapper_head">
        ТОВАР ДОБАВЛЕН В КОРЗИНУ
        <div class="close"></div>
    </div>
    <div class="product-popup--wrapper_info">
        <div class="thumb">
            <img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->keepFrame(false)->resize(160); ?>" alt="popup-buy-img" />
        </div>
        <div class="values">
            <div class="product-name"><?php echo $product->getName();?></div>
            <div class="product-price">
                <?php if ($regular_price!=$_convertedFinalPrice):?>
                <style>
                    .cart-price--sale_val .price {
                        color:#c4c4c4
                    }
                </style>
                <div class="cart-price--main"><span class="cart-price--val"><?php echo $this->helper('checkout')->formatPrice($_convertedFinalPrice);?><!--20 098,00--></span>
                    <!--&nbsp;<span class="cart-price--cur">грн.</span>--></div>
                <div class="cart-price--sale"><span class="cart-price--sale_val"><?php echo $this->helper('checkout')->formatPrice($regular_price);?><!--24 900,00--></span>&nbsp;
                    <!--<span class="cart-price--sale_cur">грн.</span>--></div>
                <?php else: ?>
                    <div class="cart-price--main"><span class="cart-price--val"><?php echo $this->helper('checkout')->formatPrice($_convertedFinalPrice);?><!--20 098,00--></span>
                        <!--&nbsp;<span class="cart-price--cur">грн.</span>--></div>
                <?php endif;?>
            </div>
        </div>
    </div>
    <div class="product-popup--btns">
        <div class="popup-continue">
            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/arrow.svg" alt="continue-img" />
            <span>Продолжить покупки</span>
        </div>
        <a href="/onestepcheckout/" class="btn btn-blue">
            Оформить заказ
        </a>
    </div>
</div>


<?php /*
<div class="cart_modal_wrapper">
    <div class="top">
        <div class="descr">
            В корзине <a class="quantity-cart-modal" href="javascript:void(0)"><?php echo $quantity;?></a>
            на сумму <b class="summa-cart-modal"><?php echo $summa;?></b>
            <span class="close"></span>
        </div>
        <?php echo $this->getChildHtml('cartsidebar');?>
        <div class="buttons clearfix">
            <div class="fallback">
                <a href="javascript:void(0)" class="continueshoping">
                    <img src="<?php echo Mage::getDesign()->getSkinUrl();?>images/d-icon-fallback.png" alt="Иконка" /><span>Продолжить покупки</span>
                </a>
                <div class="descr">товар сохранится в корзине</div>
            </div>
            <div class="order">
                <a id="popup_checkout" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK).'checkout/onepage/' ?>">Оформить заказ</a>
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml('oneclickorder');?>



</div>
 <?php */ ?>