<?php
$district=$this->getDistrict();
$city_id=$this->getCity();
$product=$this->getProduct();
$product_id=$product->getId();
$productsSku=[$product->getSku()];
$storelocators=$this->_getProductsInStore($city_id,$productsSku);

//Mage::getModel('storelocator/products')->productsInStore($city_id,$productsSku);
/*
echo "<pre>";
print_r($storelocators);
echo "</pre>";
    $str=Mage::helper('storelocator')->getPharmas($city_id,'array',$district);
    echo "<pre>";
    print_r($str);
    echo "</pre>";*/
$storelocators_json=json_encode($storelocators);

?>
<script>
    var pharma_list_modal=<?php echo $storelocators_json;?>;
</script>
<?php
if (count($storelocators)>0):?>
<table>
    <?php foreach ($storelocators as $key=>$store):
        if ($key==0){
        ?>
            <script>
                setTimeout(function(){
                    showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>,'<?php echo $store['id'];?>','<?php echo $product_id;?>');
                },1000);
            </script>
            <?php

        }?>
        <tr onclick="showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>,'<?php echo $store['id'];?>','<?php echo $product_id;?>');">
            <td style="text-align:left;"><?php echo $store['title'];?></td>
            <?php //if ($store['phones']!=''):?>
            <td class="time"><?php echo $store['time_work'];?></td>
            <?php //endif;?>
            <?php //if ($store['phones']!=''):?>
            <td class="phone"><?php echo nl2br($store['phones']);?></td>
            <?php //endif;?>
            <td><a href="javascript:void(0)" onclick="showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>,'<?php echo $store['id'];?>','<?php echo $product_id;?>');">забронировать</a></td>
        </tr>
    <?php endforeach;?>

</table>
<?php else: ?>

<div style="clear:both; width:100%; text-align:center;padding:20px;">В аптеках этого города, товара нету на остатке! Попробуйте выбрать другой город или создайте заказ через корзину
</div>
<?php endif;?>