<?php

$storelocator=$this->getStorelocator();
$product=$this->getProduct();
$qtyInStore=$this->getQtyProductInStorelocator();
if (isset($qtyInStore['quantity']))
    $qty=$qtyInStore['quantity'];
else $qty='';

$price=$product->getPrice();
if ($storelocator):
?>
<div class="pharma">
    <div class="descr">
        <div class="l-prod">
            <div class="image">
                <?php
                if ($storelocator->getLogo()!='')
                {
                    $img=Mage::helper('storelocator')->getMedia().$storelocator->getLogo();

                ?>
                <img src="<?php echo $img;?>" alt="<?php echo $storelocator->getName();?>" />
                <?php } ///images/logo-pani-apteka.png?>
            </div>
        </div>
        <div class="r-prod">
            <div class="name"><?php echo $storelocator->getTitle();?></div>
            <?php /* <div class="address"><?php echo $storelocator->getAddress();?></span></div> */ ?>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="qty">
        <div class="l-prod">
            <div class="title">Количество</div>
            <div class="amount">
                <button onclick="minus_booking(this)" class="plus_bookit" type="button" data-price="<?php echo $price;?>"  data-product-id="<?php echo $product->getId();?>" data-storelocator="<?php echo $storelocator->getId();?>">-</button>
                <input name="booking_qty" id="booking_qty" type="text" value="1" data-price="<?php echo $price;?>" data-max="<?php echo $qty; ?>" data-product-id="<?php echo $product->getId();?>">
                <input type="hidden" id="booking_price" value="<?php echo $price;?>"/>
                <button onclick="plus_booking(this)" class="minus_bookit last" type="button" data-price="<?php echo $price;?>" data-max="<?php echo $qty; ?>" data-product-id="<?php echo $product->getId();?>" data-storelocator="<?php echo $storelocator->getId();?>" >+</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="r-prod">
            <div class="title">Сумма</div>
            <div class="price"><?php echo Mage::helper('core')->currency($price, true, false);?></div>

        </div>
        <div class="clearfix"></div>
        <?php if ($qty!=''):?>
            <div class="attention" style="display:none;">
                В этой аптеке в наличии не более <?php echo $qty; ?> единиц. Вы можете забронировать товар в нескольких аптеках, или оформить заказ на сайте и мы доставим необходимое колличество.
            </div>
        <?php endif;?>
        <?php echo $this->getChildHtml('form_bookit');//->setData(['store_id'=>$store_id]) ?>


    </div>
</div>
<?php endif;?>