<?php
$product = $this->getProduct();

$cities = Mage::helper('storelocator')->getCities();
$current_city =$this->getCity(); //Mage::helper('storelocator/data')->getCurrentCity();

$city_id = $this->getData('city_id');
$cities = Mage::helper('storelocator')->getCities();
/*echo '<pre>$current_city';
print_r($current_city);
echo '</pre>';*/
if ($product):
    ?>

    <script>
        var currenct_city_for_map = '<?php echo $current_city['name'];?>';
    </script>
    <script>
        var product_id = '<?php echo $product->getId();?>';
        var product_name='<?php echo $product->getName();?>';
        var price='<?php echo $product->getPrice();?>';

    </script>
    <div class="product-wrap-storelocations ">
        <div class="storelocations_header">
            <div class="storelocations_header_wrap">
                <div class="title title_storelocations_zag">
                    Наличие в аптеках
                </div>
                <div class="title title_storelocations_cities">
                    <select name="city_storelocator" style="width:100%;" id="city_storelocator">
                        <?php foreach ($cities as $city):
                            if (isset($current_city['id']) && ($city->getId() == $current_city['id'])) $select = 'selected';
                            else $select = ''; ?>
                            <option <?php echo $select; ?>
                                    value="<?php echo $city->getId(); ?>"><?php echo $city->getCityName(); ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="title title_storelocations_selecttype">
                    <ul>
                        <li class="active listclass">
                            <a data-product_id="<?php echo $product->getId(); ?>"
                               data-city="<?php echo $current_city['id']; ?>" data-type="list"
                               href="javascript:void(0)">
                                <svg id="icon_list_storelocator" width="17" height="15" viewBox="0 0 17 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.9965 1.37068C16.9965 1.82523 16.6302 2.19521 16.1802 2.19521H4.94685C4.49682 2.19521 4.13052 1.82523 4.13052 1.37068C4.13052 0.916138 4.49682 0.546159 4.94685 0.546159H16.1837C16.6337 0.549683 16.9965 0.916138 16.9965 1.37068ZM16.1837 4.63354H4.94685C4.49682 4.63354 4.13052 5.00352 4.13052 5.45807C4.13052 5.91261 4.49682 6.28259 4.94685 6.28259H16.1837C16.6337 6.28259 17 5.91261 17 5.45807C16.9965 5.00352 16.6337 4.63354 16.1837 4.63354ZM16.1837 8.72093H4.94685C4.49682 8.72093 4.13052 9.09091 4.13052 9.54545C4.13052 10 4.49682 10.37 4.94685 10.37H16.1837C16.6337 10.37 17 10 17 9.54545C16.9965 9.09091 16.6337 8.72093 16.1837 8.72093ZM16.1837 12.8083H4.94685C4.49682 12.8083 4.13052 13.1783 4.13052 13.6328C4.13052 14.0874 4.49682 14.4574 4.94685 14.4574H16.1837C16.6337 14.4574 17 14.0874 17 13.6328C16.9965 13.1783 16.6337 12.8083 16.1837 12.8083ZM1.35707 0C0.607018 0 0 0.613108 0 1.37068C0 2.12826 0.607018 2.74489 1.35707 2.74489C2.10712 2.74489 2.71414 2.12826 2.71414 1.37068C2.71414 0.613108 2.10712 0 1.35707 0ZM1.35707 4.08739C0.607018 4.08739 0 4.70049 0 5.45807C0 6.21564 0.607018 6.82875 1.35707 6.82875C2.10712 6.82875 2.71414 6.21564 2.71414 5.45807C2.71414 4.70049 2.10712 4.08739 1.35707 4.08739ZM1.35707 8.17477C0.607018 8.17477 0 8.78788 0 9.54545C0 10.303 0.607018 10.9161 1.35707 10.9161C2.10712 10.9161 2.71414 10.303 2.71414 9.54545C2.71414 8.78788 2.10712 8.17477 1.35707 8.17477ZM1.35707 12.2586C0.607018 12.2586 0 12.8717 0 13.6293C0 14.3869 0.607018 15 1.35707 15C2.10712 15 2.71414 14.3869 2.71414 13.6293C2.71414 12.8753 2.10712 12.2586 1.35707 12.2586Z"/>
                                </svg>
                                <span>Список</span>
                            </a>
                        </li>

                        <li class=" mapclass">
                            <a data-product_id="<?php echo $product->getId(); ?>"
                               data-city="<?php echo $current_city['id']; ?>" data-type="map"
                               href="javascript:void(0)">
                                <svg id="icon_map_storelocator" width="11" height="16" viewBox="0 0 11 16" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 0C2.4673 0 0 2.52338 0 5.625C0 6.67294 0.283831 7.69563 0.820997 8.58288L5.18693 15.7784C5.27056 15.9162 5.4179 16 5.57636 16C5.57758 16 5.57877 16 5.57999 16C5.73983 15.9987 5.88748 15.9124 5.96958 15.7721L10.2242 8.50688C10.7318 7.63838 11 6.64184 11 5.625C11 2.52338 8.5327 0 5.5 0ZM9.43757 8.02556L5.56942 14.6308L1.6001 8.08894C1.15298 7.35044 0.910556 6.49844 0.910556 5.625C0.910556 3.04031 2.97275 0.93125 5.5 0.93125C8.02725 0.93125 10.0864 3.04031 10.0864 5.625C10.0864 6.47253 9.85994 7.30275 9.43757 8.02556Z"/>
                                    <path d="M5.5 2.8125C3.98365 2.8125 2.75 4.07419 2.75 5.625C2.75 7.16591 3.96357 8.4375 5.5 8.4375C7.05537 8.4375 8.25 7.14897 8.25 5.625C8.25 4.07419 7.01635 2.8125 5.5 2.8125ZM5.5 7.50625C4.48381 7.50625 3.66056 6.66147 3.66056 5.625C3.66056 4.59113 4.4891 3.74375 5.5 3.74375C6.5109 3.74375 7.33639 4.59113 7.33639 5.625C7.33639 6.64634 6.53229 7.50625 5.5 7.50625Z"/>
                                </svg>
                                <span>На карте</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="storelocations_content_wrapper">
            <div class="list_of_storelocators">

                <?php
                $this->getChild('storelocator.pickup')->setData('city_id', $city_id);
                echo $this->getChildHtml('storelocator.pickup') ?>
            </div>
            <div class="map_of_storelocators" style="display:none;">
            </div>
        </div>

    </div>


    <!--<div class="modal-find-pharma1 modal-blockcart modal-add-to-cart modal" id="modalpickuporder" style="display:none">

    </div>-->

    <?php /* ?>

<div class="left">
    <div class="descr">
        <div class="l-prod">
            <div class="image">
                <img src="<?php echo $this->helper('catalog/image')->init($product, 'image') ?><?php //echo $product->getProductThumbnail()->resize(220,120)->setWatermarkSize('220x124'); ?>" width="220" height="120" alt="<?php echo $product->getName(); ?>" />
            </div>
        </div>
        <div class="r-prod">
            <div class="name">
                <?php echo $product->getName();?>


                    <?php
                    $attr=$this->getAttributesProduct();

                    if (count($attr)>0):

                        ?>
                        <div class="short-data">
                            <?php foreach ($attr as $key=>$at):?>
                                <?php echo $at;?>
                                <?php if ($key<(count($attr)-1)):?>
                                    <span class="separator"></span>
                                <?php endif;?>
                            <?php endforeach;?>
                        </div>
                    <?php endif;?>

            </div>
            <div class="price">Цена: <span><?php echo Mage::helper('core')->currency($product->getPrice(), true, false);?></span></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <?php
    $cities=Mage::helper('storelocator')->getCities();
    $current_city=Mage::helper('storelocator/data')->getCurrentCity();
    ?>
    <script>
        var currenct_city_for_map='<?php echo $current_city['name'];?>';
    </script>

    <div class="drop-location">
        <div class="cityselect">
            <span>Ваш город:</span>
            <select name="city_storelocator" id="city_storelocator">
                <?php foreach ($cities as $city):
                    if (isset($current_city['id'])&&($city->getId()==$current_city['id'])) $select='selected';
                else $select='';?>
                    <option <?php echo $select;?> value="<?php echo $city->getId();?>"><?php echo $city->getCityName();?></option>
                <?php endforeach;?>
            </select>
        </div>
        <?php
        $stores=$this->_getProductsInStore($city_id,[$product->getSku()]);
    $districts=Mage::helper('storelocator')->getDistrictsByCity($city_id);
    if (count($districts)){
        ?>
        <div class="city districtscity">
            <span>Ваш район:</span>
            <div class="cityselect">
            <select name="district_storelocator"  id="district_storelocator">
                <option>Все</option>
                <?php foreach ($stores as $store): ?>
                     <?php foreach ($districts as $district):

                        if ($store['district']==$district['district']):
                        ?>
                            <option value="<?php echo $district['district'];?>"><?php echo $district['district'];?></option>
                        <?php endif;
                    endforeach;?>
                <?php endforeach;?>
            </select>
            </div>
        </div>
        <?php
    }
        ?>
    </div>
    <div class="list" id="storelocator-pickup">
        <?php echo $this->getChildHtml('storelocator.pickup') ?>
    </div>

</div>
<div class="right">

    <script>
        initialize_map_modal();
    </script>
    <div style="display:none;float:left; width:100%;clear:both;" id="boxpharma"></div>
    <div style="width:100%;height:715px" id="map_canvas_modal"></div>

</div>
 <?php */ ?>
<?php endif; ?>