<?php

$storelocator = $this->getStorelocator();
$product = $this->getProduct();
$qtyInStore = $this->getQtyProductInStorelocator();
if (isset($qtyInStore['quantity']))
    $qty = $qtyInStore['quantity'];
else $qty = '';

$price = $product->getPrice();
if ($storelocator):
    ?>
<div style="position:relative;">
    <div class="close_icon_wp">
        <svg class="close_icon" width="50" height="50" viewBox="0 0 50 50" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d)">
                <circle cx="25" cy="21" r="15" fill="white"/>
            </g>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M28.1178 16.3229C28.5483 15.8924 29.2463 15.8924 29.6768 16.3229C30.1073 16.7534 30.1073 17.4514 29.6768 17.8819L26.5589 21L29.6769 24.1181C30.1074 24.5486 30.1074 25.2466 29.6769 25.6771C29.2464 26.1076 28.5484 26.1076 28.1179 25.6771L24.9999 22.559L21.8819 25.6771C21.4514 26.1076 20.7534 26.1076 20.3229 25.6771C19.8924 25.2466 19.8924 24.5486 20.3229 24.1181L23.4409 21L20.3229 17.8819C19.8924 17.4514 19.8924 16.7534 20.3229 16.3229C20.7534 15.8924 21.4514 15.8924 21.8819 16.3229L24.9999 19.4409L28.1178 16.3229Z"
                  fill="#C8C8C8"/>
            <defs>
                <filter id="filter0_d" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="5"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
            </defs>
        </svg>
    </div>
    <div class="pharma">


        <div class="descr">
            <div class="descr_table">
                <div class="l-prod">
                    <div class="image">
                        <?php
                        if ($storelocator->getLogo() != '') {
                            $img = Mage::helper('storelocator')->getMedia() . $storelocator->getLogo();

                            ?>
                            <img src="<?php echo $img; ?>" alt="<?php echo $storelocator->getName(); ?>"/>
                        <?php } ///images/logo-pani-apteka.png
                        ?>
                    </div>
                </div>
                <div class="r-prod">
                    <div class="name"><?php echo $storelocator->getTitle(); ?></div>
                    <?php ?>
                    <div class="address"><span><?php echo $storelocator->getTimeWork(); ?></span>
                        <span><?php echo $storelocator->getPhones(); ?></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="qty">
            <div class="qty_name_product">
                <?php echo $product->getName(); ?>
            </div>
            <div class="qty_table">
                <div class="l-prod">
                    <div class="title">Количество</div>
                    <div class="amount">
                        <button onclick="minus_booking(this)" class="plus_bookit" type="button"
                                data-price="<?php echo $price; ?>" data-product-id="<?php echo $product->getId(); ?>"
                                data-storelocator="<?php echo $storelocator->getId(); ?>">-
                        </button>
                        <input name="booking_qty" id="booking_qty" type="text" value="1"
                               data-price="<?php echo $price; ?>"
                               data-max="<?php echo $qty; ?>" data-product-id="<?php echo $product->getId(); ?>">
                        <input type="hidden" id="booking_price" value="<?php echo $price; ?>"/>
                        <button onclick="plus_booking(this)" class="minus_bookit last" type="button"
                                data-price="<?php echo $price; ?>" data-max="<?php echo $qty; ?>"
                                data-product-id="<?php echo $product->getId(); ?>"
                                data-storelocator="<?php echo $storelocator->getId(); ?>">+
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="r-prod">
                    <div class="title">Сумма</div>
                    <div class="price"><?php echo Mage::helper('core')->currency($price, true, false); ?></div>

                </div>
            </div>
            <div class="clearfix"></div>
            <?php /*if ($qty != ''): ?>
                <div class="attention" style="display:none;">
                    В этой аптеке в наличии не более <?php echo $qty; ?> единиц. Вы можете забронировать товар в
                    нескольких аптеках, или оформить заказ на сайте и мы доставим необходимое колличество.
                </div>
            <?php endif; */ ?>
            <?php echo $this->getChildHtml('form_bookit');//->setData(['store_id'=>$store_id])
            ?>


        </div>
    </div>
    <div class="map_for_bookit">
        <?php
        $with_map = $this->getData('with_map');
        if ($with_map) {
            ?>

            <?php

            $data_storelocator = [];
            $data_storelocator[] = [
                'id' => $storelocator->getId(),
                'title' => $storelocator->getTitle(),
                'city_id' => $storelocator->getCityId(),
                'time_work' => $storelocator->getTimeWork(),
                'title_stop' => $storelocator->getTitleStop(),
                'metro' => $storelocator->getMetro(),
                'minibuses' => $storelocator->getMinibuses(),
                'address' => $storelocator->getAddress(),
                'phones' => $storelocator->getPhones(),
                'latitude' => $storelocator->getLatitude(),
                'longitude' => $storelocator->getLongitude(),
                'logo' => $storelocator->getLogo(),
                'icon_map' => $storelocator->getIconMap()];

            $storelocators_json = json_encode($data_storelocator);

            ?>
            <script>
                var pharma_list_modal_bookit =<?php echo $storelocators_json;?>;

                var latitude =<?php echo $storelocator->getLatitude();?>;
                var longitude =<?php echo $storelocator->getLongitude();?>;
                setTimeout(function () {

                    initialize_map_modal_bookit(latitude, longitude);
                }, 400);
            </script>
            <div style="" id="map_canvas_modal_bookit"></div>
            <?php


        }
        ?>
    </div>
</div>

<?php endif; ?>