<?php
$product = $this->getProduct();
$product_id = $product->getId();//$this->getData('product_id');
$city = $this->getCity();

/*echo "<pre>city";
print_r($city);
echo "</pre>";*/
if ($city)
    $city_id = $city['id'];//->getId();//$this->getData('city_id');
$current_url = $this->getData('current_url');
$data_shipping = $this->getDataShipping();
/*echo "<pre>city_id".$city_id;
print_r($data_shipping);
echo "</pre>";
*/
$kyrier = $data_shipping['kyrier'];

$courier_free = $data_shipping['courier_free'];
$courier_price = $data_shipping['courier_price'];
$np = $data_shipping['np'];
$pickup = $data_shipping['pickup'];
$for_order = $data_shipping['for_order'];

$cities = Mage::helper('storelocator')->getCities();
?>

<div class="wrapper_delivery_product">
    <div class="product-wrap-right-name">
        <!--<img src="<?php echo Mage::getDesign()->getSkinUrl(); ?>images/d-icon-del4.png" alt="Иконка"/>-->Доставка
    </div>
    <!--
<div class="product-wrap-right-city">
    <?php
    //$this->getChild('geolocation')->setData(['current_url' => $current_url]);//->setData("sticazzi", $sticazzi);
    //echo $this->getChildHtml('geolocation'); ?>
</div>-->
    <?php /* <div class="h-p-w-select hide">
    <ul>
        <?php $i = 0;
        foreach ($cities as $city):
            $i++;

            ?>
            <li class="cityoption" data-id="<?php echo $city['id']; ?>">

                <?php echo $city['name']; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
 <?php */ ?>

    <div class="product-wrap-right-list">
        <ul>
            <?php if (!$kyrier && !$pickup && !$np): ?>
                <li>
                    <div class="name">Недоступно</div>
                </li>
            <?php endif; ?>
            <?php if ($kyrier):
                $array_days = $this->getCurierDeliveryDay();
                ?>
                <li>
                    <span class="bullet"></span>
                    <div class="name">Курьером
                        по <?php
                        if ($city) {
                            echo $city['name'];
                        }
                        ?></div>

                    <div class="text infodelivery_product">
                        <div class="infodelivery_product_cell infotext">
                            <?php if (count($array_days) > 0): ?>
                                Доставим <?php echo Mage::helper('cartcheckout')->__($array_days[0]); ?>
                            <?php endif; ?>
                        </div>
                        <div class="infodelivery_product_cell cost_delivery_dotted"></div>
                        <div class="infodelivery_product_cell cost_delivery">
                            <!--<span class="dotted"></span>
                            <span class="tx"> -->
                            <?php echo $this->getInfoCourierDelivery(); ?>
                            <!--</span>-->
                        </div>
                    </div>
                </li>
            <?php endif; ?>
            <?php if ($pickup): ?>
                <li>
                    <div class="name">Самовывоз из аптеки</div>
                    <div class="text">
                        <div class="text infodelivery_product">
                            <div class="infodelivery_product_cell infotext" style="width: 95px;">
                                <a class="choose_pharma1" data-product-id="<?php echo $product_id; ?>"
                                   data-city-id="<?php echo $city_id; ?>" href="#storelocator_products">
                                    Выбрать аптеку
                                </a>
                            </div>
                            <div class="infodelivery_product_cell cost_delivery_dotted"></div>
                            <div class="infodelivery_product_cell cost_delivery">
                               бесплатно*
                            </div>
                        </div>



                        <?php /*if ($for_order): ?>
                            Вы можете собрать свой</br>заказ в любой аптеке
                        <?php else: ?>

                        <?php endif;*/ ?>


                    </div>
                </li>
            <?php endif; ?>
            <?php if ($np): ?>
                <li>
                    <div class="name">На склад Новой почты</div>
                    <div class="text">
                        <div class="text infodelivery_product">
                            <div class="infodelivery_product_cell infotext" style="width: 120px;">
                               Доставим <?php echo Mage::helper('cartcheckout')->__($array_days[0]); ?>
                            </div>
                            <div class="infodelivery_product_cell cost_delivery_dotted"></div>
                            <div class="infodelivery_product_cell cost_delivery">
                                от 50 грн
                            </div>
                        </div>
                        <!--<p>Доставим</p>
                        <p>от 50 грн</p>-->
                    </div>
                </li>
            <?php endif; ?>

        </ul>
        <?php if ($kyrier || $pickup || $np):
        ?>
        <div class="box_info_min">
            * Минимальная сумма заказа 200 грн<br/>

        </div>
        <!--* немедикаментозной группы товаров-->
        <?php  endif;?>


    </div>
</div>
<div class="wrapper_delivery_product" style="padding-top:0px;">
    <div class="product-wrap-right-name">
        Оплата
    </div>
    <div class="product-wrap-right-list">
        <ul>
            <li>
                <div class="name">Наличными курьеру при получении</div>

            </li>
            <li>
                <!--<div class="product-wrap-right-name">
                    <img src="<?php echo Mage::getDesign()->getSkinUrl(); ?>images/d-icon-pay.png" alt="Иконка"/>Оплата
                </div>-->
                <div class="name">Картой или наличными в аптеках нашей сети</div>
                <div class="text">
                    <div class="wrap_bank_card"><img
                                src="<?php echo Mage::getDesign()->getSkinUrl(); ?>images/mastercard_icon.png"/></div>
                    <div class="wrap_bank_card"><img
                                src="<?php echo Mage::getDesign()->getSkinUrl(); ?>images/visa_icon.png"/></div>
                    <div class="wrap_bank_card withborder"><img
                                src="<?php echo Mage::getDesign()->getSkinUrl(); ?>images/maestro_icon.png"/></div>

                </div>
            </li>

        </ul>
    </div>

    <div class="modal-find-pharma modal-pickup modal" id="modalpickup" style="width:1100px;padding:0px;display:none">
        <div class="pop-up-wrap clearfix" style="height:300px;padding:0px;">

        </div>
    </div>
</div>

