
<?php


$storelocators=Mage::helper('storelocator')->getPharmas($city_id,'array');
$storelocators_json = json_encode($storelocators);

?>
<script>
    var pharma_list_modal =<?php echo $storelocators_json;?>;

    initialize_map_modal();
</script>
<!--<div style="display:none;width:100%;clear:both;" id="boxpharma"></div>-->
<div style="width:100%;height:415px" id="map_canvas_modal"></div>
<?php
/*
$district = $this->getDistrict();
$city_id = $this->getCity();
$product = $this->getProduct();
$product_id = $product->getId();
$productsSku = [$product->getSku()];
$product_in_store = $this->_getProductsInStore($city_id, $productsSku);


$storelocators=Mage::helper('storelocator')->getPharmas($city_id,'array');
$storelocators_json = json_encode($storelocators);

$available=$product->getAvailable();

$status_order=$available['status'];


if(($status_order!=$product::STATUS_REGISTRATION)&&($status_order!=$product::STATUS_NOT_AVAILABLE)) {
    ?>
    <script>
        var pharma_list_modal =<?php echo $storelocators_json;?>;
    </script>
    map
   <?php
}else{
    ?>
    <div style="clear:both; width:100%; text-align:center;padding:20px;">В аптеках этого города, товара нету на
            остатке!
    Попробуйте выбрать другой город или создайте заказ через корзину
    </div>
<?php
}*/ ?>