<?php
$district = $this->getDistrict();
$city_id = $this->getCity();
$product = $this->getProduct();
$product_id = $product->getId();
$productsSku = [$product->getSku()];
$product_in_store = $this->_getProductsInStore($city_id, $productsSku);

$helper = Mage::helper('ukrsnab');
$is_mobile = $helper->isMobile();
//Mage::getModel('storelocator/products')->productsInStore($city_id,$productsSku);
/*
echo "<pre>";
print_r($storelocators);
echo "</pre>";
    $str=Mage::helper('storelocator')->getPharmas($city_id,'array',$district);
    echo "<pre>";
    print_r($str);
    echo "</pre>";*/

$storelocators = Mage::helper('storelocator')->getPharmas($city_id, 'array');
$storelocators_json = json_encode($storelocators);

$available = $product->getAvailable();
/*echo '<pre>$available';
print_r($available);
echo '</pre>';
*/
/*
echo '<pre>$product_in_store';
print_r($product_in_store);
echo '</pre>';die();
*/
$status_order = $available['status'];


if (($status_order != $product::STATUS_REGISTRATION) && ($status_order != $product::STATUS_NOT_AVAILABLE)) {
    ?>
    <script>
        var pharma_list_modal =<?php echo $storelocators_json;?>;
    </script>
    <?php
    if (count($storelocators) > 0):
        ?>

        <ul>
            <?php foreach ($product_in_store as $key => $store):
                if ($store['quantity'] > 0)//$product_in_store[$store['id']]))
                    $available = true;
                else $available = false;
            if ($key == 0){
                ?>
                <script>
                    setTimeout(function () {
                        showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>, '<?php echo $store['id'];?>', '<?php echo $product_id;?>');
                    }, 1000);
                </script>
            <?php

            } ?>
                <li>
                    <div class="row st_li_wr">
                        <div class="st_li_wr_title_w col-xs-9 col-sm-10 col-md-9">
                            <div class="st_li_wr_title col-xs-12 col-sm-7 col-md-5">
                                <div class="st_li_title "><!--col-xs-12 col-sm-8 col-md-6-->
                                    <svg class="icon_map_storelocator" width="11" height="16" viewBox="0 0 11 16"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 0C2.4673 0 0 2.52338 0 5.625C0 6.67294 0.283831 7.69563 0.820997 8.58288L5.18693 15.7784C5.27056 15.9162 5.4179 16 5.57636 16C5.57758 16 5.57877 16 5.57999 16C5.73983 15.9987 5.88748 15.9124 5.96958 15.7721L10.2242 8.50688C10.7318 7.63838 11 6.64184 11 5.625C11 2.52338 8.5327 0 5.5 0ZM9.43757 8.02556L5.56942 14.6308L1.6001 8.08894C1.15298 7.35044 0.910556 6.49844 0.910556 5.625C0.910556 3.04031 2.97275 0.93125 5.5 0.93125C8.02725 0.93125 10.0864 3.04031 10.0864 5.625C10.0864 6.47253 9.85994 7.30275 9.43757 8.02556Z"/>
                                        <path d="M5.5 2.8125C3.98365 2.8125 2.75 4.07419 2.75 5.625C2.75 7.16591 3.96357 8.4375 5.5 8.4375C7.05537 8.4375 8.25 7.14897 8.25 5.625C8.25 4.07419 7.01635 2.8125 5.5 2.8125ZM5.5 7.50625C4.48381 7.50625 3.66056 6.66147 3.66056 5.625C3.66056 4.59113 4.4891 3.74375 5.5 3.74375C6.5109 3.74375 7.33639 4.59113 7.33639 5.625C7.33639 6.64634 6.53229 7.50625 5.5 7.50625Z"/>
                                    </svg>
                                    <a href="javascript:void(0)" data-product_id="<?php echo $product_id; ?>"
                                       data-longitude="<?php echo $store['longitude']; ?>"
                                       data-latitude="<?php echo $store['latitude']; ?>"
                                       data-store_id="<?php echo $store['id']; ?>" class="add_to_cart_storelocator_link"><?php echo $store['title']; ?></a>
                                </div>

                            </div>
                            <div class="st_li_title col-xs-12 col-sm-5 col-md-7">
                                <div class="st_li_timework col-xs-12 col-sm-12 col-md-6">
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 0C3.13078 0 0 3.13171 0 7.00146C0 10.8715 3.13108 14.0029 7 14.0029C10.8692 14.0029 14 10.8712 14 7.00146C14 3.13143 10.8689 0 7 0ZM7 12.909C3.73535 12.909 1.09375 10.2666 1.09375 7.00146C1.09375 3.73613 3.73559 1.09398 7 1.09398C10.2647 1.09398 12.9062 3.73635 12.9062 7.00146C12.9062 10.2668 10.2644 12.909 7 12.909Z"
                                              fill="#7F7F7F"/>
                                        <path d="M10.0157 8.17335L7.54687 6.69174V2.62559C7.54687 2.3235 7.30203 2.07861 7 2.07861C6.69796 2.07861 6.45312 2.3235 6.45312 2.62559V7.00145C6.45312 7.19357 6.55391 7.37161 6.71863 7.47048L9.45299 9.11142C9.71196 9.26685 10.0479 9.18283 10.2033 8.92381C10.3587 8.66476 10.2747 8.32878 10.0157 8.17335Z"
                                              fill="#7F7F7F"/>
                                    </svg>

                                    <span><?php echo $store['time_work']; ?></span>
                                </div>
                                <div class="st_li_phones col-xs-12 col-sm-12 col-md-6">
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5457 14.0037C10.2368 13.9936 9.92909 13.9619 9.62464 13.9089C9.0925 13.8122 8.57362 13.6531 8.07873 13.4349C7.37438 13.1295 6.69969 12.7599 6.06315 12.3307C5.20067 11.7454 4.40164 11.0717 3.67909 10.3205C3.07612 9.73592 2.52126 9.10365 2.02002 8.42982C1.62455 7.89699 1.26851 7.33605 0.95463 6.75142C0.710594 6.29628 0.505502 5.8213 0.341619 5.33156C0.220236 4.9697 0.126589 4.59909 0.0615131 4.22301C0.0148077 3.96649 -0.00537486 3.70587 0.00121798 3.44522C0.0098363 3.29655 0.0141055 3.20929 0.0141055 3.18451C0.0129822 3.16657 0.0129822 3.1486 0.0141055 3.13066C0.0410917 2.95067 0.0956193 2.77588 0.175725 2.61246C0.256085 2.44073 0.369177 2.28631 0.508631 2.15785L2.3497 0.314607C2.44501 0.215537 2.55923 0.136638 2.68563 0.0825988C2.81203 0.0285595 2.94801 0.000491658 3.08547 4.64031e-05C3.28924 -0.00199115 3.48802 0.0631239 3.65108 0.185337C3.78462 0.28612 3.89884 0.410203 3.98826 0.551612L4.00549 0.580708L5.49859 3.41612C5.62629 3.64912 5.66463 3.92071 5.60636 4.17994C5.55746 4.42685 5.43636 4.65367 5.2584 4.83168L4.64217 5.45005C4.68901 5.60757 4.75183 5.7599 4.82963 5.90466C4.97127 6.17207 5.13336 6.42815 5.31442 6.67061C5.60083 7.0487 5.91749 7.40286 6.26132 7.72959C6.59409 8.07792 6.95435 8.39891 7.33861 8.68945C7.57992 8.8716 7.83455 9.03546 8.10029 9.17963C8.22505 9.25117 8.3582 9.30689 8.49672 9.34553L8.5484 9.35631L9.27667 8.61406L9.29712 8.59467C9.5331 8.38168 9.84117 8.26616 10.159 8.27146C10.3391 8.26719 10.5178 8.30404 10.6815 8.37919C10.708 8.3879 10.7336 8.39909 10.7579 8.4126L13.4512 10.0048C13.5875 10.0823 13.7061 10.1877 13.7989 10.3141C13.8917 10.4406 13.9567 10.5851 13.9898 10.7385V10.7665C14.0129 10.9306 13.9966 11.0979 13.9423 11.2545C13.888 11.4111 13.7972 11.5525 13.6774 11.6671L11.8191 13.5114C11.695 13.6443 11.546 13.7516 11.3806 13.8271C11.2177 13.9076 11.0433 13.9625 10.8635 13.9897C10.8445 13.9913 10.8254 13.9913 10.8064 13.9897H10.7612C10.7095 14.0037 10.6362 14.0037 10.5457 14.0037ZM0.830687 3.23083C0.830687 3.27823 0.824223 3.36656 0.816682 3.49368C0.814275 3.69633 0.83163 3.89874 0.868429 4.09804C0.92669 4.43292 1.01058 4.76284 1.11941 5.08486C1.26911 5.53072 1.45619 5.96315 1.67857 6.37759C1.9732 6.9267 2.30765 7.45349 2.67932 7.95368C3.15644 8.59261 3.68389 9.19243 4.25653 9.74737C4.93982 10.4585 5.69508 11.0968 6.5102 11.652C7.10464 12.0526 7.73418 12.3984 8.39112 12.6851C8.82588 12.8773 9.28136 13.0186 9.74851 13.1063C10.0559 13.1777 10.3719 13.2046 10.6869 13.1861L10.7633 13.1796C10.8563 13.1642 10.9464 13.1348 11.0305 13.0923C11.1063 13.0586 11.1748 13.0103 11.232 12.9502L13.1054 11.0897C13.1342 11.0652 13.1564 11.034 13.1703 10.9989C13.1842 10.9637 13.1893 10.9258 13.1851 10.8882C13.1765 10.8527 13.1485 10.7805 13.0235 10.7072L10.3863 9.1484C10.3635 9.14053 10.3414 9.13041 10.3206 9.11822C10.2681 9.0952 10.2107 9.08594 10.1536 9.0913C10.0417 9.08764 9.93257 9.12609 9.84767 9.19903L9.06232 9.99838C8.99091 10.0683 8.90368 10.1201 8.80805 10.1492C8.71362 10.1878 8.61031 10.1994 8.50967 10.1826L8.3351 10.1471C8.12232 10.0952 7.91756 10.0148 7.72642 9.90788C7.42196 9.74503 7.13062 9.55882 6.85494 9.35092C6.43822 9.03495 6.04771 8.68585 5.68717 8.30703C5.31267 7.9507 4.96815 7.56408 4.65722 7.1511C4.45017 6.8748 4.26575 6.58226 4.10569 6.27633C3.97251 6.0328 3.87558 5.77112 3.81802 5.49959C3.81333 5.47436 3.81085 5.44879 3.81053 5.42312C3.81197 5.34381 3.82616 5.26524 3.85254 5.19042C3.88103 5.09698 3.93076 5.01143 3.99792 4.9405L4.68418 4.25427C4.74989 4.18819 4.79386 4.10362 4.81023 4.01188C4.829 3.94291 4.81972 3.86932 4.78439 3.80719L3.2945 0.9793C3.25947 0.926088 3.21578 0.879118 3.16523 0.840332C3.12645 0.812322 3.05748 0.764901 2.93036 0.893098L1.07312 2.75143C1.00688 2.81232 0.953059 2.88551 0.914719 2.9669C0.874386 3.05047 0.846092 3.13933 0.830687 3.23083Z"
                                              fill="#7F7F7F"/>
                                    </svg>

                                    <span><?php echo nl2br($store['phones']); ?></span>
                                </div>
                            </div>
                        </div>


                        <div class="st_li_wr_buy col-xs-3 col-sm-2 col-md-3">
                            <div class="st_li_available col-xs-12 col-sm-12 col-md-6">
                                <?php
                                if ($available) {
                                    echo '<span class="yes_available">В наличии</span>';
                                } else {
                                    echo '<span class="not_available">Под заказ</span>';
                                }
                                ?>

                            </div>
                            <div class="st_li_buy col-xs-12 col-sm-12 col-md-6">
                                <?php
                                /*
                                $url_add_cart = $this->getSubmitUrl($_product);// array('_secure' => $this->_isSecure()));
                                $url_add_cart = str_replace('checkout', 'cartcheckout', $url_add_cart);
                                ?>
                                <form action="<?php echo $url_add_cart; ?>" method="post"
                                      class="product_addtocart_form">
                                    <?php
                                    echo $this->getChildHtml('addtocart_p', false) ?>
                                </form>
<?php */
                                $url_add_cart = Mage::helper('checkout/cart')->getAddUrl($product, []);
                                //$this->getSubmitUrl($_product);// array('_secure' => $this->_isSecure()));
                                $url_add_cart = str_replace('checkout', 'cartcheckout', $url_add_cart);

                                if ($is_mobile):
                                    ?>
                                    <button onclick="window.location.href='<?php echo $url_add_cart;?>'" data-product_id="<?php echo $product_id; ?>"
                                            data-longitude="<?php echo $store['longitude']; ?>"
                                            data-latitude="<?php echo $store['latitude']; ?>"
                                            data-store_id="<?php echo $store['id']; ?>" class="add_to_cart_storelocator">
                                        <?php if ($available) echo 'Купить'; else echo 'Заказать'; ?></button>
                                <?php
                                else:
                                    ?>
                                    <button data-product_id="<?php echo $product_id; ?>"
                                            data-longitude="<?php echo $store['longitude']; ?>"
                                            data-latitude="<?php echo $store['latitude']; ?>"
                                            data-store_id="<?php echo $store['id']; ?>" class="add_to_cart_storelocator_link">
                                        <?php if ($available) echo 'Купить'; else echo 'Заказать'; ?></button>
                                <?php
                                endif;
                                ?>


                            </div>
                        </div>
                    </div>
                    <!--<tr onclick="showPlace_m(<?php echo $store['longitude']; ?>,<?php echo $store['latitude']; ?>,'<?php echo $store['id']; ?>','<?php echo $product_id; ?>');">
            <td style="text-align:left;"><?php echo $store['title']; ?></td>
            <?php //if ($store['phones']!=''):
                    ?>
            <td class="time"><?php echo $store['time_work']; ?></td>
            <?php //endif;
                    ?>
            <?php //if ($store['phones']!=''):
                    ?>
            <td class="phone"><?php echo nl2br($store['phones']); ?></td>
            <?php //endif;
                    ?>
            <td><a href="javascript:void(0)" onclick="showPlace_m(<?php echo $store['longitude']; ?>,<?php echo $store['latitude']; ?>,'<?php echo $store['id']; ?>','<?php echo $product_id; ?>');">забронировать</a></td>
        </tr>-->
                </li>
            <?php endforeach; ?>
        </ul>

        <?php /*
<table>
    <?php foreach ($storelocators as $key=>$store):
        if ($key==0){
        ?>
            <script>
                setTimeout(function(){
                    showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>,'<?php echo $store['id'];?>','<?php echo $product_id;?>');
                },1000);
            </script>
            <?php

        }?>
        <tr onclick="showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>,'<?php echo $store['id'];?>','<?php echo $product_id;?>');">
            <td style="text-align:left;"><?php echo $store['title'];?></td>
            <?php //if ($store['phones']!=''):?>
            <td class="time"><?php echo $store['time_work'];?></td>
            <?php //endif;?>
            <?php //if ($store['phones']!=''):?>
            <td class="phone"><?php echo nl2br($store['phones']);?></td>
            <?php //endif;?>
            <td><a href="javascript:void(0)" onclick="showPlace_m(<?php echo $store['longitude'];?>,<?php echo $store['latitude'];?>,'<?php echo $store['id'];?>','<?php echo $product_id;?>');">забронировать</a></td>
        </tr>
    <?php endforeach;?>

</table>
 <?php */ ?>
        <?php // else:
        ?>


    <?php endif;
} else {
    ?>
    <div style="clear:both; width:100%; text-align:center;padding:20px;">В аптеках этого города, товара нету на
        остатке!
        Попробуйте выбрать другой город или создайте заказ через корзину
    </div>
    <?php
} ?>