<?php
//$brands=getBrands();
$alphabet = $this->getAlphabet();
$brands = $this->getBrands();
/*echo '<pre>$brands';
print_r($brands);
echo '</pre>';
die();*/
?>

<div class="headerBrands">
    <ul class="headerBrands__list">
        <?php foreach ($alphabet as $_letter):
            ?>
            <li class="headerBrands__item js-dropdownContainer js-dropdownHoverTrigger">
                <a class="headerBrands__linkPage"
                   href="#<?php echo mb_strtoupper($_letter); ?>"><?php echo mb_strtoupper($_letter); ?></a>
                <?php if (isset($brands[$_letter])): ?>
                    <div class="headerBrandsDropdown js-dropdownContent">
                        <ul class="headerBrandsDropdown__list">
                            <?php
                            $i = 1;
                            foreach ($brands[$_letter] as $letter => $brand):?>
                                <?php
                                ?>
                                <li class="headerBrandsDropdown__item">
                                    <a class="headerBrandsDropdown__link"
                                       href="/brands/<?php echo $brand['url_value']; ?>"><?php echo $brand['value']; ?></a>
                                </li>
                                <?php
                                if ($i == 10) break;
                                $i++;
                            endforeach; ?>
                            <li class="headerBrandsDropdown__item">
                                <a class="headerBrandsDropdown__link"
                                   href="/brands#<?php echo mb_strtoupper($_letter); ?>">Все бренды</a>
                            </li>

                        </ul>
                    </div>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
        <li class="headerBrands__item">
            <a class="headerBrands__linkPage is-visible" href="/brands/" data-fixedOutput="А-Я">Все
                бренды</a>
        </li>
    </ul>
</div>