<?php
$_helper           =  Mage::helper('catalogsearch');
$_value            = $_helper->getEscapedQueryText();
$_currentCategory  = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_currentAttribute = Mage::getSingleton('core/app')->getRequest()->getParam('attr');
$_filterType       = $this->getFilterType();
$_url              = $this->getAjaxUrl();
?>


<div class="search">
    <form class="search-form searchautocomplete UI-SEARCHAUTOCOMPLETE" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get"
          data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
          data-url="<?php echo $_url ?>"
          data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
          data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>"
          data-hide-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/hide_delay') ?>">
        <div class="nav-input UI-NAV-INPUT">


        <input class="search-form--text UI-SEARCH" type="text" placeholder="Введите запрос ..." value="<?php echo $_helper->getEscapedQueryText() ?>" name="<?php echo $_helper->getQueryParamName() ?>" />
        </div>
        <div class="search-submit">
            <img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/loop.svg" alt="loop" />
            <input type="submit" value="">
        </div>

        <div style="display:none" class="searchautocomplete-placeholder UI-PLACEHOLDER"></div>
    </form>
</div>

<?php /*

<form class="searchautocomplete UI-SEARCHAUTOCOMPLETE" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>"
    data-hide-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/hide_delay') ?>">

    <label for="search"><?php echo $this->__('Search') ?></label>
    <div class="nav">




   <?php if ($this->getFilterType()!='none'):?>
            <div class="nav-search-in">
                <span class="category-fake UI-CATEGORY-TEXT"><?php echo $this->__('All') ?></span>
                <span class="nav-down-arrow"></span>
                <select name="<?php echo $this->getVariableName() ?>" class="category UI-CATEGORY">
                    <option value="0"><?php echo $this->__('All') ?></option>
                        <?php $selectedId = $this->getSelectedId();
                            foreach ($this->getDropdownItems() as $itemId=>$itemName): ?>
                                <option value="<?php echo $itemId ?>"<?php echo ($selectedId == $itemId)?'selected':'' ?> >
                                    <?php echo $itemName ?>
                                </option>
                        <?php endforeach;?>
                 </select>
            </div>
        <?php endif;?>




       
       
        <div class="nav-input UI-NAV-INPUT">
            <input class="input-text UI-SEARCH" type="text" autocomplete="off" name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" maxlength="<?php echo $_helper->getMaxQueryLength() ?>" />
        </div>

        <div class="searchautocomplete-loader UI-LOADER">
            <div id="g01"></div>
            <div id="g02"></div>
            <div id="g03"></div>
            <div id="g04"></div>
            <div id="g05"></div>
            <div id="g06"></div>
            <div id="g07"></div>
            <div id="g08"></div>
        </div>
    </div>
    <div class="nav-submit-button">
        <button type="submit" title="<?php echo $this->__('Go') ?>" class="button"><?php echo $this->__('Go') ?></button>
    </div>
    <div style="display:none" class="searchautocomplete-placeholder UI-PLACEHOLDER"></div>
</form>
 <?php */ ?>