<?php
	$model	=	Mage::getModel("core/email_template_filter");
	$container_css = '';
?>
<?php if (!empty($menu)): ?>

    <div class="container container-sticky--header<?php //echo $class;?>">
        <div class="catalog-menu">

            <div class="catalog-menu--title">
                <div class="catalog-menu--icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                Каталог товаров
            </div>
            <div class="catalog-menu--categories">
                <?php //echo $_menu ?>

<?php /* ?>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />

                    <div class="catalog-menu--category_subcategories">
                        <div class="box">

                            <div class="box-chunk">
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                        <a href="#" class="subcategory-category--page">Штукатурные станции</a>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                        <a href="#" class="subcategory-category--page">Штукатурные станции</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                        <a href="#" class="subcategory-category--page">Штукатурные станции</a>
                                    </div>
                                </div>
                            </div>

                            <div class="box-chunk">
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                        <a href="#" class="subcategory-category--page">Штукатурные станции</a>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-category">
                                        <a href="#" class="title">Техника для бетона</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                        <a href="#" class="subcategory-category--page">Штукатурные станции</a>
                                        <a href="#" class="subcategory-category--page">Отбойные молотки</a>
                                        <a href="#" class="subcategory-category--page">Бункеры для бетона</a>
                                        <a href="#" class="subcategory-category--page">Бетоннонасосные станции</a>
                                        <a href="#" class="subcategory-category--page">Штукатурные станции</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="catalog-menu--category_thumbnails">
                            <a href="#" class="thumbnail" style="background-image:url(img/category/image.png)">
                                <div class="thumbnail-title">Генераторы</div>
                                <img src="img/category/thumbnail-gradient.svg" alt="thumbnail-gradient" />
                            </a>

                            <a href="#" class="thumbnail" style="background-image:url(img/index/hero-img.png)">
                                <div class="thumbnail-title">Генераторы</div>
                                <img src="img/category/thumbnail-gradient.svg" alt="thumbnail-gradient" />
                            </a>
                        </div>
                    </div>

                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>
                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <div class="catalog-menu--category">
                    <img class="category-icon" src="img/category/category-img-1.svg" alt="category-img" />
                    <a href="#" class="catalog-menu--category_name">Строительная техника</a>
                    <img class="category-arrow" src="img/arrow.svg" alt="category-img" />
                    <div class="catalog-menu--category_subcategories">
                        <div class="subcategory">

                        </div>
                    </div>
                </div>

                <?php */ ?>

                        <?php
                        /*echo '<pre>$menu';
                        print_R($menu);
                        echo '</pre>';
                        die();*/
                        foreach ($menu as $i => $item): ?>


                                <?php $is_parent = ($i < count($menu) - 1) && $menu[$i+1]['depth'] > $item['depth'] ?>
                                <?php echo $this->open_tag($close_tags, $item['depth'], $container_css) ?>
                                <?php echo $this->close_tags($close_tags, $item['depth']) ?>

                                <?php /* ---------- Menu Item: LINK ---------- */ ?>
                                <?php if ($item['type'] == 'link'): ?>
                                <div class="catalog-menu--category menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                                    <a class="catalog-menu--category_name" href="<?php echo $model->filter($item['url']) ?>"
                                        <?php if ($item['target']): ?>
                                            target="<?php echo htmlspecialchars($item['target']) ?>"
                                        <?php endif ?>
                                    ><?php echo $item['label'] ?>
                                        <?php if ($item['sublabel']): ?>
                                            <small><?php echo $item['sublabel'] ?></small>
                                        <?php endif ?>
                                    </a>
                                    <?php if ($item['depth']==0):?>
                                    <img class="category-arrow" src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/arrow.svg" alt="category-img" />
                                    <?php endif;?>
                                    <?php $close_tags[ $item['depth'] ] = "</div>" ?>
                                    <?php endif ?>

                                    <?php /* ---------- Menu Item: TEXT ---------- */ ?>
                                    <?php if ($item['type'] == 'text'): ?>
                                <div class="catalog-menu--category menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                                    <?php echo $item['text'] ?>
                                    <?php $close_tags[ $item['depth'] ] = "</div>" ?>
                                    <?php endif ?>

                                    <?php /* ---------- Menu Item: HBOX ---------- */ ?>
                                    <?php if ($item['type'] == 'hbox'): ?>
                                <div class="catalog-menu--category menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
                                echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
                                echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
                                echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
                                ?>">
                                    <?php $close_tags[ $item['depth'] ] = "</div>" ?>
                                    <?php endif ?>

                                    <?php /* ---------- Menu Item: VBOX ---------- */ ?>
                                    <?php if ($item['type'] == 'vbox'): ?>
                                <div class="catalog-menu--category menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
                                echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
                                echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
                                echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
                                ?>">
                                    <?php $close_tags[ $item['depth'] ] = "</div>" ?>
                                    <?php endif ?>

                                    <?php $container_css = $item['container_css'] ?>

                        <?php endforeach; ?>
                   <?php /* ?> <ul>
                <?php foreach ($menu as $i => $item): ?>
                <?php $is_parent = ($i < count($menu) - 1) && $menu[$i+1]['depth'] > $item['depth'] ?>
                <?php echo $this->open_tag($close_tags, $item['depth'], $container_css) ?>
                <?php echo $this->close_tags($close_tags, $item['depth']) ?>


                <?php if ($item['type'] == 'link'): ?>
                <li class="menu-item-link menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                    <a href="<?php echo $model->filter($item['url']) ?>"
                        <?php if ($item['target']): ?>
                            target="<?php echo htmlspecialchars($item['target']) ?>"
                        <?php endif ?>
                    ><span><?php echo $item['label'] ?></span>
                        <?php if ($item['sublabel']): ?>
                            <small><?php echo $item['sublabel'] ?></small>
                        <?php endif ?>
                    </a>
                    <?php $close_tags[ $item['depth'] ] = "</li>" ?>
                    <?php endif ?>


                    <?php if ($item['type'] == 'text'): ?>
                <li class="menu-item-text menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
                    <?php echo $item['text'] ?>
                    <?php $close_tags[ $item['depth'] ] = "</li>" ?>
                    <?php endif ?>


                    <?php if ($item['type'] == 'hbox'): ?>
                <li class="menu-item-hbox menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
                echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
                echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
                echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
                ?>">
                    <?php $close_tags[ $item['depth'] ] = "</li>" ?>
                    <?php endif ?>


                    <?php if ($item['type'] == 'vbox'): ?>
                <li class="menu-item-vbox menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php
                echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
                echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
                echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
                ?>">
                    <?php $close_tags[ $item['depth'] ] = "</li>" ?>
                    <?php endif ?>

                    <?php $container_css = $item['container_css'] ?>
                    <?php endforeach ?>
                </ul>
                <?php */ ?>
    <?php echo $this->close_tags($close_tags, 0); ?>

            </div><!-- /catalog-menu--categories -->
            <?php //echo $this->getChildHtml('categoryMenu'); ?>
        </div><!-- /catalog-menu -->
    </div><!-- /container container-sticky--header -->


<?php /* ?>
<div class="em_nav">
	<ul class="<?php echo $data['type'] == 1 ? 'vnav' : 'hnav' ?> <?php echo $data['css_class'] ?>">
	<?php $close_tags = array() ?>
	<?php foreach ($menu as $i => $item): ?>
		<?php $is_parent = ($i < count($menu) - 1) && $menu[$i+1]['depth'] > $item['depth'] ?>
		<?php echo $this->open_tag($close_tags, $item['depth'], $container_css) ?>
		<?php echo $this->close_tags($close_tags, $item['depth']) ?>


		<?php if ($item['type'] == 'link'): ?>
			<li class="menu-item-link menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
				<a href="<?php echo $model->filter($item['url']) ?>" 
					<?php if ($item['target']): ?>
						target="<?php echo htmlspecialchars($item['target']) ?>"
					<?php endif ?>
				><span><?php echo $item['label'] ?></span>
					<?php if ($item['sublabel']): ?>
						<small><?php echo $item['sublabel'] ?></small>
					<?php endif ?>
				</a>
			<?php $close_tags[ $item['depth'] ] = "</li>" ?>
		<?php endif ?>


		<?php if ($item['type'] == 'text'): ?>
			<li class="menu-item-text menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>">
				<?php echo $item['text'] ?>
			<?php $close_tags[ $item['depth'] ] = "</li>" ?>
		<?php endif ?>


		<?php if ($item['type'] == 'hbox'): ?>
			<li class="menu-item-hbox menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php 
					echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
					echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
					echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
				?>">
			<?php $close_tags[ $item['depth'] ] = "</li>" ?>
		<?php endif ?>


		<?php if ($item['type'] == 'vbox'): ?>
			<li class="menu-item-vbox menu-item-depth-<?php echo $item['depth'] ?> <?php echo $item['css_class'] ?> <?php echo $is_parent ? 'menu-item-parent' : '' ?>" style="<?php 
					echo $item['width'] ? 'width:'.$item['width'].'px;' : '';
					echo $item['height'] ? 'height:'.$item['height'].'px;' : '';
					echo $item['spacing'] ? 'padding:'.$item['spacing'].'px;' : '';
				?>">
			<?php $close_tags[ $item['depth'] ] = "</li>" ?>
		<?php endif ?>

		<?php $container_css = $item['container_css'] ?>
	<?php endforeach ?>

	<?php echo $this->close_tags($close_tags, 0); ?>
	</ul>
</div>
<?php */
endif ?>