<section class="category-bar">
    <div class="wrapper wrapper-category--bar">
        <?php echo $this->getChildHtml('topMenuukrsnabBar'); ?>
        <?php echo $this->getChildHtml('toolbar_only');//categoryList'); ?>
    </div>
</section>