<?php
$block_data = $this->getBlockData();
$blocks = $block_data['block'];
$banners = $block_data['banners'];
$click_url = $this->getUrl('bannerslider/index/click');
?>



<section class="page-slider">
    <div class="wrapper wrapper-page--slider">
        <div class="page-slider--inner">
            <?php foreach ($banners as $banner):
                ?>
            <a class="page-slider--inner_item" onclick="bannerClicks('<?php echo $banner['banner_id'] ?>','<?php echo $blocks['bannerslider_id'] ?>', '<?php echo $banner['click_url'];?>')" href="<?php echo $banner['click_url']?>" style="background-image: url(<?php echo $this->getBannerImage($banner['image']); ?>)">
                <!--<img src="<?php echo Mage::helper('ukrsnab/data')->getSkinUrl();?>img/category/page-slider-gradient.png" alt="page-slider-gradient" />-->
                <!--<div class="title"><?php echo $banner['name'];?></div>
                <div class="desc"><?php echo $banner['image_alt'];?></div>-->
            </a>
            <?php endforeach;?>

        </div>
    </div>
</section>
<?php /* ?>

<script type="text/javascript" src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery-1.7.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery.flexslider.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/magestore/bannerslider/flexslider.css') ?>" media="all" />
<script type="text/javascript">    
    // Can also be used with $(document).ready()
    var j8 = jQuery.noConflict();
    j8(document).ready(function($) {
        j8('.flexslider-8-<?php echo $blocks['bannerslider_id'] ?>').flexslider({
            animation: "<?php echo $blocks['animationB'];?>",
            controlNav: "thumbnails",  
            slideshowSpeed: <?php echo $blocks['slider_speed'];?>,
            minItems: <?php echo $this->getMinItem($blocks['min_item']); ?>,
            maxItems: <?php echo $this->getMaxItem($blocks['max_item']); ?>
        });
    });
</script>
<div class="flexslider flexslider-8-<?php echo $blocks['bannerslider_id'] ?>">
   <ul class="slides"> 
    <?php foreach ($banners as $banner): ?>
            <li  data-thumb="<?php echo $this->getBannerImage($banner['image']); ?>">
                <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" onclick="bannerClicks('<?php echo $banner['banner_id'] ?>','<?php echo $blocks['bannerslider_id'] ?>')" style="display:block"><img alt="<?php echo $banner['image_alt'];?>" src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
            </li>
    <?php endforeach; ?>            
    </ul>
</div>

<script type="text/javascript">
        function bannerClicks(id_banner, id_slider){
		click_url = '<?php echo $click_url;?>';
		banner_id = id_banner;
		new Ajax.Request(click_url,{
			method: 'post',
			parameters:{id_banner: banner_id, slider_id:id_slider},
			onFailure: '',
			onSuccess: ''
			
		});
		
	}
    </script>
 <?php */ ?>