<?php
$block_data = $this->getBlockData();
$blocks = $block_data['block'];
$banners = $block_data['banners'];
$click_url = $this->getUrl('bannerslider/index/click');
/*?>
<script type="text/javascript" src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery-1.7.min.js') ?>"></script>
<script src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery.flexslider.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/magestore/bannerslider/flexslider.css') ?>" media="all" />
<script type="text/javascript">   
    var j7 = jQuery.noConflict();
    j7(document).ready(function($) {
        j7('.flexslider-7-<?php echo $blocks['bannerslider_id'] ?>').flexslider({
            animation: "<?php echo $blocks['animationB'];?>",
            slideshowSpeed: <?php echo $blocks['slider_speed'];?>
            //minItems: 2,
            //maxItems: <?php echo $this->getMaxItem($blocks['max_item']); ?>            
        });
    });
</script>
<div class="flexslider flexslider-7-<?php echo $blocks['bannerslider_id'] ?>">
    <ul class="slides"> 
    <?php foreach ($banners as $banner): ?>
            <li>
                <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" onclick="bannerClicks('<?php echo $banner['banner_id'] ?>','<?php echo $blocks['bannerslider_id'] ?>')" style="display:block"><img alt="<?php echo $banner['image_alt'];?>" src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
            </li>
    <?php endforeach; ?>        
    <!-- items mirrored twice, total of 12 -->
    </ul>
</div>
<script type="text/javascript">
        function bannerClicks(id_banner,id_slider){
		var click_url = '<?php echo $click_url;?>';
		banner_id = id_banner;
		new Ajax.Request(click_url,{
			method: 'post',
			parameters:{id_banner: banner_id, slider_id:id_slider},
			onFailure: '',
			onSuccess: ''
			
		});
		
	}
    </script>
<?php */
$data_ukrsnab=Mage::helper('ukrsnab');
$is_mobile=false;
if ($data_ukrsnab->isMobile()) $is_mobile=true;
    ?>
<?php foreach ($banners as $banner):
    /*echo '<pre>';
print_r($banner);
echo '</pre>';*/?>
    <div class="item">
        <a href="<?php echo $banner['click_url']; ?>" target="<?php echo $this->getTarget($banner['tartget'])?>"  class="item-inner" >
            <?php
            if ($is_mobile)
                $image_url=$this->getBannerImageMobile($banner['image_mobile']);
            else
                $image_url=$this->getBannerImage($banner['image']);

            ?>
            <img width="100%"  style="width:100%!important;" class="cwslazyloader1" src="<?php echo $image_url;?>"/>
        </a>
    </div>
<?php endforeach; ?>